openapi: 3.1.0
info:
  version: 16.10.0
  title: Amplify Platform API v1.0.0 aca API
  description: 'The Amplify Platform API provides the interface to perform the following:

    - Manage account settings and credentials

    - Manage organization settings, users, service accounts, and teams

    - Retrieve organization usage data

    - Register and manage applications

    - Retrieve application metrics and analytics

    - Retrieve user, organization, and application activity


    See the <a href="https://docs.axway.com/bundle/amplify-central/page/docs/integrate_with_central/platform-auth-examples/index.html" target="_blank">Amplify Guide</a> for documentation and examples on how to authorize API calls to platform services.


    For general documentation refer to the <a href="https://docs.axway.com/category/platform" target="_blank">Amplify Platform documentation</a>.


    &copy; Axway 2026. All rights reserved.'
  contact:
    email: support@axway.com
  termsOfService: https://www.axway.com/en/axway-platform-terms-of-use
servers:
- url: https://platform.axway.com/api/v1
tags:
- name: aca
paths:
  /aca/{app_id}/crash/{aca_id}/metadata/{name}:
    parameters: []
    put:
      summary: Axway Set Metadata by ID
      description: "Sets metadata in a crash record for the given crash ID by name and value\n\n___Auth Requirement___\n - `write` access to the organization to which the application belongs.\n"
      tags:
      - aca
      operationId: aca_setMetadata
      responses:
        '200':
          $ref: '#/components/responses/SuccessResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                ACA_METADATA_NOT_SET:
                  value:
                    success: false
                    description: Metadata was not set for this crash occurrence.
                    code: 400
                NOT_FOUND:
                  value:
                    $ref: '#/components/examples/NOT_FOUND/value'
                FORBIDDEN:
                  value:
                    $ref: '#/components/examples/FORBIDDEN/value'
                LOGIN_REQUIRED:
                  value:
                    $ref: '#/components/examples/LOGIN_REQUIRED/value'
                PARAM_INVALID:
                  value:
                    $ref: '#/components/examples/PARAM_INVALID/value'
                PARAM_REQUIRED:
                  value:
                    $ref: '#/components/examples/PARAM_REQUIRED/value'
      security:
      - BearerClient: []
      - SessionCookie: []
      - BearerUser: []
      parameters:
      - $ref: '#/components/parameters/fields'
        example: example_value
      - $ref: '#/components/parameters/exclude_fields'
        example: example_value
      - in: path
        name: aca_id
        required: true
        schema:
          type: string
          description: id of the crash record to set the metadata on.
        example: 507f1f77bcf86cd799439011
      - in: path
        name: app_id
        required: true
        schema:
          type: string
          description: '`guid` of the app to find.'
        example: 507f1f77bcf86cd799439011
      - in: path
        name: name
        required: true
        schema:
          type: string
          description: Name of the metadata item.
        example: Example Name
      requestBody:
        content:
          '*/*':
            schema:
              properties:
                value:
                  type: string
                  description: Value for the metadata item.
              required:
              - value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /aca/{app_id}/crash/{aca_id}:
    parameters: []
    get:
      summary: Axway Find Crash Record by ID
      description: "Returns a crash record for the given crash ID\n\n___Auth Requirement___\n - `write` access to the organization to which the application belongs.\n"
      tags:
      - aca
      operationId: aca_findOne
      responses:
        '200':
          $ref: '#/components/responses/SuccessResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                FORBIDDEN:
                  value:
                    $ref: '#/components/examples/FORBIDDEN/value'
                NOT_FOUND:
                  value:
                    $ref: '#/components/examples/NOT_FOUND/value'
                LOGIN_REQUIRED:
                  value:
                    $ref: '#/components/examples/LOGIN_REQUIRED/value'
                PARAM_INVALID:
                  value:
                    $ref: '#/components/examples/PARAM_INVALID/value'
                PARAM_REQUIRED:
                  value:
                    $ref: '#/components/examples/PARAM_REQUIRED/value'
      security:
      - BearerClient: []
      - SessionCookie: []
      - BearerUser: []
      parameters:
      - $ref: '#/components/parameters/fields'
        example: example_value
      - $ref: '#/components/parameters/exclude_fields'
        example: example_value
      - in: path
        name: aca_id
        required: true
        schema:
          type: string
          description: id of the crash record to find.
        example: 507f1f77bcf86cd799439011
      - in: path
        name: app_id
        required: true
        schema:
          type: string
          description: '`guid` of the app to find.'
        example: 507f1f77bcf86cd799439011
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    SuccessResponse:
      description: Success
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Success'
  schemas:
    Response:
      type: object
      properties:
        success:
          type: boolean
          description: Whether the request was successful.
          example: true
    Success:
      type: object
      allOf:
      - $ref: '#/components/schemas/Response'
      - type: object
        properties:
          result:
            description: The response data
    Error:
      type: object
      allOf:
      - $ref: '#/components/schemas/Response'
      - type: object
        properties:
          code:
            type: number
            description: HTTP status code.
          description:
            type: string
            description: A message describing the error.
          internalCode:
            type: number
            description: Internal code.
  parameters:
    exclude_fields:
      name: exclude_fields
      in: query
      description: A list of fields to exclude from the response.
      schema:
        type: array
        items:
          type: string
    fields:
      name: fields
      in: query
      description: A list of fields to include in the response.
      schema:
        type: array
        items:
          type: string
  examples:
    PARAM_INVALID:
      value:
        success: false
        description: '"%s" contained an invalid value.'
        code: 400
        internalCode: 74
    NOT_FOUND:
      value:
        success: false
        description: Resource Not Found
        code: 404
    FORBIDDEN:
      value:
        success: false
        description: You do not have access privileges to view this content.
        code: 403
    PARAM_REQUIRED:
      value:
        success: false
        description: '"%s" is a required parameter.'
        code: 400
        internalCode: 77
    LOGIN_REQUIRED:
      value:
        success: false
        description: Sign-in Required
        code: 401
  securitySchemes:
    AuthToken:
      description: Auth token for internal services
      type: apiKey
      in: header
      name: x-auth-token
    BearerClient:
      description: Service account access token
      type: http
      scheme: bearer
      bearerFormat: jwt
    BearerService:
      description: Service account access token for an internal client
      type: http
      scheme: bearer
      bearerFormat: jwt
    BearerUser:
      description: AxwayID user session access token
      type: http
      scheme: bearer
      bearerFormat: jwt
    MFA:
      description: Multi-factor authentication code
      type: apiKey
      in: header
      name: x-auth-code
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://login.axway.com/auth/realms/Broker/protocol/openid-connect/token
          scopes: {}
        authorizationCode:
          authorizationUrl: https://login.axway.com/auth/realms/Broker/openid-connect/auth
          tokenUrl: https://login.axway.com/auth/realms/Broker/openid-connect/token
          scopes: {}
        implicit:
          authorizationUrl: https://login.axway.com/auth/realms/Broker/openid-connect/auth
          scopes: {}
    Password:
      description: User password
      type: apiKey
      in: header
      name: x-auth-password
    SessionCookie:
      description: Platform session cookie
      type: apiKey
      in: cookie
      name: connect.sid
