openapi: 3.1.0
info:
  version: 16.10.0
  title: Amplify Platform API v1.0.0 aca activity API
  description: 'The Amplify Platform API provides the interface to perform the following:

    - Manage account settings and credentials

    - Manage organization settings, users, service accounts, and teams

    - Retrieve organization usage data

    - Register and manage applications

    - Retrieve application metrics and analytics

    - Retrieve user, organization, and application activity


    See the <a href="https://docs.axway.com/bundle/amplify-central/page/docs/integrate_with_central/platform-auth-examples/index.html" target="_blank">Amplify Guide</a> for documentation and examples on how to authorize API calls to platform services.


    For general documentation refer to the <a href="https://docs.axway.com/category/platform" target="_blank">Amplify Platform documentation</a>.


    &copy; Axway 2026. All rights reserved.'
  contact:
    email: support@axway.com
  termsOfService: https://www.axway.com/en/axway-platform-terms-of-use
servers:
- url: https://platform.axway.com/api/v1
tags:
- name: activity
paths:
  /activity/event:
    parameters: []
    get:
      summary: Axway Get Activity Event Names
      description: "Returns list of known activity event names\n\n___Auth Requirement___\n - _One of_\n     - Signed-in user.\n     - Service account access token.\n"
      tags:
      - activity
      operationId: activity_findEvents
      responses:
        '200':
          $ref: '#/components/responses/SuccessResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                LOGIN_REQUIRED:
                  value:
                    $ref: '#/components/examples/LOGIN_REQUIRED/value'
                FORBIDDEN:
                  value:
                    $ref: '#/components/examples/FORBIDDEN/value'
                PARAM_INVALID:
                  value:
                    $ref: '#/components/examples/PARAM_INVALID/value'
      security:
      - SessionCookie: []
      - BearerUser: []
      - BearerClient: []
      parameters:
      - $ref: '#/components/parameters/fields'
        example: example_value
      - $ref: '#/components/parameters/exclude_fields'
        example: example_value
      - in: header
        name: authorization
        required: false
        schema:
          type: string
          description: Bearer token in JWT format to authorize the request.
        example: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /activity:
    parameters: []
    get:
      summary: Axway Get Activity
      description: "Returns all of the activity events for the signed-in user\n\n___Auth Requirement___\n - Access to the organization, allowing consumer role.\n\n\n_Allows consumer organization access_\n"
      tags:
      - activity
      operationId: activity_find
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Response'
                - properties:
                    result:
                      title: EventsList
                      type: array
                      description: A list of Events objects.
                      items:
                        type: object
                        oneOf:
                        - type: object
                          title: api_central.provision
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/api_central.provision'
                            event:
                              enum:
                              - api_central.provision
                        - type: object
                          title: api_central.provisioned
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/api_central.provisioned'
                            event:
                              enum:
                              - api_central.provisioned
                        - type: object
                          title: apic.ucs.catalogitem.create
                          properties:
                            context:
                              enum:
                              - catalog
                            data:
                              $ref: '#/components/schemas/apic.ucs.catalogitem.create'
                            event:
                              enum:
                              - apic.ucs.catalogitem.create
                        - type: object
                          title: apic.ucs.catalogitem.remove
                          properties:
                            context:
                              enum:
                              - catalog
                            data:
                              $ref: '#/components/schemas/apic.ucs.catalogitem.remove'
                            event:
                              enum:
                              - apic.ucs.catalogitem.remove
                        - type: object
                          title: apic.ucs.catalogitem.share
                          properties:
                            context:
                              enum:
                              - catalog
                            data:
                              $ref: '#/components/schemas/apic.ucs.catalogitem.share'
                            event:
                              enum:
                              - apic.ucs.catalogitem.share
                        - type: object
                          title: apic.ucs.catalogitem.update
                          properties:
                            context:
                              enum:
                              - catalog
                            data:
                              $ref: '#/components/schemas/apic.ucs.catalogitem.update'
                            event:
                              enum:
                              - apic.ucs.catalogitem.update
                        - type: object
                          title: apic.ucs.subscription.create
                          properties:
                            context:
                              enum:
                              - catalog
                            data:
                              $ref: '#/components/schemas/apic.ucs.subscription.create'
                            event:
                              enum:
                              - apic.ucs.subscription.create
                        - type: object
                          title: apic.ucs.subscription.remove
                          properties:
                            context:
                              enum:
                              - catalog
                            data:
                              $ref: '#/components/schemas/apic.ucs.subscription.remove'
                            event:
                              enum:
                              - apic.ucs.subscription.remove
                        - type: object
                          title: apic.ucs.subscription.update
                          properties:
                            context:
                              enum:
                              - catalog
                            data:
                              $ref: '#/components/schemas/apic.ucs.subscription.update'
                            event:
                              enum:
                              - apic.ucs.subscription.update
                        - type: object
                          title: apicentral.{resource}.{action}
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral._._'
                            event:
                              pattern: apicentral\.\w+\.\w+
                        - type: object
                          title: apicentral.{resource}.{subresource}.update
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral._._.update'
                            event:
                              pattern: apicentral\.\w+\.\w+\.update
                        - type: object
                          title: apicentral.agent.create
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral.agent.create'
                            event:
                              enum:
                              - apicentral.agent.create
                        - type: object
                          title: apicentral.agent.failed
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral.agent.failed'
                            event:
                              enum:
                              - apicentral.agent.failed
                        - type: object
                          title: apicentral.agent.remove
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral.agent.remove'
                            event:
                              enum:
                              - apicentral.agent.remove
                        - type: object
                          title: apicentral.agent.start
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral.agent.start'
                            event:
                              enum:
                              - apicentral.agent.start
                        - type: object
                          title: apicentral.agent.stop
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral.agent.stop'
                            event:
                              enum:
                              - apicentral.agent.stop
                        - type: object
                          title: apicentral.agent.unhealthy
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral.agent.unhealthy'
                            event:
                              enum:
                              - apicentral.agent.unhealthy
                        - type: object
                          title: apicentral.apiservice.create
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral.apiservice.create'
                            event:
                              enum:
                              - apicentral.apiservice.create
                        - type: object
                          title: apicentral.apiservice.remove
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral.apiservice.remove'
                            event:
                              enum:
                              - apicentral.apiservice.remove
                        - type: object
                          title: apicentral.apiservice.update
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral.apiservice.update'
                            event:
                              enum:
                              - apicentral.apiservice.update
                        - type: object
                          title: apicentral.asset.create
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral.asset.create'
                            event:
                              enum:
                              - apicentral.asset.create
                        - type: object
                          title: apicentral.asset.remove
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral.asset.remove'
                            event:
                              enum:
                              - apicentral.asset.remove
                        - type: object
                          title: apicentral.asset.update
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral.asset.update'
                            event:
                              enum:
                              - apicentral.asset.update
                        - type: object
                          title: apicentral.credential.expire
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral.credential.expire'
                            event:
                              enum:
                              - apicentral.credential.expire
                        - type: object
                          title: apicentral.documentresource.create
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral.documentresource.create'
                            event:
                              enum:
                              - apicentral.documentresource.create
                        - type: object
                          title: apicentral.documentresource.remove
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral.documentresource.remove'
                            event:
                              enum:
                              - apicentral.documentresource.remove
                        - type: object
                          title: apicentral.documentresource.update
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral.documentresource.update'
                            event:
                              enum:
                              - apicentral.documentresource.update
                        - type: object
                          title: apicentral.env.create
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral.env.create'
                            event:
                              enum:
                              - apicentral.env.create
                        - type: object
                          title: apicentral.env.remove
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral.env.remove'
                            event:
                              enum:
                              - apicentral.env.remove
                        - type: object
                          title: apicentral.env.update
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral.env.update'
                            event:
                              enum:
                              - apicentral.env.update
                        - type: object
                          title: apicentral.publisheddocumentresource.create
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral.publisheddocumentresource.create'
                            event:
                              enum:
                              - apicentral.publisheddocumentresource.create
                        - type: object
                          title: apicentral.publisheddocumentresource.remove
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral.publisheddocumentresource.remove'
                            event:
                              enum:
                              - apicentral.publisheddocumentresource.remove
                        - type: object
                          title: apicentral.publishedproduct.create
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral.publishedproduct.create'
                            event:
                              enum:
                              - apicentral.publishedproduct.create
                        - type: object
                          title: apicentral.publishedproduct.remove
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral.publishedproduct.remove'
                            event:
                              enum:
                              - apicentral.publishedproduct.remove
                        - type: object
                          title: apicentral.subscription.create
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral.subscription.create'
                            event:
                              enum:
                              - apicentral.subscription.create
                        - type: object
                          title: apicentral.subscription.remove
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral.subscription.remove'
                            event:
                              enum:
                              - apicentral.subscription.remove
                        - type: object
                          title: com.appcelerator.platform.org.user.create
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/com.appcelerator.platform.org.user.create'
                            event:
                              enum:
                              - com.appcelerator.platform.org.user.create
                        - type: object
                          title: com.appcelerator.platform.org.user.remove
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/com.appcelerator.platform.org.user.remove'
                            event:
                              enum:
                              - com.appcelerator.platform.org.user.remove
                        - type: object
                          title: marketplace.ai.disable
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/marketplace.ai.disable'
                            event:
                              enum:
                              - marketplace.ai.disable
                        - type: object
                          title: marketplace.ai.enable
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/marketplace.ai.enable'
                            event:
                              enum:
                              - marketplace.ai.enable
                        - type: object
                          title: marketplace.ai.update
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/marketplace.ai.update'
                            event:
                              enum:
                              - marketplace.ai.update
                        - type: object
                          title: marketplace.appearance.update
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/marketplace.appearance.update'
                            event:
                              enum:
                              - marketplace.appearance.update
                        - type: object
                          title: marketplace.billing.disable
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/marketplace.billing.disable'
                            event:
                              enum:
                              - marketplace.billing.disable
                        - type: object
                          title: marketplace.billing.enable
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/marketplace.billing.enable'
                            event:
                              enum:
                              - marketplace.billing.enable
                        - type: object
                          title: marketplace.billing.update
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/marketplace.billing.update'
                            event:
                              enum:
                              - marketplace.billing.update
                        - type: object
                          title: marketplace.consumer.active
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/marketplace.consumer.active'
                            event:
                              enum:
                              - marketplace.consumer.active
                        - type: object
                          title: marketplace.consumer.approve
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/marketplace.consumer.approve'
                            event:
                              enum:
                              - marketplace.consumer.approve
                        - type: object
                          title: marketplace.consumer.deny
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/marketplace.consumer.deny'
                            event:
                              enum:
                              - marketplace.consumer.deny
                        - type: object
                          title: marketplace.consumer.inactive
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/marketplace.consumer.inactive'
                            event:
                              enum:
                              - marketplace.consumer.inactive
                        - type: object
                          title: marketplace.consumer.remove
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/marketplace.consumer.remove'
                            event:
                              enum:
                              - marketplace.consumer.remove
                        - type: object
                          title: marketplace.consumer.signup
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/marketplace.consumer.signup'
                            event:
                              enum:
                              - marketplace.consumer.signup
                        - type: object
                          title: marketplace.create
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/marketplace.create'
                            event:
                              enum:
                              - marketplace.create
                        - type: object
                          title: marketplace.idp.create
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/marketplace.idp.create'
                            event:
                              enum:
                              - marketplace.idp.create
                        - type: object
                          title: marketplace.idp.remove
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/marketplace.idp.remove'
                            event:
                              enum:
                              - marketplace.idp.remove
                        - type: object
                          title: marketplace.idp.update
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/marketplace.idp.update'
                            event:
                              enum:
                              - marketplace.idp.update
                        - type: object
                          title: marketplace.lang.update
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/marketplace.lang.update'
                            event:
                              enum:
                              - marketplace.lang.update
                        - type: object
                          title: marketplace.onboarding.disable
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/marketplace.onboarding.disable'
                            event:
                              enum:
                              - marketplace.onboarding.disable
                        - type: object
                          title: marketplace.onboarding.enable
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/marketplace.onboarding.enable'
                            event:
                              enum:
                              - marketplace.onboarding.enable
                        - type: object
                          title: marketplace.onboarding.update
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/marketplace.onboarding.update'
                            event:
                              enum:
                              - marketplace.onboarding.update
                        - type: object
                          title: marketplace.remove
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/marketplace.remove'
                            event:
                              enum:
                              - marketplace.remove
                        - type: object
                          title: marketplace.settings.update
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/marketplace.settings.update'
                            event:
                              enum:
                              - marketplace.settings.update
                        - type: object
                          title: marketplace.user.remove
                          properties:
                            context:
                              enum:
                              - user
                            data:
                              $ref: '#/components/schemas/marketplace.user.remove'
                            event:
                              enum:
                              - marketplace.user.remove
                        - type: object
                          title: platform.activation.access
                          properties:
                            context:
                              enum:
                              - user
                            data:
                              $ref: '#/components/schemas/platform.activation.access'
                            event:
                              enum:
                              - platform.activation.access
                        - type: object
                          title: platform.activation.complete
                          properties:
                            context:
                              enum:
                              - user
                            data:
                              $ref: '#/components/schemas/platform.activation.complete'
                            event:
                              enum:
                              - platform.activation.complete
                        - type: object
                          title: platform.activation.send
                          properties:
                            context:
                              enum:
                              - user
                            data:
                              $ref: '#/components/schemas/platform.activation.send'
                            event:
                              enum:
                              - platform.activation.send
                        - type: object
                          title: platform.app.create
                          properties:
                            context:
                              enum:
                              - app
                            data:
                              $ref: '#/components/schemas/platform.app.create'
                            event:
                              enum:
                              - platform.app.create
                        - type: object
                          title: platform.app.remove
                          properties:
                            context:
                              enum:
                              - app
                            data:
                              $ref: '#/components/schemas/platform.app.remove'
                            event:
                              enum:
                              - platform.app.remove
                        - type: object
                          title: platform.app.update
                          properties:
                            context:
                              enum:
                              - app
                            data:
                              $ref: '#/components/schemas/platform.app.update'
                            event:
                              enum:
                              - platform.app.update
                        - type: object
                          title: platform.client.create
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.client.create'
                            event:
                              enum:
                              - platform.client.create
                        - type: object
                          title: platform.client.remove
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.client.remove'
                            event:
                              enum:
                              - platform.client.remove
                        - type: object
                          title: platform.client.update
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.client.update'
                            event:
                              enum:
                              - platform.client.update
                        - type: object
                          title: platform.env.create
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.env.create'
                            event:
                              enum:
                              - platform.env.create
                        - type: object
                          title: platform.env.remove
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.env.remove'
                            event:
                              enum:
                              - platform.env.remove
                        - type: object
                          title: platform.env.update
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.env.update'
                            event:
                              enum:
                              - platform.env.update
                        - type: object
                          title: platform.login.failed
                          properties:
                            context:
                              enum:
                              - user
                            data:
                              $ref: '#/components/schemas/platform.login.failed'
                            event:
                              enum:
                              - platform.login.failed
                        - type: object
                          title: platform.login
                          properties:
                            context:
                              enum:
                              - user
                            data:
                              $ref: '#/components/schemas/platform.login'
                            event:
                              enum:
                              - platform.login
                        - type: object
                          title: platform.logout
                          properties:
                            context:
                              enum:
                              - auth
                            data:
                              $ref: '#/components/schemas/platform.logout'
                            event:
                              enum:
                              - platform.logout
                        - type: object
                          title: platform.org.active
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.org.active'
                            event:
                              enum:
                              - platform.org.active
                        - type: object
                          title: platform.org.branding.update
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.org.branding.update'
                            event:
                              enum:
                              - platform.org.branding.update
                        - type: object
                          title: platform.org.create
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.org.create'
                            event:
                              enum:
                              - platform.org.create
                        - type: object
                          title: platform.org.idp.create
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.org.idp.create'
                            event:
                              enum:
                              - platform.org.idp.create
                        - type: object
                          title: platform.org.idp.domain.associate
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.org.idp.domain.associate'
                            event:
                              enum:
                              - platform.org.idp.domain.associate
                        - type: object
                          title: platform.org.idp.domain.confirm
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.org.idp.domain.confirm'
                            event:
                              enum:
                              - platform.org.idp.domain.confirm
                        - type: object
                          title: platform.org.idp.domain.create
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.org.idp.domain.create'
                            event:
                              enum:
                              - platform.org.idp.domain.create
                        - type: object
                          title: platform.org.idp.domain.dissociate
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.org.idp.domain.dissociate'
                            event:
                              enum:
                              - platform.org.idp.domain.dissociate
                        - type: object
                          title: platform.org.idp.domain.remove
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.org.idp.domain.remove'
                            event:
                              enum:
                              - platform.org.idp.domain.remove
                        - type: object
                          title: platform.org.idp.remove
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.org.idp.remove'
                            event:
                              enum:
                              - platform.org.idp.remove
                        - type: object
                          title: platform.org.idp.update
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.org.idp.update'
                            event:
                              enum:
                              - platform.org.idp.update
                        - type: object
                          title: platform.org.inactive
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.org.inactive'
                            event:
                              enum:
                              - platform.org.inactive
                        - type: object
                          title: platform.org.security.update
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.org.security.update'
                            event:
                              enum:
                              - platform.org.security.update
                        - type: object
                          title: platform.org.update
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.org.update'
                            event:
                              enum:
                              - platform.org.update
                        - type: object
                          title: platform.org.user.idp.update
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.org.user.idp.update'
                            event:
                              enum:
                              - platform.org.user.idp.update
                        - type: object
                          title: platform.org.user.primary
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.org.user.primary'
                            event:
                              enum:
                              - platform.org.user.primary
                        - type: object
                          title: platform.org.user.resent
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.org.user.resent'
                            event:
                              enum:
                              - platform.org.user.resent
                        - type: object
                          title: platform.org.user.role.update
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.org.user.role.update'
                            event:
                              enum:
                              - platform.org.user.role.update
                        - type: object
                          title: platform.session.create
                          properties:
                            context:
                              enum:
                              - auth
                            data:
                              $ref: '#/components/schemas/platform.session.create'
                            event:
                              enum:
                              - platform.session.create
                        - type: object
                          title: platform.subscription.create
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.subscription.create'
                            event:
                              enum:
                              - platform.subscription.create
                        - type: object
                          title: platform.subscription.delete
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.subscription.delete'
                            event:
                              enum:
                              - platform.subscription.delete
                        - type: object
                          title: platform.subscription.expired
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.subscription.expired'
                            event:
                              enum:
                              - platform.subscription.expired
                        - type: object
                          title: platform.subscription.update
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.subscription.update'
                            event:
                              enum:
                              - platform.subscription.update
                        - type: object
                          title: platform.team.app.add
                          properties:
                            context:
                              enum:
                              - team
                            data:
                              $ref: '#/components/schemas/platform.team.app.add'
                            event:
                              enum:
                              - platform.team.app.add
                        - type: object
                          title: platform.team.app.remove
                          properties:
                            context:
                              enum:
                              - team
                            data:
                              $ref: '#/components/schemas/platform.team.app.remove'
                            event:
                              enum:
                              - platform.team.app.remove
                        - type: object
                          title: platform.team.create
                          properties:
                            context:
                              enum:
                              - team
                            data:
                              $ref: '#/components/schemas/platform.team.create'
                            event:
                              enum:
                              - platform.team.create
                        - type: object
                          title: platform.team.default
                          properties:
                            context:
                              enum:
                              - team
                            data:
                              $ref: '#/components/schemas/platform.team.default'
                            event:
                              enum:
                              - platform.team.default
                        - type: object
                          title: platform.team.remove
                          properties:
                            context:
                              enum:
                              - team
                            data:
                              $ref: '#/components/schemas/platform.team.remove'
                            event:
                              enum:
                              - platform.team.remove
                        - type: object
                          title: platform.team.update
                          properties:
                            context:
                              enum:
                              - team
                            data:
                              $ref: '#/components/schemas/platform.team.update'
                            event:
                              enum:
                              - platform.team.update
                        - type: object
                          title: platform.team.user.add
                          properties:
                            context:
                              enum:
                              - team
                            data:
                              $ref: '#/components/schemas/platform.team.user.add'
                            event:
                              enum:
                              - platform.team.user.add
                        - type: object
                          title: platform.team.user.remove
                          properties:
                            context:
                              enum:
                              - team
                            data:
                              $ref: '#/components/schemas/platform.team.user.remove'
                            event:
                              enum:
                              - platform.team.user.remove
                        - type: object
                          title: platform.team.user.role.update
                          properties:
                            context:
                              enum:
                              - team
                            data:
                              $ref: '#/components/schemas/platform.team.user.role.update'
                            event:
                              enum:
                              - platform.team.user.role.update
                        - type: object
                          title: platform.terms.accept
                          properties:
                            context:
                              enum:
                              - user
                            data:
                              $ref: '#/components/schemas/platform.terms.accept'
                            event:
                              enum:
                              - platform.terms.accept
                        - type: object
                          title: platform.user.mfa.app.add
                          properties:
                            context:
                              enum:
                              - user
                            data:
                              $ref: '#/components/schemas/platform.user.mfa.app.add'
                            event:
                              enum:
                              - platform.user.mfa.app.add
                        - type: object
                          title: platform.user.mfa.app.remove
                          properties:
                            context:
                              enum:
                              - user
                            data:
                              $ref: '#/components/schemas/platform.user.mfa.app.remove'
                            event:
                              enum:
                              - platform.user.mfa.app.remove
                        - type: object
                          title: platform.user.mfa.disabled
                          properties:
                            context:
                              enum:
                              - user
                            data:
                              $ref: '#/components/schemas/platform.user.mfa.disabled'
                            event:
                              enum:
                              - platform.user.mfa.disabled
                        - type: object
                          title: platform.user.mfa.enabled
                          properties:
                            context:
                              enum:
                              - user
                            data:
                              $ref: '#/components/schemas/platform.user.mfa.enabled'
                            event:
                              enum:
                              - platform.user.mfa.enabled
                        - type: object
                          title: platform.user.password.change
                          properties:
                            context:
                              enum:
                              - user
                            data:
                              $ref: '#/components/schemas/platform.user.password.change'
                            event:
                              enum:
                              - platform.user.password.change
                        - type: object
                          title: platform.user.password.reset
                          properties:
                            context:
                              enum:
                              - user
                            data:
                              $ref: '#/components/schemas/platform.user.password.reset'
                            event:
                              enum:
                              - platform.user.password.reset
                        - type: object
                          title: platform.user.social.disable
                          properties:
                            context:
                              enum:
                              - user
                            data:
                              $ref: '#/components/schemas/platform.user.social.disable'
                            event:
                              enum:
                              - platform.user.social.disable
                        - type: object
                          title: platform.user.social.enable
                          properties:
                            context:
                              enum:
                              - user
                            data:
                              $ref: '#/components/schemas/platform.user.social.enable'
                            event:
                              enum:
                              - platform.user.social.enable
                        - type: object
                          title: platform.user.update
                          properties:
                            context:
                              enum:
                              - user
                            data:
                              $ref: '#/components/schemas/platform.user.update'
                            event:
                              enum:
                              - platform.user.update
                        properties:
                          event:
                            type: string
                            description: The event name.
                          id:
                            type: string
                            description: Event identifier.
                          ts:
                            type: number
                            description: Timestamp of when the event occurred.
                          message:
                            type: string
                            description: Message describing the event.
                          context:
                            type: string
                            description: The context the event is for.
                - properties:
                    metadata:
                      type: object
                      description: Result metadata.
                      properties:
                        contexts:
                          type: string
                          description: Type of events included in the response.
                        query:
                          type: object
                          description: Activity query. Included when debug is true.
                - properties:
                    metadata:
                      $ref: '#/components/schemas/ResponseMetadata'
              examples:
                ActivityFind200Example:
                  summary: Default activity_find 200 response
                  x-microcks-default: true
                  value: example_value
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                FORBIDDEN:
                  value:
                    $ref: '#/components/examples/FORBIDDEN/value'
                NOT_FOUND:
                  value:
                    $ref: '#/components/examples/NOT_FOUND/value'
                IDP_REQUIRED:
                  value:
                    $ref: '#/components/examples/IDP_REQUIRED/value'
                USER_NOT_ADMIN:
                  value:
                    $ref: '#/components/examples/USER_NOT_ADMIN/value'
                LOGIN_REQUIRED:
                  value:
                    $ref: '#/components/examples/LOGIN_REQUIRED/value'
                PARAM_INVALID:
                  value:
                    $ref: '#/components/examples/PARAM_INVALID/value'
      security:
      - BearerClient: []
      - SessionCookie: []
      - BearerUser: []
      parameters:
      - $ref: '#/components/parameters/fields'
        example: example_value
      - $ref: '#/components/parameters/exclude_fields'
        example: example_value
      - in: query
        name: app_guid
        required: false
        schema:
          type: string
          description: guid of the app to query.
        example: example_value
      - in: query
        name: contexts
        required: false
        schema:
          type: array
          description: Type of events to return.
          items:
            type: string
            enum:
            - api_central
            - app
            - auth
            - catalog
            - org
            - team
            - user
        example:
        - api_central
      - in: query
        name: data
        required: false
        schema:
          type: boolean
          description: Return event and data properties for events
        example: true
      - in: query
        name: enrich
        required: false
        schema:
          type: boolean
          description: Whether to replace identifiers with user names in event messages. Requires "limit" parameter to be passed.
        example: true
      - in: query
        name: exclude_contexts
        required: false
        schema:
          type: array
          description: Type of events to exclude.
          items:
            type: string
            enum:
            - api_central
            - app
            - auth
            - catalog
            - org
            - team
            - user
        example:
        - api_central
      - in: query
        name: from
        required: false
        schema:
          type: number
          description: Starting timestamp to get data for.
        example: 1.0
      - in: query
        name: org_id
        required: false
        schema:
          type: string
          description: '`guid` or `org_id` of the org to query.'
        example: 507f1f77bcf86cd799439011
      - in: query
        name: redact
        required: false
        schema:
          type: boolean
          description: Whether to apply redaction of email addresses per the org's setting.
        example: true
      - in: query
        name: sort
        required: false
        schema:
          type: number
          description: 'Sort direction: `1` - ascending, `-1` - descending.'
          enum:
          - -1
          - 1
          default: -1
        example: -1
      - in: query
        name: term
        required: false
        schema:
          type: string
          description: Prefix or exact search term
        example: example_value
      - in: query
        name: to
        required: false
        schema:
          type: number
          description: Ending timestamp to get data for.
        example: 1.0
      - in: query
        name: user_guid
        required: false
        schema:
          type: string
          description: guid of the user to query.
        example: example_value
      - in: query
        name: user_messages
        required: false
        schema:
          type: boolean
          description: Use user-specific message for events for the signed-in user.
        example: true
      - in: query
        name: limit
        required: false
        schema:
          type: number
          minimum: 0
          maximum: 100
          description: Number of results per page. Zero will return an empty result, but the matched count in meta will be returned.
          default: 25
        example: 1.0
      - in: query
        name: page
        required: false
        schema:
          type: number
          description: Page of results.
          default: 1
        example: 1.0
      - in: query
        name: skip
        required: false
        schema:
          type: number
          description: Number of items to skip in results, used for pagination.
          default: 0
        example: 1.0
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    platform.user.password.change:
      type: object
      description: Published when a users password is updated.
      x-context: user
      allOf:
      - $ref: '#/components/schemas/EventDataOrg'
      - $ref: '#/components/schemas/EventDataActionUser'
      - $ref: '#/components/schemas/EventDataUser'
      properties:
        ip:
          type: string
          description: Anonymized IP address.
          example: 10.0.0.1
    Provider:
      properties:
        lang:
          properties:
            supported:
              type: array
              description: Languages supported by the marketplace.
              default:
              - en-US
              items:
                type: string
                enum:
                - en-US
                - fr-FR
                - de-DE
                - pt-BR
            products:
              type: string
              description: Behavior for display of products in the marketplace based on translation state.
              default: all
              enum:
              - all
              - translated
            default:
              type: string
              description: Default language to use for users of the marketplace.
              default: en-US
              enum:
              - en-US
              - fr-FR
              - de-DE
              - pt-BR
        oauth:
          properties:
            gitlab:
              properties:
                enabled:
                  type: boolean
                  description: Whether "Sign in with GitLab" is enabled for the provider marketplace's consumer users.
                  default: false
                secret_updated:
                  type: string
                  format: date-time
                  description: Date client_secret last updated.
            google:
              properties:
                enabled:
                  type: boolean
                  description: Whether "Sign in with Google" is enabled for the provider marketplace's consumer users.
                  default: false
                secret_updated:
                  type: string
                  format: date-time
                  description: Date client_secret last updated.
            github:
              properties:
                enabled:
                  type: boolean
                  description: Whether "Sign in with GitHub" is enabled for the provider marketplace's consumer users.
                  default: false
                secret_updated:
                  type: string
                  format: date-time
                  description: Date client_secret last updated.
        terms_url:
          type: string
          format: url
          description: URL of the provider marketplace Terms & Conditions.
          example: https://example.com
        reviews:
          type: object
          description: Ratings & Reviews settings for the provider marketplace.
          default:
            enabled: false
          properties:
            enabled:
              type: boolean
              description: Whether Ratings & Reviews are enabled for the provider marketplace.
            char_limit:
              type: number
              description: Character limit for written feedback for products or services in the provider marketplace.
              enum:
              - 280
              - 1000
              - 4000
            flagged_handling:
              type: string
              description: How reported review content is handled within the provider marketplace
              enum:
              - hide
              - show
            instructions:
              type: object
              description: Review guidelines and policies within the provider marketplace.
              default: {}
              properties:
                en-US:
                  type: string
                  description: English language value.
                  allOf:
                  - $ref: '#/components/schemas/Provider/x-defs/reviews.instructions'
                fr-FR:
                  type: string
                  description: French language value.
                  allOf:
                  - $ref: '#/components/schemas/Provider/x-defs/reviews.instructions'
                de-DE:
                  type: string
                  description: German language value.
                  allOf:
                  - $ref: '#/components/schemas/Provider/x-defs/reviews.instructions'
                pt-BR:
                  type: string
                  description: Portuguese language value.
                  allOf:
                  - $ref: '#/components/schemas/Provider/x-defs/reviews.instructions'
            moderation_process:
              type: string
              description: Which type of moderation process is to be used for reviews in the provider marketplace
              enum:
              - manual
              - automatic
            permissions:
              type: string
              description: Who is allowed to provide feedback for products or services in the provider marketplace.
              enum:
              - subscribers
              - all
            public_responses:
              type: boolean
              description: Whether to enable public responses to reviews in the provider marketplace.
            response_time:
              type: number
              description: Expected response time for feedback in the provider marketplace, in `response_time_unit`.
              minimum: 1
            response_time_unit:
              type: string
              description: Unit of time that `response_time` correlates to.
          example:
            enabled: true
            char_limit: 280
            flagged_handling: hide
            instructions:
              en-US: example_value
              fr-FR: example_value
              de-DE: example_value
              pt-BR: example_value
            moderation_process: manual
            permissions: subscribers
            public_responses: true
            response_time: 1.0
            response_time_unit: example_value
        public:
          type: boolean
          description: Whether the provider marketplace allows access to unauthenticated users or users authenticated to orgs other than the provider org.
          default: false
          example: true
        help_menu:
          type: object
          description: Content shown in the navigation bar help menu.
          default: {}
          properties:
            en-US:
              type: array
              description: English language value.
              allOf:
              - $ref: '#/components/schemas/Provider/x-defs/help_menu'
            fr-FR:
              type: array
              description: French language value.
              allOf:
              - $ref: '#/components/schemas/Provider/x-defs/help_menu'
            de-DE:
              type: array
              description: German language value.
              allOf:
              - $ref: '#/components/schemas/Provider/x-defs/help_menu'
            pt-BR:
              type: array
              description: Portuguese language value.
              allOf:
              - $ref: '#/components/schemas/Provider/x-defs/help_menu'
          example:
            en-US:
            - example_value
            fr-FR:
            - example_value
            de-DE:
            - example_value
            pt-BR:
            - example_value
        sitename:
          type: object
          description: Page title of the provider marketplace instance.
          default: {}
          properties:
            en-US:
              type: string
              description: English language value.
              allOf:
              - $ref: '#/components/schemas/Provider/x-defs/sitename'
            fr-FR:
              type: string
              description: French language value.
              allOf:
              - $ref: '#/components/schemas/Provider/x-defs/sitename'
            de-DE:
              type: string
              description: German language value.
              allOf:
              - $ref: '#/components/schemas/Provider/x-defs/sitename'
            pt-BR:
              type: string
              description: Portuguese language value.
              allOf:
              - $ref: '#/components/schemas/Provider/x-defs/sitename'
          example:
            en-US: example_value
            fr-FR: example_value
            de-DE: example_value
            pt-BR: example_value
        consumer_approve:
          type: boolean
          description: Whether to Require newly registered consumer organizations in the marketplace to require approval from an organization administrator.
          default: false
          example: true
        signup:
          type: boolean
          description: Whether to allow self-service sign up for consumer organizations in the marketplace.
          default: false
          example: true
        name:
          type: object
          description: Name of the provider marketplace instance.
          default: {}
          properties:
            en-US:
              type: string
              description: English language value.
              allOf:
              - $ref: '#/components/schemas/Provider/x-defs/name'
            fr-FR:
              type: string
              description: French language value.
              allOf:
              - $ref: '#/components/schemas/Provider/x-defs/name'
            de-DE:
              type: string
              description: German language value.
              allOf:
              - $ref: '#/components/schemas/Provider/x-defs/name'
            pt-BR:
              type: string
              description: Portuguese language value.
              allOf:
              - $ref: '#/components/schemas/Provider/x-defs/name'
          example:
            en-US: example_value
            fr-FR: example_value
            de-DE: example_value
            pt-BR: example_value
        guid:
          type: string
          description: Identifier of the provider marketplace instance.
          example: example_value
        idp:
          type: boolean
          description: Whether to allow consumer organizations in the marketplace to establish custom Identity Providers.
          default: false
          example: true
        admin_teams:
          description: Administration access.
          default: false
          oneOf:
          - type: boolean
            description: Flag indicating if `marketplace_admin` role members in all teams can administer the provider marketplace.
          - type: array
            description: '`guid` of a selected team whose `marketplace_admin` role members can administer the provider marketplace.'
            items:
              type: string
              format: uuid
          example: example_value
        certificate_expires:
          type: string
          format: date-time
          description: Expiry date of certificate provided for marketplace domain.
          example: '2026-04-21T00:00:00Z'
        consumer:
          type: boolean
          description: Whether to allow authenticated consumer org user access to the marketplace.
          default: false
          example: true
        idp_hint:
          type:
          - string
          - 'null'
          description: Identity Provider `guid` to use for sign in attempts originating from the marketplace. Cannot be set at the same time as `consumer`.
          example: example_value
        publish_teams:
          type: object
          description: Preference for which org members can publish products to the provider marketplace.
          default:
            type: teams
            value: true
          unevaluatedProperties: false
          discriminator:
            propertyName: type
            mapping:
              teams: '#/components/schemas/Provider/properties/publish_teams/oneOf/0'
              included: '#/components/schemas/Provider/properties/publish_teams/oneOf/1'
              excluded: '#/components/schemas/Provider/properties/publish_teams/oneOf/1'
              tags: '#/components/schemas/Provider/properties/publish_teams/oneOf/2'
          oneOf:
          - type: object
            title: All Teams
            properties:
              type:
                enum:
                - teams
              value:
                type: boolean
                description: Indicates if `catalog_manager` role members in all teams can publish to the provider marketplace.
          - type: object
            title: Specific Teams
            properties:
              type:
                enum:
                - included
                - excluded
              value:
                type: array
                description: '`guid` of a selected teams whose `catalog_manager` role members can publish to the provider marketplace.'
                items:
                  type: string
                  format: uuid
          - type: object
            title: Tagged Teams
            properties:
              type:
                enum:
                - tags
              value:
                type: array
                description: '`catalog_manager` role members in teams with any value in its `tags` can publish to the provider marketplace.'
                items:
                  type: string
          properties:
            type:
              type: string
              description: Setting for how to apply publication preference value.
          example:
            type: example_value
        url:
          type: string
          description: Fully qualified domain name on which the provider marketplace can be accessed.
          pattern: ^([a-z0-9]+(-[a-z0-9]+)*\.)+[a-z]{2,}$
          example: https://example.com
        terms:
          type: boolean
          description: Whether the provider marketplace access should be gated on acceptance of Terms & Conditions.
          default: false
          example: true
        versions:
          type: object
          description: Product version settings for the provider marketplace.
          default:
            custom: false
            display: all
          properties:
            custom:
              type: boolean
              description: Whether custom product versions are displayed in the provider marketplace.
              default: false
            display:
              type: string
              description: What product version types will be displayed in the provider marketplace.
              default: all
              enum:
              - all
              - latest
          example:
            custom: true
            display: all
        subdomain:
          type: string
          description: Subdomain on which the provider marketplace can be accessed.
          pattern: ^[a-z0-9\-]{4,63}$
          example: example.com
        terms_updated:
          type: string
          format: date-time
          description: Date Terms & Conditions last updated.
          example: '2026-04-21T00:00:00Z'
        consume_teams:
          type: object
          description: Preference for which org members can consume the provider marketplace.
          default:
            type: teams
            value: true
          unevaluatedProperties: false
          discriminator:
            propertyName: type
            mapping:
              teams: '#/components/schemas/Provider/properties/consume_teams/oneOf/0'
              included: '#/components/schemas/Provider/properties/consume_teams/oneOf/1'
              excluded: '#/components/schemas/Provider/properties/consume_teams/oneOf/1'
              tags: '#/components/schemas/Provider/properties/consume_teams/oneOf/2'
          oneOf:
          - type: object
            title: All Teams
            properties:
              type:
                enum:
                - teams
              value:
                type: boolean
                description: Indicates if `consumer` role members in all teams can consume the provider marketplace.
          - type: object
            title: Specific Teams
            properties:
              type:
                enum:
                - included
                - excluded
              value:
                type: array
                description: '`guid` of a selected teams whose `consumer` role members can consume the provider marketplace.'
                items:
                  type: string
                  format: uuid
          - type: object
            title: Tagged Teams
            properties:
              type:
                enum:
                - tags
              value:
                type: array
                description: '`consumer` role members in teams with any value in its `tags` can consume the provider marketplace.'
                items:
                  type: string
          properties:
            type:
              type: string
              description: Setting for how to apply consumption preference value.
          example:
            type: example_value
        ai:
          properties:
            embedded:
              type: boolean
              description: Whether AI integration uses built-in LLM (or customer hosted).
              default: false
            url:
              type: string
              format: secure-url
              description: URL of customer hosted LLM.
            stream:
              type: boolean
              description: Whether LLM supports SSE events stream.
              default: true
        billing:
          properties:
            vendor:
              type: string
              description: Billing integration vendor for the provider marketplace.
              enum:
              - stripe
              - myFatoorah
              - custom
      x-defs:
        sitename:
          type: string
          description: Page title of the provider marketplace instance.
          maxLength: 350
          x-no-tags: true
        menu_item:
          type: object
          required:
          - type
          - text
          - url
          unevaluatedProperties: false
          discriminator:
            propertyName: type
            mapping:
              url: '#/components/schemas/Provider/x-defs/menu_item/oneOf/0'
              document: '#/components/schemas/Provider/x-defs/menu_item/oneOf/1'
          oneOf:
          - type: object
            properties:
              type:
                type: string
                enum:
                - url
              url:
                type: string
                description: URL or relative path for the link.
                pattern: (^((https?:\/\/[A-Za-z0-9.-]+|(?:www\.|[-;:&=+$,\w]+@)[A-Za-z0-9.-]+)((?:\/[+~%/.\w\-_]*)?\??(?:[-+=&;%@.\w_]*)#?(?:[\w?/:@\-._~!$&'()*+,;=]*))?)$|^(?:\/[+~%/.\w\-_]*)(?:\?[-+=&;%@.\w_]*)?(?:#[.!/\\\w]*)?$)
          - type: object
            properties:
              type:
                type: string
                enum:
                - document
              url:
                type: string
                description: Document resource guid
          properties:
            new_tab:
              type: boolean
              description: Whether the link opens in a new tab.
            text:
              type: string
              description: Label for the link.
              x-no-tags: true
            type:
              type: string
              description: Type of the link.
              enum:
              - document
              - url
            url:
              type: string
              description: URL, relative path, or document resource guid for the link.
            visibility:
              type: integer
              description: 'Which users the link is visible to. Always shown: 0, Signed in: 1, Signed out: 2, Hidden: 3'
              enum:
              - 0
              - 1
              - 2
              - 3
        help_menu:
          type: array
          description: Content shown in the navigation bar help menu.
          items:
            type: object
            unevaluatedProperties: false
            allOf:
            - $ref: '#/components/schemas/Provider/x-defs/menu_item'
            properties:
              icon:
                type: string
                description: Icon displayed in the menu for the item.
        name:
          type: string
          description: Name of the provider marketplace instance.
          minLength: 2
          maxLength: 350
          x-no-tags: true
        reviews.instructions:
          type: string
          description: Review guidelines and policies within the provider marketplace.
          x-no-tags: true
    apic.ucs.catalogitem.remove:
      type: object
      description: Published when a catalog asset is removed.
      x-context: catalog
      allOf:
      - $ref: '#/components/schemas/apic.ucs.catalogitem.create'
    IdentityProvider:
      properties:
        guid:
          type: string
          format: uuid
          description: '`guid` of the Identity Provider.'
          example: example_value
        name:
          type: string
          description: Name of Identity Provider
          example: Example Name
    Response:
      type: object
      properties:
        success:
          type: boolean
          description: Whether the request was successful.
          example: true
    Success:
      type: object
      allOf:
      - $ref: '#/components/schemas/Response'
      - type: object
        properties:
          result:
            description: The response data
    Environment:
      properties:
        type:
          type: string
          description: Type of environment
          default: usage
          enum:
          - usage
          - integration
          example: usage
        governance:
          type: string
          description: Governance of the environment.
          enum:
          - Customer Managed
          - Axway Managed
          example: Customer Managed
        name:
          type: string
          description: Name of the environment
          x-no-tags: true
          example: Example Name
        guid:
          type: string
          description: GUID of the environment.
          example: example_value
    EventDataActionClient:
      type: object
      title: Action Service Account
      properties:
        action_client_guid:
          description: The `guid` of the client that performed the action.
          allOf:
          - $ref: '#/components/schemas/Client/properties/guid'
          example: example_value
        action_client_id:
          description: The `client_id` of the client that performed the action.
          allOf:
          - $ref: '#/components/schemas/Client/properties/client_id'
          example: 507f1f77bcf86cd799439011
        action_client_name:
          description: The `name` of the client that performed the action.
          allOf:
          - $ref: '#/components/schemas/Client/properties/name'
          example: Example Name
    platform.app.create:
      type: object
      description: Published when an application is created.
      x-context: app
      allOf:
      - $ref: '#/components/schemas/EventDataOrg'
      - $ref: '#/components/schemas/EventDataActor'
      properties:
        app:
          type: object
          description: The created application
          properties:
            guid:
              $ref: '#/components/schemas/Application/properties/guid'
            name:
              $ref: '#/components/schemas/Application/then/properties/name'
            platform:
              $ref: '#/components/schemas/Application/properties/platform'
            provider_guid:
              $ref: '#/components/schemas/Application/properties/provider_guid'
            source:
              $ref: '#/components/schemas/Application/properties/source'
            type:
              $ref: '#/components/schemas/Application/properties/type'
          example:
            guid: {}
            name: {}
            platform: {}
            provider_guid: {}
            source: {}
            type: {}
    Team:
      properties:
        name:
          type: string
          description: Name of the team.
          minLength: 2
          maxLength: 100
          x-no-tags: true
          example: Example Name
        default:
          type: boolean
          description: Whether the team is the default for the organization. May only be set by org administrator users.
          default: false
          example: true
        guid:
          type: string
          format: uuid
          description: '`guid` of the team.'
          example: example_value
        users:
          items:
            properties:
              roles:
                type: array
                description: Array of role identifiers that are assigned to the member.
                items:
                  type: string
                  enum:
                  - consumer
                  - subscription_admin
                  - developer
                  - catalog_manager
                  - subscription_approver
                  - api_access
                  - insights
                  - administrator
                  - marketplace_admin
    platform.team.default:
      type: object
      description: Published when a team is changed to the default within an org.
      x-context: team
      allOf:
      - $ref: '#/components/schemas/EventDataOrg'
      - $ref: '#/components/schemas/EventDataActor'
      properties:
        team:
          type: object
          description: The created team
          properties:
            default:
              $ref: '#/components/schemas/Team/properties/default'
            guid:
              $ref: '#/components/schemas/Team/properties/guid'
            name:
              $ref: '#/components/schemas/Team/properties/name'
          example:
            default: {}
            guid: {}
            name: {}
    platform.activation.send:
      type: object
      x-context: user
      allOf:
      - $ref: '#/components/schemas/EventDataActor'
      - $ref: '#/components/schemas/EventDataOrg'
      - $ref: '#/components/schemas/EventDataUser'
      properties:
        activation_type:
          $ref: '#/components/schemas/Activation/properties/type'
    apic.ucs.catalogitem.update:
      type: object
      description: Published when a catalog asset is updated.
      x-context: catalog
      allOf:
      - $ref: '#/components/schemas/apic.ucs.catalogitem.create'
    EventDataFrom:
      type: string
      description: Client type.
    platform.user.mfa.app.remove:
      type: object
      description: Published when an MFA application is removed for a user.
      x-context: user
      allOf:
      - $ref: '#/components/schemas/EventDataOrg'
      - $ref: '#/components/schemas/EventDataActionUser'
      - $ref: '#/components/schemas/EventDataUser'
    marketplace.consumer.active:
      type: object
      description: Published when a consumer organization is set active.
      x-context: org
      allOf:
      - $ref: '#/components/schemas/marketplace.consumer.approve'
    marketplace.create:
      type: object
      description: 'Published when a marketplace is created.


        `subdomain` prop will always be included. Once `url` is established, `subdomain` prop value will be passed as the `guid`.'
      x-context: org
      allOf:
      - $ref: '#/components/schemas/EventDataOrg'
      - $ref: '#/components/schemas/EventDataActor'
      properties:
        admin_teams:
          $ref: '#/components/schemas/Provider/properties/admin_teams'
        certificate_expires:
          $ref: '#/components/schemas/Provider/properties/certificate_expires'
        consume_teams:
          $ref: '#/components/schemas/Provider/properties/consume_teams'
        consumer:
          $ref: '#/components/schemas/Provider/properties/consumer'
        consumer_approve:
          $ref: '#/components/schemas/Provider/properties/consumer_approve'
        guid:
          $ref: '#/components/schemas/Provider/properties/guid'
        help_menu:
          $ref: '#/components/schemas/Provider/properties/help_menu'
        idp:
          $ref: '#/components/schemas/Provider/properties/idp'
        idp_hint:
          $ref: '#/components/schemas/Provider/properties/idp_hint'
        lang_default:
          $ref: '#/components/schemas/Provider/properties/lang/properties/default'
        name:
          $ref: '#/components/schemas/Provider/properties/name'
        oauth:
          type: object
          properties:
            github:
              type: object
              properties:
                enabled:
                  $ref: '#/components/schemas/Provider/properties/oauth/properties/github/properties/enabled'
                secret_updated:
                  $ref: '#/components/schemas/Provider/properties/oauth/properties/github/properties/secret_updated'
            gitlab:
              type: object
              properties:
                enabled:
                  $ref: '#/components/schemas/Provider/properties/oauth/properties/gitlab/properties/enabled'
                secret_updated:
                  $ref: '#/components/schemas/Provider/properties/oauth/properties/gitlab/properties/secret_updated'
            google:
              type: object
              properties:
                enabled:
                  $ref: '#/components/schemas/Provider/properties/oauth/properties/google/properties/enabled'
                secret_updated:
                  $ref: '#/components/schemas/Provider/properties/oauth/properties/google/properties/secret_updated'
          example:
            github:
              enabled: {}
              secret_updated: {}
            gitlab:
              enabled: {}
              secret_updated: {}
            google:
              enabled: {}
              secret_updated: {}
        public:
          $ref: '#/components/schemas/Provider/properties/public'
        publish_teams:
          $ref: '#/components/schemas/Provider/properties/publish_teams'
        reviews:
          $ref: '#/components/schemas/Provider/properties/reviews'
        signup:
          $ref: '#/components/schemas/Provider/properties/signup'
        sitename:
          $ref: '#/components/schemas/Provider/properties/sitename'
        subdomain:
          $ref: '#/components/schemas/Provider/properties/subdomain'
        terms:
          $ref: '#/components/schemas/Provider/properties/terms'
        terms_updated:
          $ref: '#/components/schemas/Provider/properties/terms_updated'
        terms_url:
[...]
