openapi: 3.1.0
info:
  version: 16.10.0
  title: Amplify Platform API v1.0.0 aca client API
  description: 'The Amplify Platform API provides the interface to perform the following:

    - Manage account settings and credentials

    - Manage organization settings, users, service accounts, and teams

    - Retrieve organization usage data

    - Register and manage applications

    - Retrieve application metrics and analytics

    - Retrieve user, organization, and application activity


    See the <a href="https://docs.axway.com/bundle/amplify-central/page/docs/integrate_with_central/platform-auth-examples/index.html" target="_blank">Amplify Guide</a> for documentation and examples on how to authorize API calls to platform services.


    For general documentation refer to the <a href="https://docs.axway.com/category/platform" target="_blank">Amplify Platform documentation</a>.


    &copy; Axway 2026. All rights reserved.'
  contact:
    email: support@axway.com
  termsOfService: https://www.axway.com/en/axway-platform-terms-of-use
servers:
- url: https://platform.axway.com/api/v1
tags:
- name: client
paths:
  /client:
    parameters: []
    post:
      summary: Axway Add Service Account
      description: "Register a new service account\n\n___Auth Requirement___\n - `administrator` access to the organization.\n"
      externalDocs:
        description: Managing Service Accounts
        url: https://docs.axway.com/bundle/platform-management/page/docs/management_guide/organizations/managing_organizations/managing_service_accounts/index.html
      tags:
      - client
      operationId: client_create
      x-publishes:
      - platform.client.create
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Response'
                - properties:
                    result:
                      type: object
                      required:
                      - guid
                      - name
                      - org_guid
                      - roles
                      - tags
                      unevaluatedProperties: false
                      allOf:
                      - $ref: '#/components/schemas/DefaultFields'
                      if:
                        type: object
                        title: Certificate Auth
                        required:
                        - type
                        properties:
                          type:
                            type: string
                            enum:
                            - certificate
                      then:
                        type: object
                        additionalProperties: false
                        properties:
                          key_id:
                            type: string
                            description: Identifier of the public key used for the client.
                            readOnly: true
                          privateKey:
                            type: string
                            description: Private key in PEM format for use with client certificate authentication. Returned when a key pair is generated.
                      else:
                        type: object
                        title: Secret Auth
                        additionalProperties: false
                      properties:
                        _id:
                          type: string
                          description: Document ID of the client.
                          readOnly: true
                          deprecated: true
                        client_id:
                          type: string
                          description: Identifier of the client to use for authentication.
                        guid:
                          type: string
                          format: uuid
                          description: '`guid` of the client.'
                        name:
                          type: string
                          description: Name of the client.
                          x-no-tags: true
                        org_guid:
                          type: string
                          format: uuid
                          description: '`guid` of the organization the client belongs to.'
                        roles:
                          type: array
                          description: Array of org-level role identifiers that are assigned to the client.
                          default: []
                          items:
                            type: string
                            enum:
                            - administrator
                            - developer
                            - auditor
                            - consumer
                            - usage_reporter
                            - api_central_admin
                        tags:
                          type: array
                          description: Tags assigned to the client.
                          default: []
                          minItems: 0
                          uniqueItems: true
                          maxItems: 30
                          items:
                            type: string
                            maxLength: 40
                        type:
                          type: string
                          description: Authentication method for the client.
                          default: secret
                          enum:
                          - secret
                          - certificate
              examples:
                ClientCreate200Example:
                  summary: Default client_create 200 response
                  x-microcks-default: true
                  value: example_value
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CLIENT_DUPLICATE_ID:
                  value:
                    success: false
                    description: A client with this Client ID already exists.
                    code: 400
                FORBIDDEN:
                  value:
                    $ref: '#/components/examples/FORBIDDEN/value'
                NOT_FOUND:
                  value:
                    $ref: '#/components/examples/NOT_FOUND/value'
                IDP_REQUIRED:
                  value:
                    $ref: '#/components/examples/IDP_REQUIRED/value'
                USER_NOT_ADMIN:
                  value:
                    $ref: '#/components/examples/USER_NOT_ADMIN/value'
                LOGIN_REQUIRED:
                  value:
                    $ref: '#/components/examples/LOGIN_REQUIRED/value'
                PARAM_INVALID:
                  value:
                    $ref: '#/components/examples/PARAM_INVALID/value'
                PARAM_REQUIRED:
                  value:
                    $ref: '#/components/examples/PARAM_REQUIRED/value'
      security:
      - BearerClient: []
      - SessionCookie: []
      - BearerUser: []
      parameters:
      - $ref: '#/components/parameters/fields'
        example: example_value
      - $ref: '#/components/parameters/exclude_fields'
        example: example_value
      requestBody:
        content:
          '*/*':
            schema:
              properties:
                description:
                  type: string
                  description: Description for the use of the client.
                generateKey:
                  type: boolean
                  description: Whether to generate a keypair to use with client certificate authentication.
                name:
                  $ref: '#/components/schemas/Client/properties/name'
                org_guid:
                  $ref: '#/components/schemas/Client/properties/org_guid'
                publicKey:
                  type: string
                  description: Public key in PEM format for use with client certificate authentication, used to validate JWT issued by the service account and signed by the private key.
                roles:
                  $ref: '#/components/schemas/Client/properties/roles'
                secret:
                  type: string
                  description: Secret to use when authenticating using client-secret authentication.
                tags:
                  $ref: '#/components/schemas/Client/properties/tags'
                teams:
                  type: array
                  description: List of teams and roles to assign the client to.
                  items:
                    properties:
                      guid:
                        $ref: '#/components/schemas/Team/properties/guid'
                      roles:
                        $ref: '#/components/schemas/Team/properties/users/items/properties/roles'
                type:
                  $ref: '#/components/schemas/Client/properties/type'
              required:
              - name
              - org_guid
              - type
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      summary: Axway Get Service Accounts
      description: "Returns all the service accounts for an organization.\n\n___Auth Requirement___\n - Access to the organization. Developer access may be restricted by the organization service accounts access control setting.\n"
      externalDocs:
        description: Managing Service Accounts
        url: https://docs.axway.com/bundle/platform-management/page/docs/management_guide/organizations/managing_organizations/managing_service_accounts/index.html
      tags:
      - client
      operationId: client_find
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Response'
                - properties:
                    result:
                      $ref: '#/components/schemas/ClientList'
                - properties:
                    metadata:
                      $ref: '#/components/schemas/ResponseMetadata'
              examples:
                ClientFind200Example:
                  summary: Default client_find 200 response
                  x-microcks-default: true
                  value: example_value
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                FORBIDDEN:
                  value:
                    $ref: '#/components/examples/FORBIDDEN/value'
                NOT_FOUND:
                  value:
                    $ref: '#/components/examples/NOT_FOUND/value'
                IDP_REQUIRED:
                  value:
                    $ref: '#/components/examples/IDP_REQUIRED/value'
                USER_NOT_ADMIN:
                  value:
                    $ref: '#/components/examples/USER_NOT_ADMIN/value'
                LOGIN_REQUIRED:
                  value:
                    $ref: '#/components/examples/LOGIN_REQUIRED/value'
                PARAM_INVALID:
                  value:
                    $ref: '#/components/examples/PARAM_INVALID/value'
                PARAM_REQUIRED:
                  value:
                    $ref: '#/components/examples/PARAM_REQUIRED/value'
      security:
      - BearerClient: []
      - SessionCookie: []
      - BearerUser: []
      parameters:
      - $ref: '#/components/parameters/fields'
        example: example_value
      - $ref: '#/components/parameters/exclude_fields'
        example: example_value
      - in: query
        name: org_id
        required: true
        schema:
          type: string
          description: '`guid` or `org_id` of the org whose service accounts to return'
        example: 507f1f77bcf86cd799439011
      - in: query
        name: roles
        required: false
        schema:
          type: array
          description: Search for roles
          items:
            type: string
          default: null
        example:
        - example_value
      - in: query
        name: term
        required: false
        schema:
          type: string
          description: Search term, matches name, email id and role
          default: null
        example: example_value
      - in: query
        name: limit
        required: false
        schema:
          type: number
          minimum: 0
          maximum: 100
          description: Number of results per page. Zero will return an empty result, but the matched count in meta will be returned.
        example: 1.0
      - in: query
        name: page
        required: false
        schema:
          type: number
          description: Page of results.
          default: 1
        example: 1.0
      - in: query
        name: skip
        required: false
        schema:
          type: number
          description: Number of items to skip in results, used for pagination.
          default: 0
        example: 1.0
      - in: query
        name: sort
        required: false
        schema:
          type: array
          description: Field on which to sort results, may pass multiple comma-separated. Prefix the field name with `-` for descending order.
          items:
            type: string
            enum:
            - client_id
            - name
            - role
          default:
          - name
        example:
        - client_id
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /client/{client_id}/json:
    parameters: []
    get:
      summary: Axway Get Service Account JSON Representation
      description: "Triggers the download of a JSON representation of a service account\n\n___Auth Requirement___\n - Access to the organization.\n"
      externalDocs:
        description: Managing Service Accounts
        url: https://docs.axway.com/bundle/platform-management/page/docs/management_guide/organizations/managing_organizations/managing_service_accounts/index.html
      tags:
      - client
      operationId: client_download
      responses:
        '200':
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  clientId:
                    $ref: '#/components/schemas/Client/properties/client_id'
                  kid:
                    $ref: '#/components/schemas/Client/then/properties/key_id'
                  name:
                    $ref: '#/components/schemas/Client/properties/name'
                  publicKey:
                    type: string
                    description: Public key in PEM format for use with client certificate authentication, used to validate JWT issued by the service account and signed by the private key.
                  tokenUrl:
                    type: string
                    description: URL of the token endpoint used to generate a JWT for the client.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                FORBIDDEN:
                  value:
                    $ref: '#/components/examples/FORBIDDEN/value'
                NOT_FOUND:
                  value:
                    $ref: '#/components/examples/NOT_FOUND/value'
                IDP_REQUIRED:
                  value:
                    $ref: '#/components/examples/IDP_REQUIRED/value'
                USER_NOT_ADMIN:
                  value:
                    $ref: '#/components/examples/USER_NOT_ADMIN/value'
                LOGIN_REQUIRED:
                  value:
                    $ref: '#/components/examples/LOGIN_REQUIRED/value'
                PARAM_INVALID:
                  value:
                    $ref: '#/components/examples/PARAM_INVALID/value'
                PARAM_REQUIRED:
                  value:
                    $ref: '#/components/examples/PARAM_REQUIRED/value'
      security:
      - BearerClient: []
      - SessionCookie: []
      - BearerUser: []
      parameters:
      - in: path
        name: client_id
        required: true
        schema:
          type: string
          description: guid or client_id of the service account
        example: 507f1f77bcf86cd799439011
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /client/{client_id}:
    parameters: []
    get:
      summary: Axway Get a Service Account
      description: 'Returns a single service account


        ___Auth Requirement___


        Access to organization the client belongs to.'
      externalDocs:
        description: Managing Service Accounts
        url: https://docs.axway.com/bundle/platform-management/page/docs/management_guide/organizations/managing_organizations/managing_service_accounts/index.html
      tags:
      - client
      operationId: client_findOne
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Response'
                - properties:
                    result:
                      type: object
                      required:
                      - guid
                      - name
                      - org_guid
                      - roles
                      - tags
                      unevaluatedProperties: false
                      allOf:
                      - $ref: '#/components/schemas/DefaultFields'
                      if:
                        type: object
                        title: Certificate Auth
                        required:
                        - type
                        properties:
                          type:
                            type: string
                            enum:
                            - certificate
                      then:
                        type: object
                        additionalProperties: false
                        properties:
                          key_id:
                            type: string
                            description: Identifier of the public key used for the client.
                            readOnly: true
                          publicKey:
                            type: string
                            description: Public key in PEM format for use with client certificate authentication, used to validate JWT issued by the service account and signed by the private key.
                      else:
                        type: object
                        title: Secret Auth
                        additionalProperties: false
                      properties:
                        _id:
                          type: string
                          description: Document ID of the client.
                          readOnly: true
                          deprecated: true
                        client_id:
                          type: string
                          description: Identifier of the client to use for authentication.
                        guid:
                          type: string
                          format: uuid
                          description: '`guid` of the client.'
                        name:
                          type: string
                          description: Name of the client.
                          x-no-tags: true
                        org_guid:
                          type: string
                          format: uuid
                          description: '`guid` of the organization the client belongs to.'
                        roles:
                          type: array
                          description: Array of org-level role identifiers that are assigned to the client.
                          default: []
                          items:
                            type: string
                            enum:
                            - administrator
                            - developer
                            - auditor
                            - consumer
                            - usage_reporter
                            - api_central_admin
                        tags:
                          type: array
                          description: Tags assigned to the client.
                          default: []
                          minItems: 0
                          uniqueItems: true
                          maxItems: 30
                          items:
                            type: string
                            maxLength: 40
                        type:
                          type: string
                          description: Authentication method for the client.
                          default: secret
                          enum:
                          - secret
                          - certificate
                        description:
                          type: string
                          description: Description for the use of the client.
              examples:
                ClientFindone200Example:
                  summary: Default client_findOne 200 response
                  x-microcks-default: true
                  value: example_value
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                FORBIDDEN:
                  value:
                    $ref: '#/components/examples/FORBIDDEN/value'
                NOT_FOUND:
                  value:
                    $ref: '#/components/examples/NOT_FOUND/value'
                LOGIN_REQUIRED:
                  value:
                    $ref: '#/components/examples/LOGIN_REQUIRED/value'
                PARAM_INVALID:
                  value:
                    $ref: '#/components/examples/PARAM_INVALID/value'
                PARAM_REQUIRED:
                  value:
                    $ref: '#/components/examples/PARAM_REQUIRED/value'
      security:
      - BearerClient: []
      - SessionCookie: []
      - BearerUser: []
      parameters:
      - $ref: '#/components/parameters/fields'
        example: example_value
      - $ref: '#/components/parameters/exclude_fields'
        example: example_value
      - in: path
        name: client_id
        required: true
        schema:
          type: string
          description: guid or client_id of the service account
        example: 507f1f77bcf86cd799439011
      - in: header
        name: authorization
        required: false
        schema:
          type: string
          description: Bearer token in JWT format to authorize the request.
        example: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      summary: Axway Delete Service Account
      description: 'Deletes a service account. This is a destructive and irreversible delete.


        ___Auth Requirement___


        `administrator` role in the organization the client belongs to.'
      externalDocs:
        description: Managing Service Accounts
        url: https://docs.axway.com/bundle/platform-management/page/docs/management_guide/organizations/managing_organizations/managing_service_accounts/index.html
      tags:
      - client
      operationId: client_remove
      x-publishes:
      - platform.client.remove
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                FORBIDDEN:
                  value:
                    $ref: '#/components/examples/FORBIDDEN/value'
                NOT_FOUND:
                  value:
                    $ref: '#/components/examples/NOT_FOUND/value'
                LOGIN_REQUIRED:
                  value:
                    $ref: '#/components/examples/LOGIN_REQUIRED/value'
                PARAM_INVALID:
                  value:
                    $ref: '#/components/examples/PARAM_INVALID/value'
                PARAM_REQUIRED:
                  value:
                    $ref: '#/components/examples/PARAM_REQUIRED/value'
      security:
      - BearerClient: []
      - SessionCookie: []
      - BearerUser: []
      parameters:
      - in: path
        name: client_id
        required: true
        schema:
          type: string
          description: guid or client_id of the service account
        example: 507f1f77bcf86cd799439011
      - in: header
        name: authorization
        required: false
        schema:
          type: string
          description: Bearer token in JWT format to authorize the request.
        example: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      summary: Axway Update Service Account
      description: 'Updates a service account.


        ___Auth Requirement___


        `administrator` role in the organization the client belongs to.'
      externalDocs:
        description: Managing Service Accounts
        url: https://docs.axway.com/bundle/platform-management/page/docs/management_guide/organizations/managing_organizations/managing_service_accounts/index.html
      tags:
      - client
      operationId: client_update
      x-publishes:
      - platform.client.update
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Response'
                - properties:
                    result:
                      type: object
                      required:
                      - guid
                      - name
                      - org_guid
                      - roles
                      - tags
                      unevaluatedProperties: false
                      allOf:
                      - $ref: '#/components/schemas/DefaultFields'
                      if:
                        type: object
                        title: Certificate Auth
                        required:
                        - type
                        properties:
                          type:
                            type: string
                            enum:
                            - certificate
                      then:
                        type: object
                        additionalProperties: false
                        properties:
                          key_id:
                            type: string
                            description: Identifier of the public key used for the client.
                            readOnly: true
                          privateKey:
                            type: string
                            description: Private key in PEM format for use with client certificate authentication. Returned when a key pair is generated.
                      else:
                        type: object
                        title: Secret Auth
                        additionalProperties: false
                      properties:
                        _id:
                          type: string
                          description: Document ID of the client.
                          readOnly: true
                          deprecated: true
                        client_id:
                          type: string
                          description: Identifier of the client to use for authentication.
                        guid:
                          type: string
                          format: uuid
                          description: '`guid` of the client.'
                        name:
                          type: string
                          description: Name of the client.
                          x-no-tags: true
                        org_guid:
                          type: string
                          format: uuid
                          description: '`guid` of the organization the client belongs to.'
                        roles:
                          type: array
                          description: Array of org-level role identifiers that are assigned to the client.
                          default: []
                          items:
                            type: string
                            enum:
                            - administrator
                            - developer
                            - auditor
                            - consumer
                            - usage_reporter
                            - api_central_admin
                        tags:
                          type: array
                          description: Tags assigned to the client.
                          default: []
                          minItems: 0
                          uniqueItems: true
                          maxItems: 30
                          items:
                            type: string
                            maxLength: 40
                        type:
                          type: string
                          description: Authentication method for the client.
                          default: secret
                          enum:
                          - secret
                          - certificate
              examples:
                ClientUpdate200Example:
                  summary: Default client_update 200 response
                  x-microcks-default: true
                  value: example_value
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CLIENT_DUPLICATE_ID:
                  value:
                    success: false
                    description: A client with this Client ID already exists.
                    code: 400
                CLIENT_MIGRATED:
                  value:
                    success: false
                    description: Legacy clients cannot be modified.
                    code: 400
                FORBIDDEN:
                  value:
                    $ref: '#/components/examples/FORBIDDEN/value'
                CONFLICTING_TEAM_ROLE:
                  value:
                    success: false
                    description: '"roles" contained an invalid value: The "%s" role assigned in the team "%s" requires one of the following organization roles: %s.'
                    code: 400
                    internalCode: 747
                REQUIRED_ORG_ROLE:
                  value:
                    success: false
                    description: '"roles" contained an invalid value: The "%s" role requires one of the following organization roles: %s.'
                    code: 400
                    internalCode: 747
                LOGIN_REQUIRED:
                  value:
                    $ref: '#/components/examples/LOGIN_REQUIRED/value'
                PARAM_INVALID:
                  value:
                    $ref: '#/components/examples/PARAM_INVALID/value'
                PARAM_REQUIRED:
                  value:
                    $ref: '#/components/examples/PARAM_REQUIRED/value'
      security:
      - BearerClient: []
      - SessionCookie: []
      - BearerUser: []
      parameters:
      - $ref: '#/components/parameters/fields'
        example: example_value
      - $ref: '#/components/parameters/exclude_fields'
        example: example_value
      - in: path
        name: client_id
        required: true
        schema:
          type: string
          description: guid or client_id of the service account
        example: 507f1f77bcf86cd799439011
      - in: header
        name: authorization
        required: false
        schema:
          type: string
          description: Bearer token in JWT format to authorize the request.
        example: example_value
      requestBody:
        content:
          '*/*':
            schema:
              properties:
                description:
                  type: string
                  description: Description for the use of the client.
                generateKey:
                  type: boolean
                  description: Whether to generate a keypair to use with client certificate authentication.
                name:
                  $ref: '#/components/schemas/Client/properties/name'
                publicKey:
                  type: string
                  description: Public key in PEM format for use with client certificate authentication, used to validate JWT issued by the service account and signed by the private key.
                roles:
                  $ref: '#/components/schemas/Client/properties/roles'
                secret:
                  type: string
                  description: Secret to use when authenticating using client-secret authentication.
                tags:
                  $ref: '#/components/schemas/Client/properties/tags'
                teams:
                  type: array
                  description: List of teams and roles to assign the client to.
                  items:
                    properties:
                      guid:
                        $ref: '#/components/schemas/Team/properties/guid'
                      roles:
                        $ref: '#/components/schemas/Team/properties/users/items/properties/roles'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Response:
      type: object
      properties:
        success:
          type: boolean
          description: Whether the request was successful.
          example: true
    Client:
      type: object
      required:
      - guid
      - name
      - org_guid
      - roles
      - tags
      unevaluatedProperties: false
      allOf:
      - $ref: '#/components/schemas/DefaultFields'
      if:
        type: object
        title: Certificate Auth
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - certificate
      then:
        type: object
        additionalProperties: false
        properties:
          key_id:
            type: string
            description: Identifier of the public key used for the client.
            readOnly: true
      else:
        type: object
        title: Secret Auth
        additionalProperties: false
      properties:
        _id:
          type: string
          description: Document ID of the client.
          readOnly: true
          deprecated: true
          example: 507f1f77bcf86cd799439011
        client_id:
          type: string
          description: Identifier of the client to use for authentication.
          example: 507f1f77bcf86cd799439011
        guid:
          type: string
          format: uuid
          description: '`guid` of the client.'
          example: example_value
        name:
          type: string
          description: Name of the client.
          x-no-tags: true
          example: Example Name
        org_guid:
          type: string
          format: uuid
          description: '`guid` of the organization the client belongs to.'
          example: example_value
        roles:
          type: array
          description: Array of org-level role identifiers that are assigned to the client.
          default: []
          items:
            type: string
            enum:
            - administrator
            - developer
            - auditor
            - consumer
            - usage_reporter
            - api_central_admin
          example:
          - administrator
        tags:
          type: array
          description: Tags assigned to the client.
          default: []
          minItems: 0
          uniqueItems: true
          maxItems: 30
          items:
            type: string
            maxLength: 40
          example:
          - example_value
        type:
          type: string
          description: Authentication method for the client.
          default: secret
          enum:
          - secret
          - certificate
          example: secret
    Error:
      type: object
      allOf:
      - $ref: '#/components/schemas/Response'
      - type: object
        properties:
          code:
            type: number
            description: HTTP status code.
          description:
            type: string
            description: A message describing the error.
          internalCode:
            type: number
            description: Internal code.
    ResponseMetadata:
      type: object
      properties:
        count:
          type: number
          description: Number of results included in the response.
          example: 1.0
        limit:
          type: number
          description: Number of results per page.
          example: 1.0
        matched:
          type: number
          description: Total number of matched results.
          example: 1.0
        page:
          type: number
          description: Page of results.
          example: 1.0
        pages:
          type: number
          description: Total number of pages of results.
          example: 1.0
        skip:
          type: number
          description: Number of results skipped in pagination.
          example: 1.0
    ClientList:
      title: ClientList
      type: array
      description: A list of Client objects.
      items:
        $ref: '#/components/schemas/Client'
    DefaultFields:
      type: object
      unevaluatedProperties: false
      properties:
        created:
          type: string
          format: date-time
          description: Date created.
          readOnly: true
          example: '2026-04-21T00:00:00Z'
        created_by:
          type: object
          description: Creator user or client.
          readOnly: true
          properties:
            guid:
              type: string
              description: '`guid` of the creator.'
            type:
              type: string
              description: Type of the creator.
              enum:
              - user
              - client
          example:
            guid: example_value
            type: user
        updated:
          type: string
          format: date-time
          description: Date last updated.
          readOnly: true
          example: '2026-04-21T00:00:00Z'
    Team:
      properties:
        users:
          items:
            properties:
              roles:
                type: array
                description: Array of role identifiers that are assigned to the member.
                items:
                  type: string
                  enum:
                  - consumer
                  - subscription_admin
                  - developer
                  - catalog_manager
                  - subscription_approver
                  - api_access
                  - insights
                  - administrator
                  - marketplace_admin
        guid:
          type: string
          format: uuid
          description: '`guid` of the team.'
          example: example_value
  examples:
    USER_NOT_ADMIN:
      value:
        success: false
        description: You are not authorized to perform this action. Please contact your organization administrator.
        code: 403
    NOT_FOUND:
      value:
        success: false
        description: Resource Not Found
        code: 404
    FORBIDDEN:
      value:
        success: false
        description: You do not have access privileges to view this content.
        code: 403
    LOGIN_REQUIRED:
      value:
        success: false
        description: Sign-in Required
        code: 401
    IDP_REQUIRED:
      value:
        success: false
        description: You must sign in using the Identity Provider configured by your organization's administrators to access this organization.
        code: 401
        internalCode: 235
    PARAM_REQUIRED:
      value:
        success: false
        description: '"%s" is a required parameter.'
        code: 400
        internalCode: 77
    PARAM_INVALID:
      value:
        success: false
        description: '"%s" contained an invalid value.'
        code: 400
        internalCode: 74
  parameters:
    fields:
      name: fields
      in: query
      description: A list of fields to include in the response.
      schema:
        type: array
        items:
          type: string
    exclude_fields:
      name: exclude_fields
      in: query
      description: A list of fields to exclude from the response.
      schema:
        type: array
        items:
          type: string
  securitySchemes:
    AuthToken:
      description: Auth token for internal services
      type: apiKey
      in: header
      name: x-auth-token
    BearerClient:
      description: Service account access token
      type: http
      scheme: bearer
      bearerFormat: jwt
    BearerService:
      description: Service account access token for an internal client
      type: http
      scheme: bearer
      bearerFormat: jwt
    BearerUser:
      description: AxwayID user session access token
      type: http
      scheme: bearer
      bearerFormat: jwt
    MFA:
      description: Multi-factor authentication code
      type: apiKey
      in: header
      name: x-auth-code
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://login.axway.com/auth/realms/Broker/protocol/openid-connect/token
          scopes: {}
        authorizationCode:
          authorizationUrl: https://login.axway.com/auth/realms/Broker/openid-connect/auth
          tokenUrl: https://login.axway.com/auth/realms/Broker/openid-connect/token
          scopes: {}
        implicit:
          authorizationUrl: https://login.axway.com/auth/realms/Broker/openid-connect/auth
          scopes: {}
    Password:
      description: User password
      type: apiKey
      in: header
      name: x-auth-password
    SessionCookie:
      description: Platform session cookie
      type: apiKey
      in: cookie
      name: connect.sid
