openapi: 3.2.0
info:
  version: 16.10.0
  title: Amplify Platform API v1.0.0 Activity API
  description: 'The Amplify Platform API provides the interface to perform the following:

    - Manage account settings and credentials

    - Manage organization settings, users, service accounts, and teams

    - Retrieve organization usage data

    - Register and manage applications

    - Retrieve application metrics and analytics

    - Retrieve user, organization, and application activity


    See the Amplify Guide for documentation and examples on how to authorize API calls to platform services.'
  contact:
    email: support@axway.com
  termsOfService: https://www.axway.com/en/axway-platform-terms-of-use
servers:
- url: https://platform.axway.com/api/v1
tags:
- name: Activity
paths:
  /activity/event:
    parameters: []
    get:
      summary: Axway Get Activity Event Names
      description: 'Returns list of known activity event names


        ___Auth Requirement___

        - _One of_

        - Signed-in user.

        - Service account access token.'
      tags:
      - Activity
      operationId: activity_findEvents
      responses:
        '200':
          $ref: '#/components/responses/SuccessResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                LOGIN_REQUIRED:
                  value:
                    $ref: '#/components/examples/LOGIN_REQUIRED/value'
                FORBIDDEN:
                  value:
                    $ref: '#/components/examples/FORBIDDEN/value'
                PARAM_INVALID:
                  value:
                    $ref: '#/components/examples/PARAM_INVALID/value'
      security:
      - SessionCookie: []
      - BearerUser: []
      - BearerClient: []
      parameters:
      - $ref: '#/components/parameters/fields'
        example: example_value
      - $ref: '#/components/parameters/exclude_fields'
        example: example_value
      - in: header
        name: authorization
        required: false
        schema:
          type: string
          description: Bearer token in JWT format to authorize the request.
        example: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /activity:
    parameters: []
    get:
      summary: Axway Get Activity
      description: 'Returns all of the activity events for the signed-in user


        ___Auth Requirement___

        - Access to the organization, allowing consumer role.


        _Allows consumer organization access_'
      tags:
      - Activity
      operationId: activity_find
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Response'
                - properties:
                    result:
                      title: EventsList
                      type: array
                      description: A list of Events objects.
                      items:
                        type: object
                        oneOf:
                        - type: object
                          title: api_central.provision
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/api_central.provision'
                            event:
                              enum:
                              - api_central.provision
                        - type: object
                          title: api_central.provisioned
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/api_central.provisioned'
                            event:
                              enum:
                              - api_central.provisioned
                        - type: object
                          title: apic.ucs.catalogitem.create
                          properties:
                            context:
                              enum:
                              - catalog
                            data:
                              $ref: '#/components/schemas/apic.ucs.catalogitem.create'
                            event:
                              enum:
                              - apic.ucs.catalogitem.create
                        - type: object
                          title: apic.ucs.catalogitem.remove
                          properties:
                            context:
                              enum:
                              - catalog
                            data:
                              $ref: '#/components/schemas/apic.ucs.catalogitem.remove'
                            event:
                              enum:
                              - apic.ucs.catalogitem.remove
                        - type: object
                          title: apic.ucs.catalogitem.share
                          properties:
                            context:
                              enum:
                              - catalog
                            data:
                              $ref: '#/components/schemas/apic.ucs.catalogitem.share'
                            event:
                              enum:
                              - apic.ucs.catalogitem.share
                        - type: object
                          title: apic.ucs.catalogitem.update
                          properties:
                            context:
                              enum:
                              - catalog
                            data:
                              $ref: '#/components/schemas/apic.ucs.catalogitem.update'
                            event:
                              enum:
                              - apic.ucs.catalogitem.update
                        - type: object
                          title: apic.ucs.subscription.create
                          properties:
                            context:
                              enum:
                              - catalog
                            data:
                              $ref: '#/components/schemas/apic.ucs.subscription.create'
                            event:
                              enum:
                              - apic.ucs.subscription.create
                        - type: object
                          title: apic.ucs.subscription.remove
                          properties:
                            context:
                              enum:
                              - catalog
                            data:
                              $ref: '#/components/schemas/apic.ucs.subscription.remove'
                            event:
                              enum:
                              - apic.ucs.subscription.remove
                        - type: object
                          title: apic.ucs.subscription.update
                          properties:
                            context:
                              enum:
                              - catalog
                            data:
                              $ref: '#/components/schemas/apic.ucs.subscription.update'
                            event:
                              enum:
                              - apic.ucs.subscription.update
                        - type: object
                          title: apicentral.{resource}.{action}
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral._._'
                            event:
                              pattern: apicentral\.\w+\.\w+
                        - type: object
                          title: apicentral.{resource}.{subresource}.update
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral._._.update'
                            event:
                              pattern: apicentral\.\w+\.\w+\.update
                        - type: object
                          title: apicentral.agent.create
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral.agent.create'
                            event:
                              enum:
                              - apicentral.agent.create
                        - type: object
                          title: apicentral.agent.failed
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral.agent.failed'
                            event:
                              enum:
                              - apicentral.agent.failed
                        - type: object
                          title: apicentral.agent.remove
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral.agent.remove'
                            event:
                              enum:
                              - apicentral.agent.remove
                        - type: object
                          title: apicentral.agent.start
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral.agent.start'
                            event:
                              enum:
                              - apicentral.agent.start
                        - type: object
                          title: apicentral.agent.stop
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral.agent.stop'
                            event:
                              enum:
                              - apicentral.agent.stop
                        - type: object
                          title: apicentral.agent.unhealthy
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral.agent.unhealthy'
                            event:
                              enum:
                              - apicentral.agent.unhealthy
                        - type: object
                          title: apicentral.apiservice.create
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral.apiservice.create'
                            event:
                              enum:
                              - apicentral.apiservice.create
                        - type: object
                          title: apicentral.apiservice.remove
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral.apiservice.remove'
                            event:
                              enum:
                              - apicentral.apiservice.remove
                        - type: object
                          title: apicentral.apiservice.update
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral.apiservice.update'
                            event:
                              enum:
                              - apicentral.apiservice.update
                        - type: object
                          title: apicentral.asset.create
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral.asset.create'
                            event:
                              enum:
                              - apicentral.asset.create
                        - type: object
                          title: apicentral.asset.remove
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral.asset.remove'
                            event:
                              enum:
                              - apicentral.asset.remove
                        - type: object
                          title: apicentral.asset.update
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral.asset.update'
                            event:
                              enum:
                              - apicentral.asset.update
                        - type: object
                          title: apicentral.credential.expire
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral.credential.expire'
                            event:
                              enum:
                              - apicentral.credential.expire
                        - type: object
                          title: apicentral.documentresource.create
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral.documentresource.create'
                            event:
                              enum:
                              - apicentral.documentresource.create
                        - type: object
                          title: apicentral.documentresource.remove
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral.documentresource.remove'
                            event:
                              enum:
                              - apicentral.documentresource.remove
                        - type: object
                          title: apicentral.documentresource.update
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral.documentresource.update'
                            event:
                              enum:
                              - apicentral.documentresource.update
                        - type: object
                          title: apicentral.env.create
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral.env.create'
                            event:
                              enum:
                              - apicentral.env.create
                        - type: object
                          title: apicentral.env.remove
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral.env.remove'
                            event:
                              enum:
                              - apicentral.env.remove
                        - type: object
                          title: apicentral.env.update
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral.env.update'
                            event:
                              enum:
                              - apicentral.env.update
                        - type: object
                          title: apicentral.publisheddocumentresource.create
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral.publisheddocumentresource.create'
                            event:
                              enum:
                              - apicentral.publisheddocumentresource.create
                        - type: object
                          title: apicentral.publisheddocumentresource.remove
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral.publisheddocumentresource.remove'
                            event:
                              enum:
                              - apicentral.publisheddocumentresource.remove
                        - type: object
                          title: apicentral.publishedproduct.create
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral.publishedproduct.create'
                            event:
                              enum:
                              - apicentral.publishedproduct.create
                        - type: object
                          title: apicentral.publishedproduct.remove
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral.publishedproduct.remove'
                            event:
                              enum:
                              - apicentral.publishedproduct.remove
                        - type: object
                          title: apicentral.subscription.create
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral.subscription.create'
                            event:
                              enum:
                              - apicentral.subscription.create
                        - type: object
                          title: apicentral.subscription.remove
                          properties:
                            context:
                              enum:
                              - api_central
                            data:
                              $ref: '#/components/schemas/apicentral.subscription.remove'
                            event:
                              enum:
                              - apicentral.subscription.remove
                        - type: object
                          title: com.appcelerator.platform.org.user.create
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/com.appcelerator.platform.org.user.create'
                            event:
                              enum:
                              - com.appcelerator.platform.org.user.create
                        - type: object
                          title: com.appcelerator.platform.org.user.remove
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/com.appcelerator.platform.org.user.remove'
                            event:
                              enum:
                              - com.appcelerator.platform.org.user.remove
                        - type: object
                          title: marketplace.ai.disable
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/marketplace.ai.disable'
                            event:
                              enum:
                              - marketplace.ai.disable
                        - type: object
                          title: marketplace.ai.enable
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/marketplace.ai.enable'
                            event:
                              enum:
                              - marketplace.ai.enable
                        - type: object
                          title: marketplace.ai.update
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/marketplace.ai.update'
                            event:
                              enum:
                              - marketplace.ai.update
                        - type: object
                          title: marketplace.appearance.update
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/marketplace.appearance.update'
                            event:
                              enum:
                              - marketplace.appearance.update
                        - type: object
                          title: marketplace.billing.disable
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/marketplace.billing.disable'
                            event:
                              enum:
                              - marketplace.billing.disable
                        - type: object
                          title: marketplace.billing.enable
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/marketplace.billing.enable'
                            event:
                              enum:
                              - marketplace.billing.enable
                        - type: object
                          title: marketplace.billing.update
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/marketplace.billing.update'
                            event:
                              enum:
                              - marketplace.billing.update
                        - type: object
                          title: marketplace.consumer.active
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/marketplace.consumer.active'
                            event:
                              enum:
                              - marketplace.consumer.active
                        - type: object
                          title: marketplace.consumer.approve
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/marketplace.consumer.approve'
                            event:
                              enum:
                              - marketplace.consumer.approve
                        - type: object
                          title: marketplace.consumer.deny
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/marketplace.consumer.deny'
                            event:
                              enum:
                              - marketplace.consumer.deny
                        - type: object
                          title: marketplace.consumer.inactive
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/marketplace.consumer.inactive'
                            event:
                              enum:
                              - marketplace.consumer.inactive
                        - type: object
                          title: marketplace.consumer.remove
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/marketplace.consumer.remove'
                            event:
                              enum:
                              - marketplace.consumer.remove
                        - type: object
                          title: marketplace.consumer.signup
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/marketplace.consumer.signup'
                            event:
                              enum:
                              - marketplace.consumer.signup
                        - type: object
                          title: marketplace.create
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/marketplace.create'
                            event:
                              enum:
                              - marketplace.create
                        - type: object
                          title: marketplace.idp.create
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/marketplace.idp.create'
                            event:
                              enum:
                              - marketplace.idp.create
                        - type: object
                          title: marketplace.idp.remove
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/marketplace.idp.remove'
                            event:
                              enum:
                              - marketplace.idp.remove
                        - type: object
                          title: marketplace.idp.update
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/marketplace.idp.update'
                            event:
                              enum:
                              - marketplace.idp.update
                        - type: object
                          title: marketplace.lang.update
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/marketplace.lang.update'
                            event:
                              enum:
                              - marketplace.lang.update
                        - type: object
                          title: marketplace.onboarding.disable
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/marketplace.onboarding.disable'
                            event:
                              enum:
                              - marketplace.onboarding.disable
                        - type: object
                          title: marketplace.onboarding.enable
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/marketplace.onboarding.enable'
                            event:
                              enum:
                              - marketplace.onboarding.enable
                        - type: object
                          title: marketplace.onboarding.update
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/marketplace.onboarding.update'
                            event:
                              enum:
                              - marketplace.onboarding.update
                        - type: object
                          title: marketplace.remove
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/marketplace.remove'
                            event:
                              enum:
                              - marketplace.remove
                        - type: object
                          title: marketplace.settings.update
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/marketplace.settings.update'
                            event:
                              enum:
                              - marketplace.settings.update
                        - type: object
                          title: marketplace.user.remove
                          properties:
                            context:
                              enum:
                              - user
                            data:
                              $ref: '#/components/schemas/marketplace.user.remove'
                            event:
                              enum:
                              - marketplace.user.remove
                        - type: object
                          title: platform.activation.access
                          properties:
                            context:
                              enum:
                              - user
                            data:
                              $ref: '#/components/schemas/platform.activation.access'
                            event:
                              enum:
                              - platform.activation.access
                        - type: object
                          title: platform.activation.complete
                          properties:
                            context:
                              enum:
                              - user
                            data:
                              $ref: '#/components/schemas/platform.activation.complete'
                            event:
                              enum:
                              - platform.activation.complete
                        - type: object
                          title: platform.activation.send
                          properties:
                            context:
                              enum:
                              - user
                            data:
                              $ref: '#/components/schemas/platform.activation.send'
                            event:
                              enum:
                              - platform.activation.send
                        - type: object
                          title: platform.app.create
                          properties:
                            context:
                              enum:
                              - app
                            data:
                              $ref: '#/components/schemas/platform.app.create'
                            event:
                              enum:
                              - platform.app.create
                        - type: object
                          title: platform.app.remove
                          properties:
                            context:
                              enum:
                              - app
                            data:
                              $ref: '#/components/schemas/platform.app.remove'
                            event:
                              enum:
                              - platform.app.remove
                        - type: object
                          title: platform.app.update
                          properties:
                            context:
                              enum:
                              - app
                            data:
                              $ref: '#/components/schemas/platform.app.update'
                            event:
                              enum:
                              - platform.app.update
                        - type: object
                          title: platform.client.create
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.client.create'
                            event:
                              enum:
                              - platform.client.create
                        - type: object
                          title: platform.client.remove
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.client.remove'
                            event:
                              enum:
                              - platform.client.remove
                        - type: object
                          title: platform.client.update
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.client.update'
                            event:
                              enum:
                              - platform.client.update
                        - type: object
                          title: platform.env.create
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.env.create'
                            event:
                              enum:
                              - platform.env.create
                        - type: object
                          title: platform.env.remove
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.env.remove'
                            event:
                              enum:
                              - platform.env.remove
                        - type: object
                          title: platform.env.update
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.env.update'
                            event:
                              enum:
                              - platform.env.update
                        - type: object
                          title: platform.login.failed
                          properties:
                            context:
                              enum:
                              - user
                            data:
                              $ref: '#/components/schemas/platform.login.failed'
                            event:
                              enum:
                              - platform.login.failed
                        - type: object
                          title: platform.login
                          properties:
                            context:
                              enum:
                              - user
                            data:
                              $ref: '#/components/schemas/platform.login'
                            event:
                              enum:
                              - platform.login
                        - type: object
                          title: platform.logout
                          properties:
                            context:
                              enum:
                              - auth
                            data:
                              $ref: '#/components/schemas/platform.logout'
                            event:
                              enum:
                              - platform.logout
                        - type: object
                          title: platform.org.active
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.org.active'
                            event:
                              enum:
                              - platform.org.active
                        - type: object
                          title: platform.org.branding.update
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.org.branding.update'
                            event:
                              enum:
                              - platform.org.branding.update
                        - type: object
                          title: platform.org.create
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.org.create'
                            event:
                              enum:
                              - platform.org.create
                        - type: object
                          title: platform.org.idp.create
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.org.idp.create'
                            event:
                              enum:
                              - platform.org.idp.create
                        - type: object
                          title: platform.org.idp.domain.associate
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.org.idp.domain.associate'
                            event:
                              enum:
                              - platform.org.idp.domain.associate
                        - type: object
                          title: platform.org.idp.domain.confirm
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.org.idp.domain.confirm'
                            event:
                              enum:
                              - platform.org.idp.domain.confirm
                        - type: object
                          title: platform.org.idp.domain.create
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.org.idp.domain.create'
                            event:
                              enum:
                              - platform.org.idp.domain.create
                        - type: object
                          title: platform.org.idp.domain.dissociate
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.org.idp.domain.dissociate'
                            event:
                              enum:
                              - platform.org.idp.domain.dissociate
                        - type: object
                          title: platform.org.idp.domain.remove
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.org.idp.domain.remove'
                            event:
                              enum:
                              - platform.org.idp.domain.remove
                        - type: object
                          title: platform.org.idp.remove
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.org.idp.remove'
                            event:
                              enum:
                              - platform.org.idp.remove
                        - type: object
                          title: platform.org.idp.update
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.org.idp.update'
                            event:
                              enum:
                              - platform.org.idp.update
                        - type: object
                          title: platform.org.inactive
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.org.inactive'
                            event:
                              enum:
                              - platform.org.inactive
                        - type: object
                          title: platform.org.security.update
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.org.security.update'
                            event:
                              enum:
                              - platform.org.security.update
                        - type: object
                          title: platform.org.update
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.org.update'
                            event:
                              enum:
                              - platform.org.update
                        - type: object
                          title: platform.org.user.idp.update
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.org.user.idp.update'
                            event:
                              enum:
                              - platform.org.user.idp.update
                        - type: object
                          title: platform.org.user.primary
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.org.user.primary'
                            event:
                              enum:
                              - platform.org.user.primary
                        - type: object
                          title: platform.org.user.resent
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.org.user.resent'
                            event:
                              enum:
                              - platform.org.user.resent
                        - type: object
                          title: platform.org.user.role.update
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.org.user.role.update'
                            event:
                              enum:
                              - platform.org.user.role.update
                        - type: object
                          title: platform.session.create
                          properties:
                            context:
                              enum:
                              - auth
                            data:
                              $ref: '#/components/schemas/platform.session.create'
                            event:
                              enum:
                              - platform.session.create
                        - type: object
                          title: platform.subscription.create
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.subscription.create'
                            event:
                              enum:
                              - platform.subscription.create
                        - type: object
                          title: platform.subscription.delete
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.subscription.delete'
                            event:
                              enum:
                              - platform.subscription.delete
                        - type: object
                          title: platform.subscription.expired
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.subscription.expired'
                            event:
                              enum:
                              - platform.subscription.expired
                        - type: object
                          title: platform.subscription.update
                          properties:
                            context:
                              enum:
                              - org
                            data:
                              $ref: '#/components/schemas/platform.subscription.update'
                            event:
                              enum:
                              - platform.subscription.update
                        - type: object
                          title: platform.team.app.add
                          properties:
                            context:
                              enum:
                              - team
                            data:
                              $ref: '#/components/schemas/platform.team.app.add'
                            event:
                              enum:
                              - platform.team.app.add
                        - type: object
                          title: platform.team.app.remove
                          properties:
                            context:
                              enum:
                              - team
                            data:
                              $ref: '#/components/schemas/platform.team.app.remove'
                            event:
                              enum:
                              - platform.team.app.remove
                        - type: object
                          title: platform.team.create
                          properties:
                            context:
                              enum:
                              - team
                            data:
                              $ref: '#/components/schemas/platform.team.create'
                            event:
                              enum:
                              - platform.team.create
                        - type: object
                          title: platform.team.default
                          properties:
                            context:
                              enum:
                              - team
                            data:
                              $ref: '#/components/schemas/platform.team.default'
                            event:
                              enum:
                              - platform.team.default
                        - type: object
                          title: platform.team.remove
                          properties:
                            context:
                              enum:
                              - team
                            data:
                              $ref: '#/components/schemas/platform.team.remove'
                            event:
                              enum:
                              - platform.team.remove
                        - type: object
                          title: platform.team.update
                          properties:
                            context:
                              enum:
                              - team
                            data:
                              $ref: '#/components/schemas/platform.team.update'
                            event:
                              enum:
                              - platform.team.update
                        - type: object
                          title: platform.team.user.add
                          properties:
                            context:
                              enum:
                              - team
                            data:
                              $ref: '#/components/schemas/platform.team.user.add'
                            event:
                              enum:
                              - platform.team.user.add
                        - type: object
                          title: platform.team.user.remove
                          properties:
                            context:
                              enum:
                              - team
                            data:
                              $ref: '#/components/schemas/platform.team.user.remove'
                            event:
                              enum:
                              - platform.team.user.remove
                        - type: object
                          title: platform.team.user.role.update
                          properties:
                            context:
                              enum:
                              - team
                            data:
                              $ref: '#/components/schemas/platform.team.user.role.update'
                            event:
                              enum:
                              - platform.team.user.role.update
                        - type: object
                          title: platform.terms.accept
                          properties:
                            context:
                              enum:
                              - user
                            data:
                              $ref: '#/components/schemas/platform.terms.accept'
                            event:
                              enum:
                              - platform.terms.accept
                        - type: object
                          title: platform.user.mfa.app.add
                          properties:
                            context:
                              enum:
                              - user
                            data:
                              $ref: '#/components/schemas/platform.user.mfa.app.add'
                            event:
                              enum:
                              - platform.user.mfa.app.add
                        - type: object
                          title: platform.user.mfa.app.remove
                          properties:
                            context:
                              enum:
                              - user
                            data:
                              $ref: '#/components/schemas/platform.user.mfa.app.remove'
                            event:
                              enum:
                              - platform.user.mfa.app.remove
                        - type: object
                          title: platform.user.mfa.disabled
                          properties:
                            context:
                              enum:
                              - user
                            data:
                              $ref: '#/components/schemas/platform.user.mfa.disabled'
                            event:
                              enum:
                              - platform.user.mfa.disabled
                        - type: object
                          title: platform.user.mfa.enabled
                          properties:
                            context:
                              enum:
                              - user
                            data:
                              $ref: '#/components/schemas/platform.user.mfa.enabled'
                            event:
                              enum:
                              - platform.user.mfa.enabled
                        - type: object
                          title: platform.user.password.change
                          properties:
                            context:
                              enum:
                              - user
                            data:
                              $ref: '#/components/schemas/platform.user.password.change'
                            event:
                              enum:
                              - platform.user.password.change
                        - type: object
                          title: platform.user.password.reset
                          properties:
                            context:
                              enum:
                              - user
                            data:
                              $ref: '#/components/schemas/platform.user.password.reset'
                            event:
                              enum:
                              - platform.user.password.reset
                        - type: object
                          title: platform.user.social.disable
                          properties:
                            context:
                              enum:
                              - user
                            data:
                              $ref: '#/components/schemas/platform.user.social.disable'
                            event:
                              enum:
                              - platform.user.social.disable
                        - type: object
                          title: platform.user.social.enable
                          properties:
                            context:
                              enum:
                              - user
                            data:
                              $ref: '#/components/schemas/platform.user.social.enable'
                            event:
                              enum:
                              - platform.user.social.enable
                        - type: object
                          title: platform.user.update
                          properties:
                            context:
                              enum:
                              - user
                            data:
                              $ref: '#/components/schemas/platform.user.update'
                            event:
                              enum:
                              - platform.user.update
                        properties:
                          event:
                            type: string
                            description: The event name.
                          id:
                            type: string
                            description: Event identifier.
                          ts:
                            type: number
                            description: Timestamp of when the event occurred.
                          message:
                            type: string
                            description: Message describing the event.
                          context:
                            type: string
                            description: The context the event is for.
                - properties:
                    metadata:
                      type: object
                      description: Result metadata.
                      properties:
                        contexts:
                          type: string
                          description: Type of events included in the response.
                        query:
                          type: object
                          description: Activity query. Included when debug is true.
                - properties:
                    metadata:
                      $ref: '#/components/schemas/ResponseMetadata'
              examples:
                ActivityFind200Example:
                  summary: Default activity_find 200 response
                  x-microcks-default: true
                  value: example_value
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                FORBIDDEN:
                  value:
                    $ref: '#/components/examples/FORBIDDEN/value'
                NOT_FOUND:
                  value:
                    $ref: '#/components/examples/NOT_FOUND/value'
                IDP_REQUIRED:
                  value:
                    $ref: '#/components/examples/IDP_REQUIRED/value'
                USER_NOT_ADMIN:
                  value:
                    $ref: '#/components/examples/USER_NOT_ADMIN/value'
                LOGIN_REQUIRED:
                  value:
                    $ref: '#/components/examples/LOGIN_REQUIRED/value'
                PARAM_INVALID:
                  value:
                    $ref: '#/components/examples/PARAM_INVALID/value'
      security:
      - BearerClient: []
      - SessionCookie: []
      - BearerUser: []
      parameters:
      - $ref: '#/components/parameters/fields'
        example: example_value
      - $ref: '#/components/parameters/exclude_fields'
        example: example_value
      - in: query
        name: app_guid
        required: false
        schema:
          type: string
          description: guid of the app to query.
        example: example_value
      - in: query
        name: contexts
        required: false
        schema:
          type: array
          description: Type of events to return.
          items:
            type: string
            enum:
            - api_central
            - app
            - auth
            - catalog
            - org
            - team
            - user
        example:
        - api_central
      - in: query
        name: data
        required: false
        schema:
          type: boolean
          description: Return event and data properties for events
        example: true
      - in: query
        name: enrich
        required: false
        schema:
          type: boolean
          description: Whether to replace identifiers with user names in event messages. Requires "limit" parameter to be passed.
        example: true
      - in: query
        name: exclude_contexts
        required: false
        schema:
          type: array
          description: Type of events to exclude.
          items:
            type: string
            enum:
            - api_central
            - app
            - auth
            - catalog
            - org
            - team
            - user
        example:
        - api_central
      - in: query
        name: from
        required: false
        schema:
          type: number
          description: Starting timestamp to get data for.
        example: 1.0
      - in: query
        name: org_id
        required: false
        schema:
          type: string
          description: '`guid` or `org_id` of the org to query.'
        example: 507f1f77bcf86cd799439011
      - in: query
        name: redact
        required: false
        schema:
          type: boolean
          description: Whether to apply redaction of email addresses per the org's setting.
        example: true
      - in: query
        name: sort
        required: false
        schema:
          type: number
          description: 'Sort direction: `1` - ascending, `-1` - descending.'
          enum:
          - -1
          - 1
          default: -1
        example: -1
      - in: query
        name: term
        required: false
        schema:
          type: string
          description: Prefix or exact search term
        example: example_value
      - in: query
        name: to
        required: false
        schema:
          type: number
          description: Ending timestamp to get data for.
        example: 1.0
      - in: query
        name: user_guid
        required: false
        schema:
          type: string
          description: guid of the user to query.
        example: example_value
      - in: query
        name: user_messages
        required: false
        schema:
          type: boolean
          description: Use user-specific message for events for the signed-in user.
        example: true
      - in: query
        name: limit
        required: false
        schema:
          type: number
          minimum: 0
          maximum: 100
          description: Number of results per page. Zero will return an empty result, but the matched count in meta will be returned.
          default: 25
        example: 1.0
      - in: query
        name: page
        required: false
        schema:
          type: number
          description: Page of results.
          default: 1
        example: 1.0
      - in: query
        name: skip
        required: false
        schema:
          type: number
          description: Number of items to skip in results, used for pagination.
          default: 0
        example: 1.0
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Provider:
      type: object
      required:
      - consumer
      - consumer_approve
      - guid
      - name
      - org_guid
      - public
      - signup
      - terms
      x-defs:
        menu_item:
          type: object
          required:
          - type
          - text
          - url
          unevaluatedProperties: false
          discriminator:
            propertyName: type
            mapping:
              url: '#/components/schemas/Provider/x-defs/menu_item/oneOf/0'
              document: '#/components/schemas/Provider/x-defs/menu_item/oneOf/1'
          oneOf:
          - type: object
            properties:
              type:
                type: string
                enum:
                - url
              url:
                type: string
                description: URL or relative path for the link.
                pattern: (^((https?:\/\/[A-Za-z0-9.-]+|(?:www\.|[-;:&=+$,\w]+@)[A-Za-z0-9.-]+)((?:\/[+~%/.\w\-_]*)?\??(?:[-+=&;%@.\w_]*)#?(?:[\w?/:@\-._~!$&'()*+,;=]*))?)$|^(?:\/[+~%/.\w\-_]*)(?:\?[-+=&;%@.\w_]*)?(?:#[.!/\\\w]*)?$)
          - type: object
            properties:
              type:
                type: string
                enum:
                - document
              url:
                type: string
                description: Document resource guid
          properties:
            new_tab:
              type: boolean
              description: Whether the link opens in a new tab.
            text:
              type: string
              description: Label for the link.
              x-no-tags: true
            type:
              type: string
              description: Type of the link.
              enum:
              - document
              - url
            url:
              type: string
              description: URL, relative path, or document resource guid for the link.
            visibility:
              type: integer
              description: 'Which users the link is visible to. Always shown: 0, Signed in: 1, Signed out: 2, Hidden: 3'
              enum:
              - 0
              - 1
              - 2
              - 3
        onboarding.items.hint:
          type: string
          description: Contextual information for the element.
        onboarding.items.text:
          type: string
          description: Label for the element.
        onboarding_props:
          type: object
          required:
          - id
          - type
          - text
          properties:
            hint:
              type: object
              description: Contextual information for the element.
              default: {}
              properties:
                en-US:
                  type: string
                  description: English language value.
                  allOf:
                  - $ref: '#/components/schemas/Provider/x-defs/onboarding.items.hint'
                fr-FR:
                  type: string
                  description: French language value.
                  allOf:
                  - $ref: '#/components/schemas/Provider/x-defs/onboarding.items.hint'
                de-DE:
                  type: string
                  description: German language value.
                  allOf:
                  - $ref: '#/components/schemas/Provider/x-defs/onboarding.items.hint'
                pt-BR:
                  type: string
                  description: Portuguese language value.
                  allOf:
                  - $ref: '#/components/schemas/Provider/x-defs/onboarding.items.hint'
            id:
              type: string
              description: Identifier for the element.
              pattern: '[\w-]{21}'
            required:
              type: boolean
              description: Whether entry is required for the element.
            text:
              type: object
              description: Label for the element.
              default: {}
              properties:
                en-US:
                  type: string
                  description: English language value.
                  allOf:
                  - $ref: '#/components/schemas/Provider/x-defs/onboarding.items.text'
                fr-FR:
                  type: string
                  description: French language value.
                  allOf:
                  - $ref: '#/components/schemas/Provider/x-defs/onboarding.items.text'
                de-DE:
                  type: string
                  description: German language value.
                  allOf:
                  - $ref: '#/components/schemas/Provider/x-defs/onboarding.items.text'
                pt-BR:
                  type: string
                  description: Portuguese language value.
                  allOf:
                  - $ref: '#/components/schemas/Provider/x-defs/onboarding.items.text'
            type:
              type: string
              description: Type of element.
              enum:
              - header
              - text
              - number
              - date
              - checkbox
              - toggle
              - select
              - multiselect
            visibility:
              type: number
              description: Whether the field is only available to provider administrators
              enum:
              - 0
              - 1
        onboarding.items.placeholder:
          type: string
          description: Placeholder or example value for the element.
        placeholder:
          type: object
          description: Placeholder or example value for the element.
          default: {}
          properties:
            en-US:
              type: string
              description: English language value.
              allOf:
              - $ref: '#/components/schemas/Provider/x-defs/onboarding.items.placeholder'
            fr-FR:
              type: string
              description: French language value.
              allOf:
              - $ref: '#/components/schemas/Provider/x-defs/onboarding.items.placeholder'
            de-DE:
              type: string
              description: German language value.
              allOf:
              - $ref: '#/components/schemas/Provider/x-defs/onboarding.items.placeholder'
            pt-BR:
              type: string
              description: Portuguese language value.
              allOf:
              - $ref: '#/components/schemas/Provider/x-defs/onboarding.items.placeholder'
        homepage_border:
          type: object
          description: Item border properties.
          properties:
            color:
              type: string
              format: color
              description: Border color
            radius:
              type: string
              description: Border radius
              default: square
              enum:
              - square
              - rounded
              - pill
            style:
              type: string
              description: Border style
              default: solid
              enum:
              - solid
              - dashed
              - dotted
            width:
              type: object
              additionalProperties: false
              properties:
                bottom:
                  type: string
                  pattern: ^[0-9]+\.?([0-9]+)?px$
                left:
                  type: string
                  pattern: ^[0-9]+\.?([0-9]+)?px$
                right:
                  type: string
                  pattern: ^[0-9]+\.?([0-9]+)?px$
                top:
                  type: string
                  pattern: ^[0-9]+\.?([0-9]+)?px$
        homepage_spacing:
          type: object
          additionalProperties: false
          properties:
            bottom:
              type: string
              pattern: ^[0-9]+\.?([0-9]+)?(px|%|em|rem)$
            left:
              type: string
              pattern: ^[0-9]+\.?([0-9]+)?(px|%|em|rem)$
            right:
              type: string
              pattern: ^[0-9]+\.?([0-9]+)?(px|%|em|rem)$
            top:
              type: string
              pattern: ^[0-9]+\.?([0-9]+)?(px|%|em|rem)$
        genderedLangSchema:
          type: object
          properties:
            en-US:
              type: 'null'
              description: English language value.
              enum:
              - null
            fr-FR:
              type: string
              description: French language value.
              enum:
              - m
              - f
            de-DE:
              type: string
              description: German language value.
              enum:
              - m
              - f
              - n
            pt-BR:
              type: string
              description: Portuguese language value.
              enum:
              - m
              - f
        description:
          type: string
          description: Description of the provider marketplace instance.
          default: ''
          maxLength: 200
        footer.items:
          type: array
          description: Elements shown in the footer block.
          maxItems: 10
          items:
            type: object
            unevaluatedProperties: false
            discriminator:
              propertyName: type
              mapping:
                nav_menu: '#/components/schemas/Provider/x-defs/footer.items/items/oneOf/0'
                logo: '#/components/schemas/Provider/x-defs/footer.items/items/oneOf/1'
                text: '#/components/schemas/Provider/x-defs/footer.items/items/oneOf/2'
                separator: '#/components/schemas/Provider/x-defs/footer.items/items/oneOf/3'
            oneOf:
            - title: Menu
              description: Navigation menu.
              required:
              - items
              properties:
                items:
                  type: array
                  title: Navigation Menu Items
                  description: Links added in the footer navigation menu.
                  maxItems: 9
                  items:
                    $ref: '#/components/schemas/Provider/x-defs/menu_item'
                type:
                  enum:
                  - nav_menu
            - title: Logo
              description: Company logo.
              required:
              - image
              properties:
                image:
                  type: string
                  description: Company logo.
                tagline:
                  type: string
                  format: html
                  description: Company tagline.
                type:
                  enum:
                  - logo
            - title: Text
              description: Text block.
              required:
              - content
              properties:
                content:
                  type: string
                  format: html
                  description: Text block to show in the footer.
                type:
                  enum:
                  - text
            - title: Separator
              description: Separator.
              properties:
                type:
                  enum:
                  - separator
            properties:
              position:
                type: string
                description: Alignment of the content within the footer block.
                enum:
                - left
                - center
                - right
              type:
                type: string
                description: Content type
        help_menu:
          type: array
          description: Content shown in the navigation bar help menu.
          items:
            type: object
            unevaluatedProperties: false
            allOf:
            - $ref: '#/components/schemas/Provider/x-defs/menu_item'
            properties:
              icon:
                type: string
                description: Icon displayed in the menu for the item.
        homepage_categories_title:
          type: string
          description: Title for the categories.
        homepage_content_button_text:
          type: string
          description: Button text
        homepage_content_image_alt:
          type: string
          description: Image alt text.
        homepage_content_search_text:
          type: string
          description: Placeholder text
        homepage_content_text:
          type: string
          description: Text content, using markdown formatting.
        homepage_products_title:
          type: string
          description: Title for the products.
        name:
          type: string
          description: Name of the provider marketplace instance.
          minLength: 2
          maxLength: 350
          x-no-tags: true
        nav_items:
          type: array
          description: Links added in the common navigation menu.
          maxItems: 9
          items:
            $ref: '#/components/schemas/Provider/x-defs/menu_item'
        onboarding.items.off:
          type: string
          description: Label for disabled toggle state.
        onboarding.items.on:
          type: string
          description: Label for enabled toggle state.
        onboarding.items.options.text:
          type: string
          description: Label for value.
        reviews.instructions:
          type: string
          description: Review guidelines and policies within the provider marketplace.
          x-no-tags: true
        sitename:
          type: string
          description: Page title of the provider marketplace instance.
          maxLength: 350
          x-no-tags: true
      unevaluatedProperties: false
      allOf:
      - $ref: '#/components/schemas/DefaultFields'
      properties:
        _id:
          type: string
          description: Document ID of the provider.
          readOnly: true
          deprecated: true
          example: 507f1f77bcf86cd799439011
        admin_teams:
          description: Administration access.
          default: false
          oneOf:
          - type: boolean
            description: Flag indicating if `marketplace_admin` role members in all teams can administer the provider marketplace.
          - type: array
            description: '`guid` of a selected team whose `marketplace_admin` role members can administer the provider marketplace.'
            items:
              type: string
              format: uuid
          example: example_value
        consume_teams:
          type: object
          description: Preference for which org members can consume the provider marketplace.
          default:
            type: teams
            value: true
          unevaluatedProperties: false
          discriminator:
            propertyName: type
            mapping:
              teams: '#/components/schemas/Provider/properties/consume_teams/oneOf/0'
              included: '#/components/schemas/Provider/properties/consume_teams/oneOf/1'
              excluded: '#/components/schemas/Provider/properties/consume_teams/oneOf/1'
              tags: '#/components/schemas/Provider/properties/consume_teams/oneOf/2'
          oneOf:
          - type: object
            title: All Teams
            properties:
              type:
                enum:
                - teams
              value:
                type: boolean
                description: Indicates if `consumer` role members in all teams can consume the provider marketplace.
          - type: object
            title: Specific Teams
            properties:
              type:
                enum:
                - included
                - excluded
              value:
                type: array
                description: '`guid` of a selected teams whose `consumer` role members can consume the provider marketplace.'
                items:
                  type: string
                  format: uuid
          - type: object
            title: Tagged Teams
            properties:
              type:
                enum:
                - tags
              value:
                type: array
                description: '`consumer` role members in teams with any value in its `tags` can consume the provider marketplace.'
                items:
                  type: string
          properties:
            type:
              type: string
              description: Setting for how to apply consumption preference value.
          example:
            type: example_value
        publish_teams:
          type: object
          description: Preference for which org members can publish products to the provider marketplace.
          default:
            type: teams
            value: true
          unevaluatedProperties: false
          discriminator:
            propertyName: type
            mapping:
              teams: '#/components/schemas/Provider/properties/publish_teams/oneOf/0'
              included: '#/components/schemas/Provider/properties/publish_teams/oneOf/1'
              excluded: '#/components/schemas/Provider/properties/publish_teams/oneOf/1'
              tags: '#/components/schemas/Provider/properties/publish_teams/oneOf/2'
          oneOf:
          - type: object
            title: All Teams
            properties:
              type:
                enum:
                - teams
              value:
                type: boolean
                description: Indicates if `catalog_manager` role members in all teams can publish to the provider marketplace.
          - type: object
            title: Specific Teams
            properties:
              type:
                enum:
                - included
                - excluded
              value:
                type: array
                description: '`guid` of a selected teams whose `catalog_manager` role members can publish to the provider marketplace.'
                items:
                  type: string
                  format: uuid
          - type: object
            title: Tagged Teams
            properties:
              type:
                enum:
                - tags
              value:
                type: array
                description: '`catalog_manager` role members in teams with any value in its `tags` can publish to the provider marketplace.'
                items:
                  type: string
          properties:
            type:
              type: string
              description: Setting for how to apply publication preference value.
          example:
            type: example_value
        ai:
          type: object
          default:
            enabled: false
          properties:
            enabled:
              type: boolean
              description: Whether AI integration is enabled for the provider marketplace.
              default: false
            embedded:
              type: boolean
              description: Whether AI integration uses built-in LLM (or customer hosted).
              default: false
            key:
              type: string
              description: API key of customer hosted LLM.
              writeOnly: true
            key_set:
              type: string
              format: date-time
              description: Date and time when API key was last set.
              readOnly: true
            stream:
              type: boolean
              description: Whether LLM supports SSE events stream.
              default: true
            url:
              type: string
              format: secure-url
              description: URL of customer hosted LLM.
          example:
            enabled: true
            embedded: true
            key: example_value
            key_set: '2026-04-21T00:00:00Z'
            stream: true
            url: https://example.com
        appearance:
          type: object
          description: Appearance settings for the provider marketplace.
          additionalProperties: false
          properties:
            favicon:
              type: string
              description: URL of the provider marketplace favicon.
            logo:
              type: string
              description: URL of the provider marketplace logo.
            theme_bg:
              type: string
              format: color
              description: Color for page background.
            theme_black:
              type: string
              format: color
              description: Color for default elements.
            theme_link:
              type: string
              format: color
              description: Color for text links.
            theme_primary:
              type: string
              format: color
              description: Color for action controls.
            theme_primary_alt:
              type: string
              format: color
              description: Supplementary content color for primary action controls.
            theme_secondary:
              type: string
              format: color
              description: Color for secondary elements.
            theme_secondary_alt:
              type: string
              format: color
              description: Supplementary content color for secondary action controls.
            theme_tertiary:
              type: string
              format: color
              description: Color for tertiary elements.
            theme_tertiary_alt:
              type: string
              format: color
              description: Supplementary content color for tertiary action controls.
            theme_danger:
              type: string
              format: color
              description: Color for danger elements.
            theme_danger_alt:
              type: string
              format: color
              description: Supplementary content color for danger state elements.
            theme_info:
              type: string
              format: color
              description: Color for info elements.
            theme_info_alt:
              type: string
              format: color
              description: Supplementary content color for info state elements.
            theme_success:
              type: string
              format: color
              description: Color for success elements.
            theme_success_alt:
              type: string
              format: color
              description: Supplementary content color for success state elements.
            theme_warning:
              type: string
              format: color
              description: Color for warning elements.
            theme_warning_alt:
              type: string
              format: color
              description: Supplementary content color for warning state elements.
            theme_button:
              type: string
              format: color
              description: Element color for heading buttons.
            theme_button_text:
              type: string
              format: color
              description: Element color for heading button text.
            theme_container:
              type: string
              format: color
              description: Element color for container titles.
            theme_container_bg:
              type: string
              format: color
              description: Element color for container backgrounds.
            theme_container_brd:
              type: string
              format: color
              description: Element color for container borders and separators.
            theme_container_text:
              type: string
              format: color
              description: Element color for container text.
            theme_heading:
              type: string
              format: color
              description: Element color for heading titles.
            theme_heading_bg:
              type: string
              format: color
              description: Element color for heading back.
            theme_icon:
              type: string
              format: color
              description: Element color for icons.
            theme_top_nav:
              type: string
              format: color
              description: Color for top navigation menu text.
            theme_top_nav_bg_direction:
              type: string
              description: Direction for the top navigation menu background gradient.
              enum:
              - to right
              - to bottom
              - to right top
              - to right bottom
            theme_top_nav_bg_end:
              type: string
              format: color
              description: Ending color for top navigation menu background.
            theme_top_nav_bg_fill:
              type: string
              description: Fill format for the top navigation menu background.
              enum:
              - solid
              - gradient
            theme_top_nav_bg_start:
              type: string
              format: color
              description: Starting color for top navigation menu background.
            theme_top_nav_icon:
              type: string
              format: color
              description: Color for top navigation menu icons.
            theme_top_nav_menu_bg:
              type: string
              format: color
              description: Color for top navigation menu background.
            theme_left_nav:
              type: string
              format: color
              description: Color for left navigation menu text.
            theme_left_nav_active:
              type: string
              format: color
              description: Color for left navigation menu active item text.
            theme_left_nav_active_bg:
              type: string
              format: color
              description: Color for left navigation menu active item background.
            theme_left_nav_bg:
              type: string
              format: color
              description: Color for left navigation menu background.
            font_family:
              type: string
              description: Font family.
            letter_spacing:
              type: string
              description: Letter spacing.
              enum:
              - -1px
              - normal
              - 1px
            button_format:
              type: string
              description: Button background fill or outline.
              enum:
              - solid
              - outline
            button_radius:
              type: string
              description: Button radius.
              enum:
              - square
              - rounded
              - pill
          example:
            favicon: example_value
            logo: example_value
            theme_bg: example_value
            theme_black: example_value
            theme_link: example_value
            theme_primary: example_value
            theme_primary_alt: example_value
            theme_secondary: example_value
            theme_secondary_alt: example_value
            theme_tertiary: example_value
        billing:
          type: object
          description: Billing integration settings for the provider marketplace.
          default:
            enabled: false
          additionalProperties: false
          properties:
            enabled:
              type: boolean
              description: Whether billing integration is enabled for the provider marketplace.
              default: false
            key:
              type: string
              description: Billing integration vendor API key; required for vendor other than `custom`.
              writeOnly: true
            key_set:
              type: string
              format: date-time
              description: Date billing integration vendor key was set.
              readOnly: true
            portal_url:
              type: string
              format: secure-url
              description: URL of vendor hosted customer portal; optional for vendor `stripe`.
            signature:
              type: string
              description: Billing integration vendor webhook signature or secret key; required for vendor other than `custom`.
              writeOnly: true
            signature_set:
              type: string
              format: date-time
              description: Date billing integration vendor webhook signature was set.
              readOnly: true
            url:
              type: string
              format: url
              description: Billing integration vendor region or environment URL; required for vendor `myFatoorah`.
              enum:
              - https://api.myfatoorah.com
              - https://api-sa.myfatoorah.com
              - https://api-qa.myfatoorah.com
              - https://apitest.myfatoorah.com
            vendor:
              type: string
              description: Billing integration vendor for the provider marketplace.
              enum:
              - stripe
              - myFatoorah
              - custom
          example:
            enabled: true
            key: example_value
            key_set: '2026-04-21T00:00:00Z'
            portal_url: https://example.com
            signature: example_value
            signature_set: '2026-04-21T00:00:00Z'
            url: https://api.myfatoorah.com
            vendor: stripe
        certificate:
          type: string
          description: Encrypted certificate
          writeOnly: true
          example: example_value
        certificate_expires:
          type: string
          format: date-time
          description: Expiry date of certificate provided for marketplace domain.
          example: '2026-04-21T00:00:00Z'
        console:
          type: object
          description: Console page settings for the provider marketplace.
          default:
            getting_started:
              enabled: false
          additionalProperties: false
          properties:
            getting_started:
              type: object
              description: Getting Started section settings for the provider marketplace console page.
              default:
                enabled: false
              required:
              - enabled
              additionalProperties: false
              properties:
                enabled:
                  type: boolean
                  description: Whether Getting Started section is enabled for the provider marketplace console page.
                  default: false
                type:
                  type: string
                  description: Type of document to display on Getting Started section on the provider marketplace console page.
                  enum:
                  - document
                url:
                  type: string
                  description: Document resource guid
                  x-no-tags: true
          example:
            getting_started:
              enabled: true
              type: document
              url: https://example.com
        consumer:
          type: boolean
          description: Whether to allow authenticated consumer org user access to the marketplace.
[...]
