openapi: 3.1.0
info:
  version: 16.10.0
  title: Amplify Platform API v1.0.0 aca org API
  description: 'The Amplify Platform API provides the interface to perform the following:

    - Manage account settings and credentials

    - Manage organization settings, users, service accounts, and teams

    - Retrieve organization usage data

    - Register and manage applications

    - Retrieve application metrics and analytics

    - Retrieve user, organization, and application activity


    See the <a href="https://docs.axway.com/bundle/amplify-central/page/docs/integrate_with_central/platform-auth-examples/index.html" target="_blank">Amplify Guide</a> for documentation and examples on how to authorize API calls to platform services.


    For general documentation refer to the <a href="https://docs.axway.com/category/platform" target="_blank">Amplify Platform documentation</a>.


    &copy; Axway 2026. All rights reserved.'
  contact:
    email: support@axway.com
  termsOfService: https://www.axway.com/en/axway-platform-terms-of-use
servers:
- url: https://platform.axway.com/api/v1
tags:
- name: org
paths:
  /org/env:
    parameters: []
    get:
      summary: Axway Find Organization Environments
      description: "Returns the environments configured for the signed-in user's organization.\n\n___Auth Requirement___\n - `administrator`, `auditor`, `developer`, or `usage_reporter` access to the organization. Developer access may be restricted by the organization environments access control setting.\n"
      tags:
      - org
      operationId: org_findEnvs
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Response'
                - properties:
                    result:
                      $ref: '#/components/schemas/EnvironmentList'
              examples:
                OrgFindenvs200Example:
                  summary: Default org_findEnvs 200 response
                  x-microcks-default: true
                  value: example_value
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                FORBIDDEN:
                  value:
                    $ref: '#/components/examples/FORBIDDEN/value'
                NOT_FOUND:
                  value:
                    $ref: '#/components/examples/NOT_FOUND/value'
                IDP_REQUIRED:
                  value:
                    $ref: '#/components/examples/IDP_REQUIRED/value'
                USER_NOT_ADMIN:
                  value:
                    $ref: '#/components/examples/USER_NOT_ADMIN/value'
                LOGIN_REQUIRED:
                  value:
                    $ref: '#/components/examples/LOGIN_REQUIRED/value'
                PARAM_INVALID:
                  value:
                    $ref: '#/components/examples/PARAM_INVALID/value'
      security:
      - BearerClient: []
      - SessionCookie: []
      - BearerUser: []
      parameters:
      - $ref: '#/components/parameters/fields'
        example: example_value
      - $ref: '#/components/parameters/exclude_fields'
        example: example_value
      - in: query
        name: org_id
        required: false
        schema:
          type: string
          description: The `guid` or `org_id` of the organization.
        example: 507f1f77bcf86cd799439011
      - in: query
        name: target
        required: false
        schema:
          type: string
          description: The target in the UI that the data is being requested for. Filters the results to only environments that include the target.
          enum:
          - api_central
        example: api_central
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /org/{org_id}/user/{user_guid}/primary:
    parameters: []
    put:
      summary: Axway Sets the Primary Contract for the Org
      description: "Set which user is listed as the primary contact for the organization.\n\n___Auth Requirement___\n - `administrator` access to the organization.\n\n\n_Allows consumer organization access_\n"
      externalDocs:
        description: Managing Users
        url: https://docs.axway.com/bundle/platform-management/page/docs/management_guide/organizations/managing_organizations/managing_users/index.html
      tags:
      - org
      operationId: org_userPrimary
      x-publishes:
      - platform.org.user.primary
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Response'
                - properties:
                    result:
                      type: object
                      required:
                      - active
                      - guid
                      - name
                      - org_id
                      - region
                      - subscriptions
                      - users
                      unevaluatedProperties: false
                      allOf:
                      - $ref: '#/components/schemas/DefaultFields'
                      properties:
                        account_id:
                          type: integer
                          description: Account ID of the organization.
                          minimum: 10000
                          maximum: 999999
                        active:
                          type: boolean
                          description: Active state of the organization. Organizations become inactive after passing their end date.
                          default: true
                        analytics:
                          type: object
                          description: Analytics details for the organization
                          additionalProperties: false
                          properties:
                            token:
                              type: string
                              description: Token used to identify the organization.
                        branding:
                          type: object
                          description: Organization branding.
                          additionalProperties: false
                          properties:
                            logo:
                              type: string
                              description: Logo image of the company.
                        consumer_id:
                          type: string
                          description: Mapped ID of the consumer org from the configured Identity Provider.
                        guid:
                          type: string
                          format: uuid
                          description: GUID identifier for the organization
                        name:
                          type: string
                          description: Name of the organization.
                          minLength: 2
                          maxLength: 64
                          x-no-tags: true
                        onboarding_required:
                          type: array
                          readOnly: true
                          items:
                            type: string
                            pattern: '[\w-]{21}'
                        org_id:
                          type: integer
                          description: Identifier for the organization
                        origin:
                          type:
                          - string
                          - 'null'
                          description: Source from which the organization creation originated.
                          enum:
                          - '360'
                          - sfdc
                          - signup
                        pending:
                          type: boolean
                          description: Whether the organization is pending approval for a provider organization administator.
                        provider_guid:
                          type: string
                          format: uuid
                          description: GUID identifier of the owning provider if the organization is a consumer of a marketplace.
                        region:
                          type: string
                          description: The data residency region of the organization.
                          default: US
                          enum:
                          - US
                          - EU
                          - AP
                        security:
                          type: object
                          description: Security settings for the organization.
                          additionalProperties: false
                          properties:
                            access_controls:
                              type: object
                              description: Developer visibility controls.
                              additionalProperties: false
                              properties:
                                enviroments:
                                  type: number
                                  description: Developer access to environments. 0 - Developers cannot view environments, 1 - Developer may view all environemnts.
                                  enum:
                                  - 0
                                  - 1
                                service_accounts:
                                  type: number
                                  description: Developer access to service accounts. 0 - Developers cannot view service accounts, 1 - Developers may view service accounts in their teams, 2 - Developer may view all service accounts.
                                  enum:
                                  - 0
                                  - 1
                                  - 2
                                usage:
                                  type: number
                                  description: Developer access to usage. 0 - Developers cannot view usage, 1 - Developer may view all usage.
                                  enum:
                                  - 0
                                  - 1
                                users:
                                  type: number
                                  description: Developer access to users.0 - Developers cannot view users, 1 - Developers may view administrators and users in their teams, 2 - Developer may view all users.
                                  enum:
                                  - 0
                                  - 1
                                  - 2
                            allow_tooling:
                              type: boolean
                              description: Grant access using tooling credentials
                            disable_analytics:
                              type: boolean
                              description: Opt out from third-party support services.
                            password_policy:
                              $ref: '#/components/schemas/PasswordPolicy'
                            redact_personal:
                              type: boolean
                              description: Personal information like email addresses will be masked in UI.
                              default: false
                        subscriptions:
                          type: array
                          default: []
                          items:
                            $ref: '#/components/schemas/Subscription'
                        support_access_code:
                          type: integer
                          description: Support Access Code for the org.
                          minimum: 10000
                          maximum: 999999
                        users:
                          type: array
                          description: List of users that are members of the organization.
                          default: []
                          items:
                            type: object
                            required:
                            - guid
                            - roles
                            additionalProperties: false
                            properties:
                              guid:
                                type: string
                                format: uuid
                                description: GUID of the user.
                              idp:
                                type: string
                                description: GUID of the Identity Provider the user is required to authenticate with to access the organization.
                              primary:
                                type: boolean
                                description: Whether the user is the primary contact for the organization.
                              roles:
                                type: array
                                description: Roles within the organization.
                                items:
                                  type: string
                                  enum:
                                  - administrator
                                  - developer
                                  - auditor
                                  - consumer
                                  - usage_reporter
                                  - api_central_admin
                        api_central:
                          type: object
                          description: Engage provision status
                          readOnly: true
                        entitlements:
                          type: object
                          readOnly: true
                          allOf:
                          - $ref: '#/components/schemas/Entitlements'
              examples:
                OrgUserprimary200Example:
                  summary: Default org_userPrimary 200 response
                  x-microcks-default: true
                  value: example_value
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                PRIMARY_NOT_ADMIN:
                  value:
                    success: false
                    description: The primary contact must be an administrator of the organization.
                    code: 400
                FORBIDDEN:
                  value:
                    $ref: '#/components/examples/FORBIDDEN/value'
                NOT_FOUND:
                  value:
                    $ref: '#/components/examples/NOT_FOUND/value'
                IDP_REQUIRED:
                  value:
                    $ref: '#/components/examples/IDP_REQUIRED/value'
                USER_NOT_ADMIN:
                  value:
                    $ref: '#/components/examples/USER_NOT_ADMIN/value'
                LOGIN_REQUIRED:
                  value:
                    $ref: '#/components/examples/LOGIN_REQUIRED/value'
                PARAM_INVALID:
                  value:
                    $ref: '#/components/examples/PARAM_INVALID/value'
                PARAM_REQUIRED:
                  value:
                    $ref: '#/components/examples/PARAM_REQUIRED/value'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                USER_NOT_MEMBER:
                  value:
                    success: false
                    description: User is not a member of this organization.
                    code: 403
      security:
      - BearerClient: []
      - SessionCookie: []
      - BearerUser: []
      parameters:
      - $ref: '#/components/parameters/fields'
        example: example_value
      - $ref: '#/components/parameters/exclude_fields'
        example: example_value
      - in: path
        name: org_id
        required: true
        schema:
          type: string
          description: '`guid` or `org_id` of the org.'
        example: 507f1f77bcf86cd799439011
      - in: path
        name: user_guid
        required: true
        schema:
          type: string
          description: guid of the user to set as the primary contact.
        example: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /org/{org_id}/user/{user_guid}:
    parameters: []
    get:
      summary: Axway Get Org User
      description: "Returns single user for an org\n\n___Auth Requirement___\n - _One of_\n     - Access to the organization, allowing consumer role.\n     - Auth token.\n\n\n_Allows consumer organization access_\n"
      externalDocs:
        description: Managing Users
        url: https://docs.axway.com/bundle/platform-management/page/docs/management_guide/organizations/managing_organizations/managing_users/index.html
      tags:
      - org
      operationId: org_userFindOne
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Response'
                - properties:
                    result:
                      type: object
                      required:
                      - activated
                      - active
                      - email
                      - firstname
                      - guid
                      - lastname
                      - user_id
                      unevaluatedProperties: false
                      properties:
                        created:
                          $ref: '#/components/schemas/DefaultFields/properties/created'
                        activated:
                          type: boolean
                          description: Whether the user has activated.
                          default: false
                        active:
                          type: boolean
                          description: Whether the user is active.
                          default: false
                        date_activated:
                          type: string
                          format: date-time
                          description: When the user activated.
                        email:
                          type: string
                          format: email
                          description: Email address of the user.
                          maxLength: 217
                        external:
                          type: boolean
                          description: Whether the user is external.
                        firstname:
                          type: string
                          description: First name of the user.
                          default: ''
                          maxLength: 50
                          x-allow-empty: true
                          x-no-tags: true
                        guid:
                          type: string
                          description: GUID of the user.
                        lastname:
                          type: string
                          description: Last name of the user.
                          default: ''
                          maxLength: 50
                          x-allow-empty: true
                          x-no-tags: true
                        last_login:
                          type: string
                          format: date-time
                          description: When the user last signed in.
                        mfa:
                          type: boolean
                          description: Whether multi-factor authentication is enabled for the user.
                        user_id:
                          type: number
                        org_id:
                          type: integer
                          description: Identifier for the organization
                        role:
                          type: string
                          description: The users default role in the organization
                        name:
                          type: string
                          description: A display name for the user taken from email or firstname and lastname if available
                        primary:
                          type: boolean
                          description: Whether the user is the primary user for the organization
                        teams:
                          oneOf:
                          - type: integer
                            description: Count of teams the user belongs to in the organization.
                          - $ref: '#/components/schemas/UserTeams'
              examples:
                OrgUserfindone200Example:
                  summary: Default org_userFindOne 200 response
                  x-microcks-default: true
                  value: example_value
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                FORBIDDEN:
                  value:
                    $ref: '#/components/examples/FORBIDDEN/value'
                NOT_FOUND:
                  value:
                    $ref: '#/components/examples/NOT_FOUND/value'
                IDP_REQUIRED:
                  value:
                    $ref: '#/components/examples/IDP_REQUIRED/value'
                USER_NOT_ADMIN:
                  value:
                    $ref: '#/components/examples/USER_NOT_ADMIN/value'
                LOGIN_REQUIRED:
                  value:
                    $ref: '#/components/examples/LOGIN_REQUIRED/value'
                PARAM_INVALID:
                  value:
                    $ref: '#/components/examples/PARAM_INVALID/value'
                PARAM_REQUIRED:
                  value:
                    $ref: '#/components/examples/PARAM_REQUIRED/value'
      security:
      - BearerClient: []
      - SessionCookie: []
      - BearerUser: []
      - AuthToken: []
      parameters:
      - $ref: '#/components/parameters/fields'
        example: example_value
      - $ref: '#/components/parameters/exclude_fields'
        example: example_value
      - in: path
        name: org_id
        required: true
        schema:
          type: string
          description: '`guid` or `org_id` of the org whose member you want to get'
        example: 507f1f77bcf86cd799439011
      - in: path
        name: user_guid
        required: true
        schema:
          type: string
          description: guid of the user whose org and team info you want to get
        example: example_value
      - in: query
        name: teams
        required: false
        deprecated: true
        schema:
          type: boolean
          description: Include name, guid, default, and roles for teams user is members of; by default, `teams` includes count of teams user is member of
          x-deprecated: This parameter has been deprecated and will be removed in a future release.
        x-deprecated: This parameter has been deprecated and will be removed in a future release.
        example: true
      - in: header
        name: x-auth-token
        required: false
        schema:
          type: string
          description: Token to authorize the request.
        example: eyJhbGciOiJIUzI1NiJ9.example
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      summary: Axway Remove User
      description: "Removes a user from the organization.\n\n___Auth Requirement___\n - `administrator` access to the organization.\n\n\n_Allows consumer organization access_\n"
      externalDocs:
        description: Managing Users
        url: https://docs.axway.com/bundle/platform-management/page/docs/management_guide/organizations/managing_organizations/managing_users/index.html
      tags:
      - org
      operationId: org_userRemove
      x-publishes:
      - com.appcelerator.platform.org.user.remove
      - event: platform.user.remove
        text: Sent if the user is no longer a member of any organizations.
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                USER_SOLE_ADMIN:
                  value:
                    success: false
                    description: The sole administrator of an organization cannot be removed.
                    code: 400
                USER_IS_PRIMARY:
                  value:
                    success: false
                    description: The primary contact of an organization cannot be removed.
                    code: 400
                FORBIDDEN:
                  value:
                    $ref: '#/components/examples/FORBIDDEN/value'
                NOT_FOUND:
                  value:
                    $ref: '#/components/examples/NOT_FOUND/value'
                IDP_REQUIRED:
                  value:
                    $ref: '#/components/examples/IDP_REQUIRED/value'
                USER_NOT_ADMIN:
                  value:
                    $ref: '#/components/examples/USER_NOT_ADMIN/value'
                LOGIN_REQUIRED:
                  value:
                    $ref: '#/components/examples/LOGIN_REQUIRED/value'
                PARAM_INVALID:
                  value:
                    $ref: '#/components/examples/PARAM_INVALID/value'
                PARAM_REQUIRED:
                  value:
                    $ref: '#/components/examples/PARAM_REQUIRED/value'
      security:
      - BearerClient: []
      - SessionCookie: []
      - BearerUser: []
      parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
          description: '`guid` or `org_id` of the organization to remove the user from'
        example: 507f1f77bcf86cd799439011
      - in: path
        name: user_guid
        required: true
        schema:
          type: string
          description: guid of the user who you want to remove
        example: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      summary: Axway Update Org Member Association
      description: "Updates a user's association to an org.\n\n___Auth Requirement___\n - `administrator` access to the organization.\n\n\n_Allows consumer organization access_\n"
      externalDocs:
        description: Managing Users
        url: https://docs.axway.com/bundle/platform-management/page/docs/management_guide/organizations/managing_organizations/managing_users/index.html
      tags:
      - org
      operationId: org_userUpdate
      x-publishes:
      - platform.org.user.role.update
      - platform.org.user.idp.update
      responses:
        '200':
          $ref: '#/components/responses/SuccessResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                NO_ADMIN_LEFT:
                  value:
                    success: false
                    description: Unable to demote user; one org admin is required.
                    code: 400
                CONFLICTING_TEAM_ROLE:
                  value:
                    success: false
                    description: '"roles" contained an invalid value: The "%s" role assigned in the team "%s" requires one of the following organization roles: %s.'
                    code: 400
                    internalCode: 747
                FORBIDDEN:
                  value:
                    $ref: '#/components/examples/FORBIDDEN/value'
                NOT_FOUND:
                  value:
                    $ref: '#/components/examples/NOT_FOUND/value'
                IDP_REQUIRED:
                  value:
                    $ref: '#/components/examples/IDP_REQUIRED/value'
                USER_NOT_ADMIN:
                  value:
                    $ref: '#/components/examples/USER_NOT_ADMIN/value'
                LOGIN_REQUIRED:
                  value:
                    $ref: '#/components/examples/LOGIN_REQUIRED/value'
                PARAM_INVALID:
                  value:
                    $ref: '#/components/examples/PARAM_INVALID/value'
                PARAM_REQUIRED:
                  value:
                    $ref: '#/components/examples/PARAM_REQUIRED/value'
      security:
      - BearerClient: []
      - SessionCookie: []
      - BearerUser: []
      parameters:
      - $ref: '#/components/parameters/fields'
        example: example_value
      - $ref: '#/components/parameters/exclude_fields'
        example: example_value
      - in: path
        name: org_id
        required: true
        schema:
          type: string
          description: '`guid` or `org_id` of the org.'
        example: 507f1f77bcf86cd799439011
      - in: path
        name: user_guid
        required: true
        schema:
          type: string
          description: guid of the user to update the association of.
        example: example_value
      requestBody:
        content:
          '*/*':
            schema:
              properties:
                idp:
                  $ref: '#/components/schemas/Org/properties/users/items/properties/idp'
                roles:
                  $ref: '#/components/schemas/Org/properties/users/items/properties/roles'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /org/{org_id}/user:
    parameters: []
    post:
      summary: Axway Add User
      description: "Adds a user to an organization.\n\n___Auth Requirement___\n - `administrator` access to the organization.\n\n\n_Allows consumer organization access_\n"
      externalDocs:
        description: Managing Users
        url: https://docs.axway.com/bundle/platform-management/page/docs/management_guide/organizations/managing_organizations/managing_users/index.html
      tags:
      - org
      operationId: org_userCreate
      x-publishes:
      - com.appcelerator.platform.org.user.create
      - event: platform.activation.send
        text: Sent if the user being added is not an activated user.
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Response'
                - properties:
                    result:
                      properties:
                        guid:
                          type: string
                          description: The guid of the added user.
              examples:
                OrgUsercreate200Example:
                  summary: Default org_userCreate 200 response
                  x-microcks-default: true
                  value: example_value
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                EXISTING_ORG_MEMBER:
                  value:
                    success: false
                    description: User is already a member of this org.
                    code: 400
                INVALID_EMAIL_DOMAIN:
                  value:
                    success: false
                    description: Sign-up is not allowed for this email domain.
                    code: 400
                    internalCode: 14
                INVALID_STAFF_INVITE:
                  value:
                    success: false
                    description: User must be activated and have an email on an allowed domain (axway.com, 74software.com) to be added to the staff organization.
                    code: 400
                ITEM_NOT_FOUND:
                  value:
                    $ref: '#/components/examples/ITEM_NOT_FOUND/value'
                USER_INVITE_DISABLED:
                  value:
                    success: false
                    description: This organization has reached the maximum number of invited users. New user invitation is temporarily disabled. Please try again later.
                    code: 400
                FORBIDDEN:
                  value:
                    $ref: '#/components/examples/FORBIDDEN/value'
                NOT_FOUND:
                  value:
                    $ref: '#/components/examples/NOT_FOUND/value'
                IDP_REQUIRED:
                  value:
                    $ref: '#/components/examples/IDP_REQUIRED/value'
                USER_NOT_ADMIN:
                  value:
                    $ref: '#/components/examples/USER_NOT_ADMIN/value'
                LOGIN_REQUIRED:
                  value:
                    $ref: '#/components/examples/LOGIN_REQUIRED/value'
                PARAM_INVALID:
                  value:
                    $ref: '#/components/examples/PARAM_INVALID/value'
                PARAM_REQUIRED:
                  value:
                    $ref: '#/components/examples/PARAM_REQUIRED/value'
      security:
      - BearerClient: []
      - SessionCookie: []
      - BearerUser: []
      parameters:
      - $ref: '#/components/parameters/fields'
        example: example_value
      - $ref: '#/components/parameters/exclude_fields'
        example: example_value
      - in: path
        name: org_id
        required: true
        schema:
          type: string
          description: '`guid` or `org_id` of the organization to add the user to'
        example: 507f1f77bcf86cd799439011
      requestBody:
        content:
          '*/*':
            schema:
              properties:
                email:
                  type: string
                  description: Email of the user to create or add
                idp:
                  $ref: '#/components/schemas/Org/properties/users/items/properties/idp'
                role:
                  type: string
                  description: Role of the user to create or add; DEPRECATED - use `roles` instead
                  x-deprecated: This parameter has been deprecated and will be removed in a future release.
                  enum:
                  - administrator
                  - developer
                  - auditor
                  - consumer
                  deprecated: true
                roles:
                  $ref: '#/components/schemas/Org/properties/users/items/properties/roles'
                suppressEmail:
                  type: boolean
                  description: Whether activation email to the user should be suppressed
                  default: false
                teams:
                  type: array
                  description: List of teams and roles to assign the user to.
                  items:
                    properties:
                      guid:
                        $ref: '#/components/schemas/Team/properties/guid'
                      roles:
                        $ref: '#/components/schemas/Team/properties/users/items/properties/roles'
              required:
              - email
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      summary: Axway Get Members
      description: "Returns members for an org\n\n___Auth Requirement___\n - _One of_\n     - Access to the organization, allowing consumer role. Developer access may be restricted by the organization users access control setting.\n     - Auth token.\n\n\n_Allows consumer organization access_\n"
      externalDocs:
        description: Managing Users
        url: https://docs.axway.com/bundle/platform-management/page/docs/management_guide/organizations/managing_organizations/managing_users/index.html
      tags:
      - org
      operationId: org_userFind
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Response'
                - properties:
                    result:
                      title: UserList
                      type: array
                      description: A list of User objects.
                      items:
                        type: object
                        required:
                        - activated
                        - active
                        - email
                        - firstname
                        - guid
                        - lastname
                        - user_id
                        unevaluatedProperties: false
                        properties:
                          created:
                            $ref: '#/components/schemas/DefaultFields/properties/created'
                          activated:
                            type: boolean
                            description: Whether the user has activated.
                            default: false
                          active:
                            type: boolean
                            description: Whether the user is active.
                            default: false
                          date_activated:
                            type: string
                            format: date-time
                            description: When the user activated.
                          email:
                            type: string
                            format: email
                            description: Email address of the user.
                            maxLength: 217
                          external:
                            type: boolean
                            description: Whether the user is external.
                          firstname:
                            type: string
                            description: First name of the user.
                            default: ''
                            maxLength: 50
                            x-allow-empty: true
                            x-no-tags: true
                          guid:
                            type: string
                            description: GUID of the user.
                          lastname:
                            type: string
                            description: Last name of the user.
                            default: ''
                            maxLength: 50
                            x-allow-empty: true
                            x-no-tags: true
                          last_login:
                            type: string
                            format: date-time
                            description: When the user last signed in.
                          mfa:
                            type: boolean
                            description: Whether multi-factor authentication is enabled for the user.
                          user_id:
                            type: number
                          org_id:
                            type: integer
                            description: Identifier for the organization
                          role:
                            type: string
                            description: The users default role in the organization
                          name:
                            type: string
                            description: A display name for the user taken from email or firstname and lastname if available
                          primary:
                            type: boolean
                            description: Whether the user is the primary user for the organization
                          teams:
                            type: integer
                            description: Count of teams the user belongs to in the organization.
                - properties:
                    metadata:
                      $ref: '#/components/schemas/ResponseMetadata'
              examples:
                OrgUserfind200Example:
                  summary: Default org_userFind 200 response
                  x-microcks-default: true
                  value: example_value
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                FORBIDDEN:
                  value:
                    $ref: '#/components/examples/FORBIDDEN/value'
                NOT_FOUND:
                  value:
                    $ref: '#/components/examples/NOT_FOUND/value'
                IDP_REQUIRED:
                  value:
                    $ref: '#/components/examples/IDP_REQUIRED/value'
                USER_NOT_ADMIN:
                  value:
                    $ref: '#/components/examples/USER_NOT_ADMIN/value'
                LOGIN_REQUIRED:
                  value:
                    $ref: '#/components/examples/LOGIN_REQUIRED/value'
                PARAM_INVALID:
                  value:
                    $ref: '#/components/examples/PARAM_INVALID/value'
                PARAM_REQUIRED:
                  value:
                    $ref: '#/components/examples/PARAM_REQUIRED/value'
      security:
      - BearerClient: []
      - SessionCookie: []
      - BearerUser: []
      - AuthToken: []
      parameters:
      - name: fields
        in: query
        description: A list of fields to include in the response.
        schema:
          type: array
          items:
            type: string
          default: created,activated,active,date_activated,email,external,firstname,guid,lastname,last_login,mfa,user_id,name,org_id,primary,role,roles,idp,teams
        example:
        - example_value
      - $ref: '#/components/parameters/exclude_fields'
        example: example_value
      - $ref: '#/components/parameters/add_fields'
        example: example_value
      - in: path
        name: org_id
        required: true
        schema:
          type: string
          description: '`guid` or `org_id` of the org whose members you want to get'
        example: 507f1f77bcf86cd799439011
      - in: query
        name: email
        required: false
        schema:
          type: array
          description: Array of user emails to filter the results
          items:
            type: string
          default: null
        example:
        - user@example.com
      - in: query
        name: primary
        required: false
        schema:
          type: string
          description: Return just the primary contact
        example: example_value
      - in: query
        name: roles
        required: false
        schema:
          type: array
          description: Search for roles
          items:
            type: string
          default: null
        example:
        - example_value
      - in: query
        name: term
        required: false
        schema:
          type: string
          description: Search term, matches name and email
          default: null
        example: example_value
      - in: query
        name: user_guid
        required: false
        schema:
          type: array
          description: Array of user guids to filter the results
          items:
            type: string
          default: null
        example:
        - example_value
      - in: query
        name: limit
        required: false
        schema:
          type: number
          minimum: 0
          maximum: 100
          description: Number of results per page. Zero will return an empty result, but the matched count in meta will be returned.
        example: 1.0
      - in: query
        name: page
        required: false
        schema:
          type: number
          description: Page of results.
          default: 1
        example: 1.0
      - in: query
        name: skip
        required: false
        schema:
          type: number
          description: Number of items to skip in results, used for pagination.
          default: 0
        example: 1.0
      - in: query
        name: sort
        required: false
        schema:
          type: array
          description: Field on which to sort results, may pass multiple comma-separated. Prefix the field name with `-` for descending order.
          items:
            type: string
            enum:
            - activated
            - email
            - firstname
            - idp
            - last_login
            - lastname
            - name
            - primary
            - role
          default:
          - -primary
          - activated
          - role
          - name
          - email
        example:
        - activated
      - in: header
        name: x-auth-token
        required: false
        schema:
          type: string
          description: Token to authorize the request.
        example: eyJhbGciOiJIUzI1NiJ9.example
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /org/{org_id}/stats:
    parameters: []
    get:
      summary: Axway Get Organization Stats
      description: "Returns stats for organization and product\n\n___Auth Requirement___\n - _One of_\n     - Access to the organization.\n     - Support access.\n"
      tags:
      - org
      operationId: org_stats
      responses:
        '200':
          $ref: '#/components/responses/SuccessResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                FORBIDDEN:
                  value:
                    $ref: '#/components/examples/FORBIDDEN/value'
                NOT_FOUND:
                  value:
                    $ref: '#/components/examples/NOT_FOUND/value'
                IDP_REQUIRED:
                  value:
                    $ref: '#/components/examples/IDP_REQUIRED/value'
                USER_NOT_ADMIN:
                  value:
                    $ref: '#/components/examples/USER_NOT_ADMIN/value'
                LOGIN_REQUIRED:
                  value:
                    $ref: '#/components/examples/LOGIN_REQUIRED/value'
                PARAM_INVALID:
                  value:
                    $ref: '#/components/examples/PARAM_INVALID/value'
                PARAM_REQUIRED:
                  value:
                    $ref: '#/components/examples/PARAM_REQUIRED/value'
      security:
      - BearerClient: []
      - SessionCookie: []
      - BearerUser: []
      parameters:
      - $ref: '#/components/parameters/fields'
        example: example_value
      - $ref: '#/components/parameters/exclude_fields'
        example: example_value
      - in: path
        name: org_id
        required: true
        schema:
          type: string
          description: '`guid` or `org_id` of the organization'
        example: 507f1f77bcf86cd799439011
      - in: query
        name: env
        required: false
        schema:
          type: string
          description: Environment id for which to return stats
        example: example_value
      - in: query
        name: from
        required: false
        schema:
          type: integer
          description: Timestamp from which stats will be returned (defaults to last 30 days)
        example: 1
      - in: query
        name: product
        required: false
        schema:
          type: string
          description: Product line for which stats will be returned
          enum:
          - APIM
          - analytics
        example: APIM
      - in: query
        name: to
        required: false
        schema:
          type: integer
          description: Timestamp to which stats will be returned (defaults to current time)
        example: 1
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /org/{org_id}:
    parameters: []
    get:
      summary: Axway Get Organization
      description: "Returns a single organization\n\n___Auth Requirement___\n - _One of_\n     - Access to the organization, allowing consumer role.\n     - Service account access token for an internal client with `platform-org-view` access.\n     - Auth token.\n\n\n_Allows consumer organization access_\n"
      tags:
      - org
      operationId: org_findOne
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Response'
                - properties:
                    result:
                      allOf:
                      - type: object
                        required:
                        - active
                        - guid
                        - name
                        - org_id
                        - region
                        - subscriptions
                        - users
                        unevaluatedProperties: false
                        allOf:
                        - $ref: '#/components/schemas/DefaultFields'
                        properties:
                          _id:
                            type: string
                            description: The id of the organization.
                            readOnly: true
                            deprecated: true
                          account_id:
                            type: integer
                            description: Account ID of the organization.
                            minimum: 10000
                            maximum: 999999
                          active:
                            type: boolean
                            description: Active state of the organization. Organizations become inactive after passing their end date.
                            default: true
                          analytics:
                            type: object
                            description: Analytics details for the organization
                            additionalProperties: false
                            properties:
                              token:
                                type: string
                                description: Token used to identify the organization.
                          api_central:
                            type: object
                            description: Engage provision status
                            readOnly: true
                          branding:
                            type: object
                            description: Organization branding.
                            additionalProperties: false
                            properties:
                              logo:
                                type: string
                                description: Logo image of the company.
                          consumer_id:
                            type: string
                            description: Mapped ID of the consumer org from the configured Identity Provider.
                          created_by:
                            type: object
                            description: Details of the user that created the organization.
                            unevaluatedProperties: false
                            properties:
                              client_id:
                                type: string
                                description: The client_id of the client that created the organization.
                                readOnly: true
                              email:
                                type: string
                                format: email
                                description: Email address of the user that created the organization.
                                readOnly: true
                              name:
                                type: string
                                description: The name of the user or client that created the organization.
                                readOnly: true
                          entitlements:
                            type: object
                            readOnly: true
                            allOf:
                            - $ref: '#/components/schemas/Entitlements'
                          guid:
                            type: string
                            format: uuid
                            description: GUID identifier for the organization
                          help_menu:
                            type: object
                            description: Contents of the help menu displayed in the navigation bar.
                            default:
                              enabled: false
                            additionalProperties: false
                            properties:
                              enabled:
                                type: boolean
                                description: Whether the custom help menu is enabled.
                                default: false
                              defaults:
                                type: boolean
                                description: Whether to include the default items.
                              icon:
                                type: string
                                description: Icon displayed in the navigation bar to show the help menu.
                              items:
                                type: array
                                description: Custom help menu shown in the navigation bar.
                                items:
                                  type: object
                                  required:
                                  - text
                                  - type
                                  - url
                                  unevaluatedProperties: false
                                  discriminator:
                                    propertyName: type
                                    mapping:
                                      url: '#/components/schemas/Org/properties/help_menu/properties/items/items/oneOf/0'
                                      document: '#/components/schemas/Org/properties/help_menu/properties/items/items/oneOf/1'
                                  oneOf:
                                  - type: object
                                    properties:
                                      type:
                                        type: string
                                        enum:
                                        - url
                                      url:
                                        type: string
                                        format: url
                                        description: URL for the link.
                                  - type: object
                                    properties:
                                      type:
                                        type: string
                                        enum:
                                        - document
                                      url:
                                        type: string
                                        description: Document resource guid
                                  properties:
                                    icon:
                                      type: string
                                      description: Icon displayed in the menu for the item.
                                    new_tab:
                                      type: boolean
                                      description: Whether the link opens in a new tab.
                                    provider_guid:
                                      type: string
                                      description: The GUID of the provider a document url is for
                                    text:
                                      type: string
                                      description: Label for the link.
                                      x-no-tags: true
                                    type:
                                      type: string
                                      description: Type of the link.
                                      enum:
                                      - document
                                      - url
                                    url:
                                      type: string
                                      description: URL, relative path, or document resource guid for the link.
                          last_login:
                            type: string
                            format: date-time
                            description: When the most recent session was created in the organization.
                            readOnly: true
                          logged_in_count:
                            type: number
                            description: How many session are been created in the organization.
                            readOnly: true
                          name:
                            type: string
                            description: Name of the organization.
                            minLength: 2
                            maxLength: 64
                            x-no-tags: true
                          onboarding_required:
                            type: array
                            readOnly: true
                            items:
                              type: string
                              pattern: '[\w-]{21}'
                          org_id:
                            type: integer
                            description: Identifier for the organization
                          origin:
                            type:
                            - string
                            - 'null'
                            description: Source from which the organization creation originated.
                            enum:
                            - '360'
                            - sfdc
                            - signup
                          pending:
                            type: boolean
                            description: Whether the organization is pending approval for a provider organization administator.
                          provider_guid:
                            type: string
                            format: uuid
                            description: GUID identifier of the owning provider if the organization is a consumer of a marketplace.
                          region:
                            type: string
                            description: The data residency region of the organization.
                            default: US
                            enum:
                            - US
                            - EU
                            - AP
                          security:
                            type: object
                            description: Security settings for the organization.
                            additionalProperties: false
                            properties:
                              access_controls:
                                type: object
                                description: Developer visibility controls.
                                additionalProperties: false
                                properties:
                                  enviroments:
                                    type: number
                                    description: Developer access to environments. 0 - Developers cannot view environments, 1 - Developer may view all environemnts.
                                    enum:
                                    - 0
                                    - 1
                                  service_accounts:
                                    type: number
                                    description: Developer access to service accounts. 0 - Developers cannot view service accounts, 1 - Developers may view service accounts in their teams, 2 - Developer may view all service accounts.
                                    enum:
                                    - 0
                                    - 1
                                    - 2
                                  usage:
                                    type: number
                                    description: Developer access to usage. 0 - Developers cannot view usage, 1 - Developer may view all usage.
                                    enum:
                                    - 0
                                    - 1
                                  users:
                                    type: number
                                    description: Developer access to users.0 - Developers cannot view users, 1 - Developers may view administrators and users in their teams, 2 - Developer may view all users.
                                    enum:
                                    - 0
                                    - 1
                                    - 2
                              allow_tooling:
                                type: boolean
                                description: Grant access using tooling credentials
                              disable_analytics:
                                type: boolean
                                description: Opt out from third-party support services.
                              password_policy:
                                $ref: '#/components/schemas/PasswordPolicy'
                              redact_personal:
                                type: boolean
                                description: Personal information like email addresses will be masked in UI.
                                default: false
                          subscriptions:
                            type: array
                            default: []
                            items:
                              $ref: '#/components/schemas/Subscription'
                          support_access_code:
                            type: integer
                            description: Support Access Code for the org.
                            minimum: 10000
                            maximum: 999999
                          users:
                            type: array
                            description: List of users that are members of the organization.
                            default: []
                            items:
                              type: object
                              required:
                              - guid
                              - roles
                              additionalProperties: false
                              properties:
                                guid:
                                  type: string
                                  format: uuid
                                  description: GUID of the user.
                                idp:
                                  type: string
                                  description: GUID of the Identity Provider the user is required to authenticate with to access the organization.
                                primary:
                                  type: boolean
                                  description: Whether the user is the primary contact for the organization.
                                roles:
                                  type: array
                                  description: Roles within the organization.
                                  items:
                                    type: string
                                    enum:
                                    - administrator
                                    - developer
                                    - auditor
                                    - consumer
                                    - usage_reporter
                                    - api_central_admin
                      properties:
                        counts:
                          type: object
                          description: Counts of objects associated to the org.
                          properties:
                            users:
                              type: integer
                              description: Number of users in the organization
                            subscriptions:
                              type: integer
                              description: Number of subscriptions for the organization
                            active_subscriptions:
                              type: integer
                              description: Number of active subscriptions for the organization
              examples:
                OrgFindone200Example:
                  summary: Default org_findOne 200 response
                  x-microcks-default: true
                  value: example_value
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                NOT_FOUND:
                  value:
                    $ref: '#/components/examples/NOT_FOUND/value'
                FORBIDDEN:
                  value:
                    $ref: '#/components/examples/FORBIDDEN/value'
                IDP_REQUIRED:
                  value:
                    $ref: '#/components/examples/IDP_REQUIRED/value'
                USER_NOT_ADMIN:
                  value:
                    $ref: '#/components/examples/USER_NOT_ADMIN/value'
                LOGIN_REQUIRED:
                  value:
                    $ref: '#/components/examples/LOGIN_REQUIRED/value'
                PARAM_INVALID:
                  value:
                    $ref: '#/components/examples/PARAM_INVALID/value'
                PARAM_REQUIRED:
                  value:
                    $ref: '#/components/examples/PARAM_REQUIRED/value'
      security:
      - BearerClient: []
      - SessionCookie: []
      - BearerUser: []
      - BearerService: []
      - AuthToken: []
      parameters:
      - $ref: '#/components/parameters/fields'
        example: example_value
      - name: exclude_fields
        in: query
        description: A list of fields to exclude from the response.
        schema:
          type: array
          items:
            type: string
          default: onboarding
        example:
        - example_value
      - $ref: '#/components/parameters/add_fields'
        example: example_value
      - in: path
        name: org_id
        required: true
        schema:
          type: string
          description: '`guid` or `org_id` of the organization'
        example: 507f1f77bcf86cd799439011
      - in: query
        name: onboarding
        required: false
        deprecated: true
        schema:
          type: boolean
          description: Opt-in to include the consumer org's onboarding data, if defined. Requires `administrator` access to the marketplace or the consumer org. Deprecated; will be removed in a future release. Use query parameter `add_fields[]=onboarding`.
          x-deprecated: This parameter has been deprecated and will be removed in a future release.
          default: false
        x-deprecated: This parameter has been deprecated and will be removed in a future release.
        example: true
      - in: header
        name: authorization
        required: false
        schema:
          type: string
          description: Bearer token in JWT format to authorize the request.
        example: example_value
      - in: header
        name: x-auth-token
        required: false
        schema:
          type: string
          description: Token to authorize the request.
        example: eyJhbGciOiJIUzI1NiJ9.example
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      summary: Axway Delete Organization
      description: "Deletes an organization and its related data from the platform and all third parties. This is a destructive and irreversible delete.\n\n___Auth Requirement___\n - _One of_\n     - Staff access.\n     - Auth token.\n     - _All of_\n         - Multi-factor authentication code (remove-org).\n         - `primary` access to the organization.\n\n\n_Allows consumer organization access_\n"
      tags:
      - org
      operationId: org_remove
      x-publishes:
      - platform.org.delete
      - marketplace.consumer.remove
      - marketplace.remove
      - event: api_central.deprovision
        text: Sent if partner has been provisioned for the org.
      - platform.user.remove
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Response'
                - properties:
                    result:
                      properties:
                        message:
                          type: string
                        org_id:
                          type: integer
              examples:
                OrgRemove200Example:
                  summary: Default org_remove 200 response
                  x-microcks-default: true
                  value: example_value
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                ORG_DELETE_OTHER_USERS:
                  value:
                    success: false
                    description: Your organization has other members that cannot be automatically deleted. In order to delete this organization all other members must be removed or belong to another organization.
                    code: 400
                FORBIDDEN:
                  value:
                    $ref: '#/components/examples/FORBIDDEN/value'
                LOGIN_REQUIRED:
                  value:
                    $ref: '#/components/examples/LOGIN_REQUIRED/value'
                AUTH_CODE_INVALID:
                  value:
                    success: false
                    description: Invalid authorization code.
                    code: 400
                NOT_FOUND:
                  value:
                    $ref: '#/components/examples/NOT_FOUND/value'
                IDP_REQUIRED:
                  value:
                    $ref: '#/components/examples/IDP_REQUIRED/value'
                USER_NOT_ADMIN:
                  value:
                    $ref: '#/components/examples/USER_NOT_ADMIN/value'
                PARAM_INVALID:
                  value:
                    $ref: '#/components/examples/PARAM_INVALID/value'
                PARAM_REQUIRED:
                  value:
                    $ref: '#/components/examples/PARAM_REQUIRED/value'
      security:
      - SessionCookie: []
      - BearerUser: []
      - AuthToken: []
      - MFA: []
      - BearerClient: []
      parameters:
      - $ref: '#/components/parameters/fields'
        example: example_value
      - $ref: '#/components/parameters/exclude_fields'
        example: example_value
      - in: path
        name: org_id
        required: true
        schema:
          type: string
          description: The org_id of the org
        example: 507f1f77bcf86cd799439011
      - in: query
        name: suppressEmail
        required: false
        schema:
          type: boolean
          description: Whether email notifications to the users of the organization should be suppressed.
        example: true
      - in: header
        name: x-auth-token
        required: false
        schema:
          type: string
          description: Token to authorize the request.
        example: eyJhbGciOiJIUzI1NiJ9.example
      - in: header
        name: x-auth-code
        required: false
        schema:
          type: string
          description: MFA code to authorize the request.
        example: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      summary: Axway Update Organization
      description: "Updates an organization.\n\n___Auth Requirement___\n - _One of_\n     - `administrator` access to the organization.\n     - Service account access token for an internal client with `platform-org-manage` access.\n\n\n_Allows consumer organization access_\n"
      tags:
      - org
      operationId: org_update
      x-publishes:
      - platform.org.update
      - event: platform.org.active
        text: Sent if the active status of the org is changed.
      - event: platform.org.inactive
        text: Sent if the active status of the org is changed.
      - event: platform.org.user.primary
        text: Sent if the primary contact is modified.
      - event: platform.org.security.update
        text: Sent if the security settings are modified.
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Response'
                - properties:
                    result:
                      type: object
                      required:
                      - active
                      - guid
                      - name
                      - org_id
                      - region
                      - subscriptions
                      - users
                      unevaluatedProperties: false
                      allOf:
                      - $ref: '#/components/schemas/DefaultFields'
                      properties:
                        _id:
                          type: string
                          description: The id of the organization.
                          readOnly: true
                          deprecated: true
                        account_id:
                          type: integer
                          description: Account ID of the organization.
                          minimum: 10000
                          maximum: 999999
                        active:
                          type: boolean
                          description: Active state of the organization. Organizations become inactive after passing their end date.
                          default: true
                        analytics:
                          type: object
                          description: Analytics details for the organization
                          additionalProperties: false
                          properties:
                            token:
                              type: string
                              description: Token used to identify the organization.
                        api_central:
                          type: object
                          description: Engage provision status
                          readOnly: true
                        branding:
                          type: object
                          description: Organization branding.
                          additionalProperties: false
                          properties:
                            logo:
                              type: string
                              description: Logo image of the company.
                        consumer_id:
                          type: string
                          description: Mapped ID of the consumer org from the configured Identity Provider.
                        created_by:
                          type: object
                          description: Details of the user that created the organization.
                          unevaluatedProperties: false
                          properties:
                            client_id:
                              type: string
                              description: The client_id of the client that created the organization.
                              readOnly: true
                            email:
                              type: string
                              format: email
                              description: Email address of the user that created the organization.
                              readOnly: true
                            name:
                              type: string
                              description: The name of the user or client that created the organization.
                              readOnly: true
                        entitlements:
                          type: object
                          readOnly: true
                          allOf:
                          - $ref: '#/components/schemas/Entitlements'
                        guid:
                          type: string
                          format: uuid
                          description: GUID identifier for the organization
                        help_menu:
                          type: object
                          description: Contents of the help menu displayed in the navigation bar.
                          default:
                            enabled: false
                          additionalProperties: false
                          properties:
                            enabled:
                              type: boolean
                              description: Whether the custom help menu is enabled.
                              default: false
                            defaults:
                              type: boolean
                              description: Whether to include the default items.
                            icon:
                              type: string
                              description: Icon displayed in the navigation bar to show the help menu.
                            items:
                              type: array
                              description: Custom help menu shown in the navigation bar.
                              items:
                                type: object
                                required:
                                - text
                                - type
                                - url
                                unevaluatedProperties: false
                                discriminator:
                                  propertyName: type
                                  mapping:
                                    url: '#/components/schemas/Org/properties/help_menu/properties/items/items/oneOf/0'
                                    document: '#/components/schemas/Org/properties/help_menu/properties/items/items/oneOf/1'
                                oneOf:
                                - type: object
                                  properties:
                                    type:
                                      type: string
                                      enum:
                                      - url
                                    url:
                                      type: string
                                      format: url
                                      description: URL for the link.
                                - type: object
                                  properties:
                                    type:
                                      type: string
                                      enum:
                                      - document
                                    url:
                                      type: string
                                      description: Document resource guid
                                properties:
                                  icon:
                                    type: string
                                    description: Icon displayed in the menu for the item.
                                  new_tab:
                                    type: boolean
                                    description: Whether the link opens in a new tab.
                                  provider_guid:
                                    type: string
                                    description: The GUID of the provider a document url is for
                                  text:
                                    type: string
                                    description: Label for the link.
                                    x-no-tags: true
                                  type:
                                    type: string
                                    description: Type of the link.
                                    enum:
                                    - document
                                    - url
                                  url:
                                    type: string
                                    description: URL, relative path, or document resource guid for the link.
                        last_login:
                          type: string
                          format: date-time
                          description: When the most recent session was created in the organization.
                          readOnly: true
                        logged_in_count:
                          type: number
                          description: How many session are been created in the organization.
                          readOnly: true
                        name:
                          type: string
                          description: Name of the organization.
                          minLength: 2
                          maxLength: 64
                          x-no-tags: true
                        onboarding_required:
                          type: array
                          readOnly: true
                          items:
                            type: string
                            pattern: '[\w-]{21}'
                        org_id:
                          type: integer
                          description: Identifier for the organization
                        origin:
                          type:
                          - string
                          - 'null'
                          description: Source from which the organization creation originated.
                          enum:
                          - '360'
                          - sfdc
                          - signup
                        pending:
                          type: boolean
                          description: Whether the organization is pending approval for a provider organization administator.
                        provider_guid:
                          type: string
                          format: uuid
                          description: GUID identifier of the owning provider if the organization is a consumer of a marketplace.
                        region:
                          type: string
                          description: The data residency region of the organization.
                          default: US
                          enum:
                          - US
                          - EU
                          - AP
                        security:
                          type: object
                          description: Security settings for the organization.
                          additionalProperties: false
                          properties:
                            access_controls:
                              type: object
                              description: Developer visibility controls.
                              additionalProperties: false
                              properties:
                                enviroments:
                                  type: number
                                  description: Developer access to environments. 0 - Developers cannot view environments, 1 - Developer may view all environemnts.
                                  enum:
                                  - 0
                                  - 1
                                service_accounts:
                                  type: number
                                  description: Developer access to service accounts. 0 - Developers cannot view service accounts, 1 - Developers may view service accounts in their teams, 2 - Developer may view all service accounts.
                                  enum:
                                  - 0
                                  - 1
                                  - 2
                                usage:
                                  type: number
                                  description: Developer access to usage. 0 - Developers cannot view usage, 1 - Developer may view all usage.
                                  enum:
                                  - 0
                                  - 1
                                users:
                                  type: number
                                  description: Developer access to users.0 - Developers cannot view users, 1 - Developers may view administrators and users in their teams, 2 - Developer may view all users.
                                  enum:
                                  - 0
                                  - 1
                                  - 2
                            allow_tooling:
                              type: boolean
                              description: Grant access using tooling credentials
                            disable_analytics:
                              type: boolean
                              description: Opt out from third-party support services.
                            password_policy:
                              $ref: '#/components/schemas/PasswordPolicy'
                            redact_personal:
                              type: boolean
                              description: Personal information like email addresses will be masked in UI.
                              default: false
                        subscriptions:
                          type: array
                          default: []
                          items:
                            $ref: '#/components/schemas/Subscription'
                        support_access_code:
                          type: integer
                          description: Support Access Code for the org.
                          minimum: 10000
                          maximum: 999999
                        users:
                          type: array
                          description: List of users that are members of the organization.
                          default: []
                          items:
                            type: object
                            required:
                            - guid
                            - roles
                            additionalProperties: false
                            properties:
                              guid:
                                type: string
                                format: uuid
                                description: GUID of the user.
                              idp:
                                type: string
                                description: GUID of the Identity Provider the user is required to authenticate with to access the organization.
                              primary:
                                type: boolean
                                description: Whether the user is the primary contact for the organization.
                              roles:
                                type: array
                                description: Roles within the organization.
                                items:
                                  type: string
                                  enum:
                                  - administrator
                                  - developer
                                  - auditor
                                  - consumer
                                  - usage_reporter
                                  - api_central_admin
              examples:
                OrgUpdate200Example:
                  summary: Default org_update 200 response
                  x-microcks-default: true
                  value: example_value
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                EXISTING_ORG_NAME:
                  value:
                    success: false
                    description: Organization names must be unique. Please enter a different organization name.
                    code: 400
                LINK_NOT_FOUND:
                  value:
                    success: false
                    description: '"help_menu.{idx}.url" contained an invalid value: Resource not found.'
                    code: 400
                    internalCode: 747
                DOCUMENT_URL:
                  value:
                    success: false
                    description: '"help_menu.{idx}.url" contained an invalid value: Document must be a URL.'
                    code: 400
                    internalCode: 747
                FORBIDDEN:
                  value:
                    $ref: '#/components/examples/FORBIDDEN/value'
                NOT_FOUND:
                  value:
                    $ref: '#/components/examples/NOT_FOUND/value'
                IDP_REQUIRED:
                  value:
                    $ref: '#/components/examples/IDP_REQUIRED/value'
                USER_NOT_ADMIN:
                  value:
                    $ref: '#/components/examples/USER_NOT_ADMIN/value'
                LOGIN_REQUIRED:
                  value:
                    $ref: '#/components/examples/LOGIN_REQUIRED/value'
                PARAM_INVALID:
                  value:
                    $ref: '#/components/examples/PARAM_INVALID/value'
                PARAM_REQUIRED:
                  value:
                    $ref: '#/components/examples/PARAM_REQUIRED/value'
      security:
      - BearerClient: []
      - SessionCookie: []
      - BearerUser: []
      - BearerService: []
      parameters:
      - $ref: '#/components/parameters/fields'
        example: example_value
      - $ref: '#/components/parameters/exclude_fields'
        example: example_value
      - in: path
        name: org_id
        required: true
        schema:
          type: string
          description: '`guid` or `org_id` of the organization to update'
        example: 507f1f77bcf86cd799439011
      - in: header
        name: authorization
        required: false
        schema:
          type: string
          description: Bearer token in JWT format to authorize the request.
        example: example_value
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                account_id:
                  $ref: '#/components/schemas/Org/properties/account_id'
                active:
                  description: Whether the org is active; can only be set by staff.
                  allOf:
                  - $ref: '#/components/schemas/Org/properties/active'
                help_menu:
                  description: Contents of the help menu displayed in the navigation bar.
                  allOf:
                  - $ref: '#/components/schemas/Org/properties/help_menu'
                logo:
                  type: string
                  description: Uploaded logo file; accepts PNG, GIF, or JPG formats only.
                  format: binary
                name:
                  $ref: '#/components/schemas/Org/properties/name'
                region:
                  $ref: '#/components/schemas/Org/properties/region'
                security:
                  $ref: '#/components/schemas/Org/properties/security'
                support_access_code:
                  $ref: '#/components/schemas/Org/properties/support_access_code'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    add_fields:
      name: add_fields
      in: query
      description: A list of fields to add to the default field set in the response.
      schema:
        type: array
        items:
          type: string
    fields:
      name: fields
      in: query
      description: A list of fields to include in the response.
      schema:
        type: array
        items:
          type: string
    exclude_fields:
      name: exclude_fields
      in: query
      description: A list of fields to exclude from the response.
      schema:
        type: array
        items:
          type: string
  schemas:
    Org:
      properties:
        account_id:
          type: integer
          description: Account ID of the organization.
          minimum: 10000
          maximum: 999999
          example: 1
        help_menu:
          type: object
          description: Contents of the help menu displayed in the navigation bar.
          default:
            enabled: false
          additionalProperties: false
          properties:
            enabled:
              type: boolean
              description: Whether the custom help menu is enabled.
              default: false
            defaults:
              type: boolean
              description: Whether to include the default items.
            icon:
              type: string
              description: Icon displayed in the navigation bar to show the help menu.
            items:
              type: array
              description: Custom help menu shown in the navigation bar.
              items:
                type: object
                required:
                - text
                - type
                - url
                unevaluatedProperties: false
                discriminator:
                  propertyName: type
                  mapping:
                    url: '#/components/schemas/Org/properties/help_menu/properties/items/items/oneOf/0'
                    document: '#/components/schemas/Org/properties/help_menu/properties/items/items/oneOf/1'
                oneOf:
                - type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - url
                    url:
                      type: string
                      format: url
                      description: URL for the link.
                - type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - document
                    url:
                      type: string
                      description: Document resource guid
                properties:
                  icon:
                    type: string
                    description: Icon displayed in the menu for the item.
                  new_tab:
                    type: boolean
                    description: Whether the link opens in a new tab.
                  provider_guid:
                    type: string
                    description: The GUID of the provider a document url is for
                  text:
                    type: string
                    description: Label for the link.
                    x-no-tags: true
                  type:
                    type: string
                    description: Type of the link.
                    enum:
                    - document
                    - url
                  url:
                    type: string
                    description: URL, relative path, or document resource guid for the link.
          example:
            enabled: true
            defaults: true
            icon: example_value
            items:
            - icon: example_value
              new_tab: true
              provider_guid: example_value
              text: example_value
              type: document
              url: https://example.com
        support_access_code:
          type: integer
          description: Support Access Code for the org.
          minimum: 10000
          maximum: 999999
          example: 1
        name:
          type: string
          description: Name of the organization.
          minLength: 2
          maxLength: 64
          x-no-tags: true
          example: Example Name
        security:
          type: object
          description: Security settings for the organization.
          additionalProperties: false
          properties:
            access_controls:
              type: object
              description: Developer visibility controls.
              additionalProperties: false
              properties:
                enviroments:
                  type: number
                  description: Developer access to environments. 0 - Developers cannot view environments, 1 - Developer may view all environemnts.
                  enum:
                  - 0
                  - 1
                service_accounts:
                  type: number
                  description: Developer access to service accounts. 0 - Developers cannot view service accounts, 1 - Developers may view service accounts in their teams, 2 - Developer may view all service accounts.
                  enum:
                  - 0
                  - 1
                  - 2
                usage:
                  type: number
                  description: Developer access to usage. 0 - Developers cannot view usage, 1 - Developer may view all usage.
                  enum:
                  - 0
                  - 1
                users:
                  type: number
                  description: Developer access to users.0 - Developers cannot view users, 1 - Developers may view administrators and users in their teams, 2 - Developer may view all users.
                  enum:
                  - 0
                  - 1
                  - 2
            allow_tooling:
              type: boolean
              description: Grant access using tooling credentials
            disable_analytics:
              type: boolean
              description: Opt out from third-party support services.
            password_policy:
              $ref: '#/components/schemas/PasswordPolicy'
            redact_personal:
              type: boolean
              description: Personal information like email addresses will be masked in UI.
              default: false
          example:
            access_controls:
              enviroments: 0
              service_accounts: 0
              usage: 0
              users: 0
            allow_tooling: true
            disable_analytics: true
            password_policy:
              length: 1
              max_length: 1
              lower: 1
              upper: 1
              special: 1
              digit: 1
              lockout: 1
              renewal: 1
              history: 1
            redact_personal: true
        region:
          type: string
          description: The data residency region of the organization.
          default: US
          enum:
          - US
          - EU
          - AP
[...]
