{
  "openapi": "3.1.0",
  "info": {
    "version": "16.10.0",
    "title": "Amplify Platform API v1.0.0",
    "description": "The Amplify Platform API provides the interface to perform the following:\n- Manage account settings and credentials\n- Manage organization settings, users, service accounts, and teams\n- Retrieve organization usage data\n- Register and manage applications\n- Retrieve application metrics and analytics\n- Retrieve user, organization, and application activity\n\nSee the <a href=\"https://docs.axway.com/bundle/amplify-central/page/docs/integrate_with_central/platform-auth-examples/index.html\" target=\"_blank\">Amplify Guide</a> for documentation and examples on how to authorize API calls to platform services.\n\nFor general documentation refer to the <a href=\"https://docs.axway.com/category/platform\" target=\"_blank\">Amplify Platform documentation</a>.\n\n&copy; Axway 2026. All rights reserved.",
    "contact": {
      "email": "support@axway.com"
    },
    "termsOfService": "https://www.axway.com/en/axway-platform-terms-of-use"
  },
  "servers": [
    {
      "url": "https://platform.axway.com/api/v1"
    }
  ],
  "components": {
    "parameters": {
      "add_fields": {
        "name": "add_fields",
        "in": "query",
        "description": "A list of fields to add to the default field set in the response.",
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "exclude_fields": {
        "name": "exclude_fields",
        "in": "query",
        "description": "A list of fields to exclude from the response.",
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "fields": {
        "name": "fields",
        "in": "query",
        "description": "A list of fields to include in the response.",
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "responses": {
      "AnalyticsResponse": {
        "description": "Analytics Query Response",
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/Response"
                },
                {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the request was successful.",
                      "default": true
                    },
                    "result": {
                      "oneOf": [
                        {
                          "type": "array",
                          "title": "Mutli query response",
                          "items": {
                            "properties": {
                              "data": {
                                "type": "object",
                                "description": "The analytics data."
                              },
                              "last_fetched": {
                                "type": "string",
                                "description": "When the data returned was last fetched."
                              }
                            }
                          }
                        },
                        {
                          "title": "Single query response",
                          "properties": {
                            "data": {
                              "type": "object",
                              "description": "The analytics data."
                            },
                            "last_fetched": {
                              "type": "string",
                              "description": "When the data returned was last fetched."
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "BaseResponse": {
        "description": "Response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Response"
            }
          }
        }
      },
      "ErrorResponse": {
        "description": "Error Response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "SuccessResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Success"
            }
          }
        }
      }
    },
    "schemas": {
      "Activation": {
        "type": "object",
        "properties": {
          "created": {
            "$ref": "#/components/schemas/DefaultFields/properties/created"
          },
          "expire": {
            "type": "string",
            "description": "Timestamp of when the record expired.",
            "example": "example_value"
          },
          "guid": {
            "type": "string",
            "description": "Identifier for the activation record.",
            "example": "example_value"
          },
          "type": {
            "type": "string",
            "description": "Type of record.",
            "example": "example_value"
          },
          "updated": {
            "$ref": "#/components/schemas/DefaultFields/properties/created"
          },
          "user_guid": {
            "type": "string",
            "description": "GUID of the user the activation record is for.",
            "example": "example_value"
          }
        }
      },
      "Application": {
        "type": "object",
        "required": [
          "guid",
          "name",
          "org_guid",
          "platform",
          "type"
        ],
        "unevaluatedProperties": false,
        "allOf": [
          {
            "$ref": "#/components/schemas/DefaultFields"
          }
        ],
        "if": {
          "type": "object",
          "title": "Document Resource",
          "properties": {
            "type": {
              "type": "string",
              "enum": [
                "documentresource"
              ]
            }
          }
        },
        "then": {
          "type": "object",
          "title": "Document Resource",
          "properties": {
            "default_lang": {
              "type": [
                "string",
                "null"
              ],
              "enum": [
                "en-US",
                "fr-FR",
                "de-DE",
                "pt-BR"
              ]
            },
            "description": {
              "type": "object",
              "description": "Description of the application.",
              "properties": {
                "en-US": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "description": "English language value.",
                  "x-no-tags": true
                },
                "fr-FR": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "description": "French language value.",
                  "x-no-tags": true
                },
                "de-DE": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "description": "German language value.",
                  "x-no-tags": true
                },
                "pt-BR": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "description": "Portuguese language value.",
                  "x-no-tags": true
                }
              }
            },
            "name": {
              "type": "object",
              "description": "Name of the application.",
              "properties": {
                "en-US": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "description": "English language value.",
                  "x-no-tags": true
                },
                "fr-FR": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "description": "French language value.",
                  "x-no-tags": true
                },
                "de-DE": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "description": "German language value.",
                  "x-no-tags": true
                },
                "pt-BR": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "description": "Portuguese language value.",
                  "x-no-tags": true
                }
              }
            },
            "url": {
              "type": "object",
              "description": "URL for the application.",
              "properties": {
                "en-US": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "description": "English language value.",
                  "x-no-tags": true
                },
                "fr-FR": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "description": "French language value.",
                  "x-no-tags": true
                },
                "de-DE": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "description": "German language value.",
                  "x-no-tags": true
                },
                "pt-BR": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "description": "Portuguese language value.",
                  "x-no-tags": true
                }
              }
            }
          }
        },
        "else": {
          "type": "object",
          "title": "Other Type",
          "properties": {
            "description": {
              "type": "string",
              "description": "Description of the application.",
              "x-no-tags": true
            },
            "name": {
              "type": "string",
              "description": "Name of the application.",
              "x-no-tags": true
            },
            "url": {
              "type": "string",
              "description": "URL for the application.",
              "x-no-tags": true
            }
          }
        },
        "properties": {
          "_id": {
            "type": "string",
            "description": "ID of the application.",
            "readOnly": true,
            "deprecated": true,
            "example": "507f1f77bcf86cd799439011"
          },
          "apis": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "example_value"
            ]
          },
          "automatic": {
            "type": "boolean",
            "example": true
          },
          "env": {
            "type": "string",
            "example": "example_value"
          },
          "guid": {
            "type": "string",
            "description": "Application guid.",
            "example": "example_value"
          },
          "org_guid": {
            "type": "string",
            "description": "The `guid` of the org the application belongs to.",
            "example": "example_value"
          },
          "platform": {
            "type": "string",
            "description": "Name of the platform the application being developed for.",
            "example": "example_value"
          },
          "provider_guid": {
            "type": "string",
            "example": "example_value"
          },
          "providers": {
            "type": "array",
            "description": "The provider marketplaces the application is published to. Set for \"product\" and \"documentresource\" applications.",
            "items": {
              "type": "object",
              "required": [
                "guid"
              ],
              "properties": {
                "guid": {
                  "type": "string",
                  "description": "The `guid` of the provider marketplace."
                },
                "published_id": {
                  "type": "string",
                  "description": "The published id of the application in the provider marketplace."
                }
              }
            },
            "example": [
              {
                "guid": "example_value",
                "published_id": "507f1f77bcf86cd799439011"
              }
            ]
          },
          "source": {
            "type": "string",
            "x-no-tags": true,
            "example": "example_value"
          },
          "subtype": {
            "type": "string",
            "x-no-tags": true,
            "example": "example_value"
          },
          "type": {
            "type": "string",
            "description": "Type of the application",
            "x-no-tags": true,
            "example": "example_value"
          }
        }
      },
      "Client": {
        "type": "object",
        "required": [
          "guid",
          "name",
          "org_guid",
          "roles",
          "tags"
        ],
        "unevaluatedProperties": false,
        "allOf": [
          {
            "$ref": "#/components/schemas/DefaultFields"
          }
        ],
        "if": {
          "type": "object",
          "title": "Certificate Auth",
          "required": [
            "type"
          ],
          "properties": {
            "type": {
              "type": "string",
              "enum": [
                "certificate"
              ]
            }
          }
        },
        "then": {
          "type": "object",
          "additionalProperties": false,
          "properties": {
            "key_id": {
              "type": "string",
              "description": "Identifier of the public key used for the client.",
              "readOnly": true
            }
          }
        },
        "else": {
          "type": "object",
          "title": "Secret Auth",
          "additionalProperties": false
        },
        "properties": {
          "_id": {
            "type": "string",
            "description": "Document ID of the client.",
            "readOnly": true,
            "deprecated": true,
            "example": "507f1f77bcf86cd799439011"
          },
          "client_id": {
            "type": "string",
            "description": "Identifier of the client to use for authentication.",
            "example": "507f1f77bcf86cd799439011"
          },
          "guid": {
            "type": "string",
            "format": "uuid",
            "description": "`guid` of the client.",
            "example": "example_value"
          },
          "name": {
            "type": "string",
            "description": "Name of the client.",
            "x-no-tags": true,
            "example": "Example Name"
          },
          "org_guid": {
            "type": "string",
            "format": "uuid",
            "description": "`guid` of the organization the client belongs to.",
            "example": "example_value"
          },
          "roles": {
            "type": "array",
            "description": "Array of org-level role identifiers that are assigned to the client.",
            "default": [],
            "items": {
              "type": "string",
              "enum": [
                "administrator",
                "developer",
                "auditor",
                "consumer",
                "usage_reporter",
                "api_central_admin"
              ]
            },
            "example": [
              "administrator"
            ]
          },
          "tags": {
            "type": "array",
            "description": "Tags assigned to the client.",
            "default": [],
            "minItems": 0,
            "uniqueItems": true,
            "maxItems": 30,
            "items": {
              "type": "string",
              "maxLength": 40
            },
            "example": [
              "example_value"
            ]
          },
          "type": {
            "type": "string",
            "description": "Authentication method for the client.",
            "default": "secret",
            "enum": [
              "secret",
              "certificate"
            ],
            "example": "secret"
          }
        }
      },
      "Consumer": {
        "type": "object",
        "properties": {
          "active": {
            "$ref": "#/components/schemas/Org/properties/active"
          },
          "consumer_id": {
            "$ref": "#/components/schemas/Org/properties/consumer_id"
          },
          "guid": {
            "$ref": "#/components/schemas/Org/properties/guid"
          },
          "name": {
            "$ref": "#/components/schemas/Org/properties/name"
          },
          "onboarding": {
            "$ref": "#/components/schemas/Org/properties/onboarding"
          },
          "org_id": {
            "$ref": "#/components/schemas/Org/properties/org_id"
          },
          "pending": {
            "$ref": "#/components/schemas/Org/properties/pending"
          },
          "teams": {
            "oneOf": [
              {
                "type": "integer",
                "description": "Count of teams in the consumer org."
              },
              {
                "type": "object",
                "description": "Metadata of the teams in the consumer org.",
                "properties": {
                  "guid": {
                    "$ref": "#/components/schemas/Team/properties/guid"
                  },
                  "name": {
                    "$ref": "#/components/schemas/Team/properties/name"
                  }
                }
              }
            ],
            "example": "example_value"
          },
          "users": {
            "type": "integer",
            "description": "Count of users in the consumer org.",
            "example": 1
          }
        }
      },
      "CustomQuery": {
        "type": "object",
        "required": [
          "name",
          "span",
          "unit"
        ],
        "allOf": [
          {
            "$ref": "#/components/schemas/DefaultFields"
          }
        ],
        "properties": {
          "_id": {
            "type": "string",
            "description": "Identifier of the query.",
            "readOnly": true,
            "deprecated": true,
            "example": "507f1f77bcf86cd799439011"
          },
          "cross_org": {
            "type": "boolean",
            "description": "Whether the query is run against all organizations instead of just the organization it belongs to.",
            "example": true
          },
          "endpoint": {
            "type": "string",
            "format": "url",
            "description": "The analytics endpoint called for the query.",
            "example": "example_value"
          },
          "field": {
            "type": "string",
            "description": "Lexus query invoke field.",
            "example": "example_value"
          },
          "filters": {
            "type": "string",
            "format": "json",
            "description": "Lexus filters JSON.",
            "example": "example_value"
          },
          "granularity": {
            "type": "string",
            "description": "Unit of time for grouping results; with \"grquantity\", determines interval of results.",
            "enum": [
              "month",
              "day",
              "hour",
              "minute"
            ],
            "example": "month"
          },
          "groupings": {
            "type": "array",
            "description": "Field to group results by.",
            "items": {
              "type": "object",
              "required": [
                "field",
                "type"
              ],
              "additionalProperties": false,
              "properties": {
                "field": {
                  "type": "string"
                },
                "interval": {
                  "type": "integer",
                  "description": "Interval used when grouping by a numeric field.",
                  "minimum": 1
                },
                "limit": {
                  "type": "integer",
                  "description": "Maximum number of items to return for a grouping",
                  "minimum": 1
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "string",
                    "number",
                    "duration"
                  ]
                }
              }
            },
            "example": [
              {
                "field": "example_value",
                "interval": 1,
                "limit": 1,
                "type": "string"
              }
            ]
          },
          "grquantity": {
            "type": "integer",
            "description": "Number of units of time for grouping results; with \"granularity\", determines interval of results.",
            "minimum": 1,
            "maximum": 200,
            "example": 1
          },
          "guid": {
            "type": "string",
            "format": "uuid",
            "description": "Identifier for the query.",
            "example": "example_value"
          },
          "include": {
            "type": "array",
            "description": "_Find method only._ Which fields to include in each document.",
            "items": {
              "type": "string",
              "description": "Field name."
            },
            "example": [
              "example_value"
            ]
          },
          "limit": {
            "type": "integer",
            "description": "_Find method only._ How many results to include per grouping",
            "minimum": 1,
            "example": 1
          },
          "method": {
            "type": "string",
            "description": "Lexus query invoke method.",
            "example": "example_value"
          },
          "name": {
            "type": "string",
            "description": "A name to give the query.",
            "example": "Example Name"
          },
          "offset": {
            "type": "integer",
            "description": "_Find method only._ How many documents to skip.",
            "minimum": 0,
            "example": 1
          },
          "org_guid": {
            "type": "integer",
            "description": "The guid of the organization the query is saved for.",
            "example": 1
          },
          "rateGranularity": {
            "type": "string",
            "description": "_Rate method only._ The granularity at which the rate is displayed.",
            "enum": [
              "second",
              "minute",
              "hour",
              "day"
            ],
            "example": "second"
          },
          "sortField": {
            "type": "string",
            "description": "_Find method only._ Field by which to sort events.",
            "maxProperties": 1,
            "example": "example_value"
          },
          "sortOrder": {
            "type": "integer",
            "description": "_Find method only._ Order in which to sort events. 1 (ascending) or -1 (descending).",
            "enum": [
              1,
              -1
            ],
            "maxProperties": 1,
            "example": 1
          },
          "span": {
            "type": "integer",
            "description": "Number of units of time for queried date range; with \"unit\", determines queried date range.",
            "minimum": 1,
            "maximum": 200,
            "example": 1
          },
          "type": {
            "type": "string",
            "description": "Type of chart to use to display results.",
            "enum": [
              "list",
              "stream",
              "line",
              "bar"
            ],
            "example": "list"
          },
          "unit": {
            "type": "string",
            "description": "Unit of time for date range of query; with \"span\", determines queried date range.",
            "enum": [
              "quarter",
              "month",
              "week",
              "day",
              "hour",
              "minute"
            ],
            "example": "quarter"
          },
          "valueFormat": {
            "type": "string",
            "description": "How to format values for the query",
            "enum": [
              "duration",
              "percent"
            ],
            "example": "duration"
          },
          "yAxis": {
            "type": "string",
            "description": "How to display series in the y-Axis of the chart.",
            "enum": [
              "overlap",
              "stacked",
              "ratio"
            ],
            "example": "overlap"
          }
        }
      },
      "DataExport": {
        "type": "object",
        "required": [
          "guid",
          "items",
          "status",
          "user_guid"
        ],
        "additionalProperties": false,
        "properties": {
          "_id": {
            "type": "string",
            "description": "Document ID of the export.",
            "readOnly": true,
            "deprecated": true,
            "example": "507f1f77bcf86cd799439011"
          },
          "completed": {
            "type": "string",
            "format": "date-time",
            "description": "Date the export was completed",
            "example": "2026-04-21T00:00:00Z"
          },
          "created": {
            "$ref": "#/components/schemas/DefaultFields/properties/created"
          },
          "filename": {
            "type": "string",
            "format": "url",
            "description": "Location the export is saved to.",
            "example": "Example Name"
          },
          "guid": {
            "type": "string",
            "format": "uuid",
            "description": "`guid` of the export.",
            "example": "example_value"
          },
          "items": {
            "type": "array",
            "description": "Items included in the export.",
            "items": {
              "type": "string",
              "enum": [
                "user_metadata",
                "user_activity",
                "user_devices",
                "orgs",
                "org_metadata",
                "org_activity",
                "subscriptions",
                "envs",
                "teams",
                "apps",
                "providers",
                "idps",
                "domains"
              ]
            },
            "example": [
              "user_metadata"
            ]
          },
          "org_guid": {
            "type": "string",
            "description": "`guid` of the org for org specific exports.",
            "example": "example_value"
          },
          "status": {
            "type": "string",
            "description": "Status of the export.",
            "default": "pending",
            "enum": [
              "pending",
              "complete",
              "failed"
            ],
            "example": "pending"
          },
          "updated": {
            "$ref": "#/components/schemas/DefaultFields/properties/updated"
          },
          "user_guid": {
            "type": "string",
            "description": "`guid` of the user that initiated the export.",
            "example": "example_value"
          }
        }
      },
      "DefaultFields": {
        "type": "object",
        "unevaluatedProperties": false,
        "properties": {
          "created": {
            "type": "string",
            "format": "date-time",
            "description": "Date created.",
            "readOnly": true,
            "example": "2026-04-21T00:00:00Z"
          },
          "created_by": {
            "type": "object",
            "description": "Creator user or client.",
            "readOnly": true,
            "properties": {
              "guid": {
                "type": "string",
                "description": "`guid` of the creator."
              },
              "type": {
                "type": "string",
                "description": "Type of the creator.",
                "enum": [
                  "user",
                  "client"
                ]
              }
            },
            "example": {
              "guid": "example_value",
              "type": "user"
            }
          },
          "updated": {
            "type": "string",
            "format": "date-time",
            "description": "Date last updated.",
            "readOnly": true,
            "example": "2026-04-21T00:00:00Z"
          }
        }
      },
      "Domain": {
        "type": "object",
        "required": [
          "orgs",
          "tld"
        ],
        "unevaluatedProperties": false,
        "allOf": [
          {
            "$ref": "#/components/schemas/DefaultFields"
          }
        ],
        "properties": {
          "_id": {
            "type": "string",
            "description": "Document ID of the Domain.",
            "readOnly": true,
            "deprecated": true,
            "example": "507f1f77bcf86cd799439011"
          },
          "orgs": {
            "type": "array",
            "description": "Organizations associated to this Domain, their association state, and any associated Identity Providers.",
            "default": [],
            "items": {
              "type": "object",
              "required": [
                "guid",
                "status"
              ],
              "additionalProperties": false,
              "properties": {
                "enabled": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Date the Identity Provider was enabled for users on the Domain."
                },
                "associated": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Date the Domain was confirmed as associated to the Identity Provider."
                },
                "guid": {
                  "type": "string",
                  "format": "uuid",
                  "description": "`guid` of the Organization the Domain is associated to."
                },
                "idp": {
                  "type": "string",
                  "format": "uuid",
                  "description": "Identifier of the Identity Provider associated to the Domain for the Organization."
                },
                "status": {
                  "type": "number",
                  "description": "Indicator of the Organizations confirmed association to the Domain.",
                  "enum": [
                    0,
                    1,
                    2,
                    3
                  ]
                },
                "verified": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Date the Domain was verified as owned by the Organization."
                }
              }
            },
            "example": [
              {
                "enabled": "2026-04-21T00:00:00Z",
                "associated": "2026-04-21T00:00:00Z",
                "guid": "example_value",
                "idp": "example_value",
                "status": 0,
                "verified": "2026-04-21T00:00:00Z"
              }
            ]
          },
          "provider_guid": {
            "type": "string",
            "format": "uuid",
            "description": "GUID identifier of the owning Provider if the Domain is configured in context of consumers of a marketplace.",
            "example": "example_value"
          },
          "tld": {
            "type": "string",
            "format": "domain",
            "description": "Domain name.",
            "example": "example_value"
          }
        }
      },
      "Entitlement": {
        "type": "object",
        "required": [
          "type",
          "title",
          "description"
        ],
        "properties": {
          "description": {
            "type": "string",
            "description": "Description of entitlement.",
            "example": "An example description"
          },
          "title": {
            "type": "string",
            "description": "Entitlement or metric name",
            "example": "example_value"
          },
          "type": {
            "type": "string",
            "description": "Type of entitlement",
            "enum": [
              "array",
              "boolean",
              "integer",
              "number",
              "string"
            ],
            "example": "array"
          }
        }
      },
      "Entitlements": {
        "type": "object",
        "description": "Subscription entitlements",
        "properties": {
          "id": {
            "type": "string",
            "title": "ID",
            "description": "An identifier for the plan",
            "example": "507f1f77bcf86cd799439011"
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "A name for the plan",
            "example": "Example Name"
          },
          "ACT.Instances": {
            "type": "integer",
            "title": "Instances",
            "description": "Total allowed Instances.",
            "example": 1
          },
          "AgentSDK.Transactions": {
            "type": "integer",
            "title": "Third-party Gateway Traceability Agent Transactions",
            "description": "Third-party Gateway Traceability Agent Transactions per month. These are transactions instrumented using Agent SDK for vendors other than AWS, Azure, and Istio.",
            "example": 1
          },
          "provision_envs": {
            "type": "array",
            "title": "Provisioned Environments",
            "x-immutable": true,
            "x-deprecated": true,
            "items": {
              "type": "string",
              "enum": [
                "sandbox",
                "production"
              ]
            },
            "description": "Environments to provision in Integration Builder.",
            "example": [
              "sandbox"
            ]
          },
          "transactions": {
            "type": "integer",
            "title": "Integration Builder Transactions",
            "x-deprecated": true,
            "description": "Integration Builder Transactions per month.",
            "example": 1
          },
          "AI.Transactions": {
            "type": "integer",
            "title": "AI Transactions",
            "description": "AI Transactions per month.",
            "example": 1
          },
          "AISuite.Cores": {
            "type": "integer",
            "title": "AI Suite Cores",
            "description": "Total allowed AI Suite Cores.",
            "example": 1
          },
          "AISuite.InputEvents": {
            "type": "integer",
            "title": "AI Suite Incoming Records",
            "description": "AI Suite Incoming Records per month.",
            "example": 1
          },
          "AISuite.Instances": {
            "type": "integer",
            "title": "AI Suite Rule Engine Instances",
            "description": "Total allowed AI Suite Rule Engine Instances.",
            "example": 1
          },
          "AISuite.Users": {
            "type": "integer",
            "title": "AI Suite Named Users",
            "description": "Total allowed AI Suite Named Users.",
            "example": 1
          },
          "AMPG.Transactions": {
            "type": "integer",
            "title": "Amplify Gateway Transactions",
            "description": "Amplify Gateway Transactions per month.",
            "example": 1
          },
          "AMPG.Volume": {
            "type": "number",
            "title": "Amplify Gateway Volume",
            "description": "Amplify Gateway transferred volume per month in GB.",
            "example": 1.0
          },
          "AMPI.Transactions": {
            "type": "integer",
            "title": "Integration Transactions",
            "description": "Integration Transactions per month.",
            "example": 1
          },
          "AMPI.Volume": {
            "type": "number",
            "title": "Data Volume",
            "description": " transferred volume per month in GB.",
            "example": 1.0
          },
          "AOB.Transactions": {
            "type": "integer",
            "title": "Open Banking API Transactions",
            "description": "Open Banking API Transactions per month.",
            "example": 1
          },
          "API.Transactions": {
            "type": "integer",
            "title": "API Transactions",
            "description": "API Transactions per month.",
            "example": 1
          },
          "APIB.Transactions": {
            "type": "integer",
            "title": "API Builder Transactions",
            "x-deprecated": true,
            "description": "API Builder Transactions per month.",
            "example": 1
          },
          "APIM.DRCores": {
            "type": "integer",
            "title": "DR Cores",
            "description": "Total allowed DR Cores.",
            "example": 1
          },
          "APIM.NonProdCores": {
            "type": "integer",
            "title": "Non-production Cores",
            "description": "Total allowed Non-production Cores.",
            "example": 1
          },
          "APIM.ProdCores": {
            "type": "integer",
            "title": "Production Cores",
            "description": "Total allowed Production Cores.",
            "example": 1
          },
          "APIM.Transactions": {
            "type": "integer",
            "title": "API Gateway Transactions",
            "description": "API Gateway Transactions per month.",
            "example": 1
          },
          "APIM.Volume": {
            "type": "number",
            "title": "API Gateway Outbound Volume",
            "description": "API Gateway transferred volume per month in GB.",
            "example": 1.0
          },
          "APIMG.Transactions": {
            "type": "integer",
            "title": "Amplify Istio Traceability Agent Transactions",
            "description": "Amplify Istio Traceability Agent Transactions per month.",
            "example": 1
          },
          "APIP.DRCores": {
            "type": "integer",
            "title": "DR Cores",
            "description": "Total allowed DR Cores.",
            "example": 1
          },
          "APIP.NonProdCores": {
            "type": "integer",
            "title": "Non-production Cores",
            "description": "Total allowed Non-production Cores.",
            "example": 1
          },
          "APIP.ProdCores": {
            "type": "integer",
            "title": "Production Cores",
            "description": "Total allowed Production Cores.",
            "example": 1
          },
          "Automator.CockpitEssential": {
            "type": "integer",
            "title": "Automator Cockpit Essential",
            "description": "Automator Cockpit Essential.",
            "example": 1
          },
          "Automator.CockpitPlus": {
            "type": "integer",
            "title": "Automator Cockpit Plus",
            "description": "Automator Cockpit Plus.",
            "example": 1
          },
          "Automator.Points": {
            "type": "integer",
            "title": "Automator Points",
            "description": "Automator Points.",
            "example": 1
          },
          "AWS.Transactions": {
            "type": "integer",
            "title": "AWS API Gateway Traceability Agent Transactions",
            "description": "AWS API Gateway Traceability Agent Transactions per month.",
            "example": 1
          },
          "Azure.Transactions": {
            "type": "integer",
            "title": "Azure API Gateway Traceability Agent Transactions",
            "description": "Azure API Gateway Traceability Agent Transactions per month.",
            "example": 1
          },
          "B2Bi.Cores": {
            "type": "integer",
            "title": "Cores",
            "description": "Total allowed DR cores.",
            "example": 1
          },
          "B2Bi.Messages": {
            "type": "integer",
            "title": "B2Bi Messages",
            "description": "B2Bi Messages per month.",
            "example": 1
          },
          "B2Bi.Partners": {
            "type": "integer",
            "title": "B2Bi Partners",
            "description": "B2Bi Partners per month.",
            "example": 1
          },
          "B2Bi.Volume": {
            "type": "number",
            "title": "B2Bi Volume",
            "description": "B2Bi transferred volume per month in GB.",
            "example": 1.0
          },
          "B2Bi.WTPartners": {
            "type": "integer",
            "title": "Webtrader Partners",
            "description": "Total allowed Webtrader Partners.",
            "example": 1
          },
          "BN.Volume": {
            "type": "integer",
            "title": "Axway Business Network Volume",
            "description": "Axway Business Network Volume per month in KiloCharacters.",
            "example": 1
          },
          "CFT.Cores": {
            "type": "integer",
            "title": "Cores",
            "description": "Total allowed Cores.",
            "example": 1
          },
          "CFT.MSUs": {
            "type": "integer",
            "title": "MSUs",
            "description": "Total allowed MSUs.",
            "example": 1
          },
          "CFT.Sessions": {
            "type": "integer",
            "title": "Sessions",
            "description": "Total allowed Sessions.",
            "example": 1
          },
          "CFT.Transfers": {
            "type": "integer",
            "title": "CFT File Transfers",
            "description": "CFT File Transfers per month.",
            "example": 1
          },
          "CSOS.CentralSigning": {
            "type": "boolean",
            "title": "CSOS Signing Instance",
            "description": "Allow access to CSOS Signing Instance feature.",
            "example": true
          },
          "CSOS.Monitoring": {
            "type": "boolean",
            "title": "CSOS Monitoring",
            "description": "Allow access to CSOS Monitoring feature.",
            "example": true
          },
          "CSOS.Orders": {
            "type": "integer",
            "title": "CSOS Orders",
            "description": "CSOS Orders per month.",
            "example": 1
          },
          "CSOS.Partners": {
            "type": "integer",
            "title": "CSOS Partners",
            "description": "Total allowed CSOS Partners.",
            "example": 1
          },
          "CSOS.Transformation": {
            "type": "boolean",
            "title": "CSOS Transformation",
            "description": "Allow access to CSOS Transformation feature.",
            "example": true
          },
          "CSOS.Validation": {
            "type": "boolean",
            "title": "CSOS Validation Instance",
            "description": "Allow access to CSOS Validation Instance feature.",
            "example": true
          },
          "DI.Dashboards": {
            "type": "integer",
            "title": "Axway Decision Insights Dashboards",
            "description": "Total allowed Axway Decision Insights Dashboards.",
            "example": 1
          },
          "DI.Users": {
            "type": "integer",
            "title": "Axway Decision Insights Named Users",
            "description": "Total allowed Axway Decision Insights Named Users.",
            "example": 1
          },
          "DS.Cores": {
            "type": "integer",
            "title": "Datastore Cores",
            "description": "Total allowed Datastore Cores.",
            "example": 1
          },
          "DS.Users": {
            "type": "integer",
            "title": "Datastore Client Users",
            "description": "Total allowed Datastore Client Users.",
            "example": 1
          },
          "DV.EnterpriseInstances": {
            "type": "integer",
            "title": "Desktop Validator Enterprise Instances",
            "description": "Total allowed Desktop Validator Enterprise Instances.",
            "example": 1
          },
          "DV.StandardInstances": {
            "type": "integer",
            "title": "Desktop Validator Standard Instances",
            "description": "Total allowed Desktop Validator Standard Instances.",
            "example": 1
          },
          "EBICSC.Channels": {
            "type": "integer",
            "title": "EBICS Client Channels",
            "description": "Total allowed EBICS Client Channels.",
            "example": 1
          },
          "EBICSCORP.Banks": {
            "type": "integer",
            "title": "Bank Connections Allowed",
            "description": "Total allowed EBICS Corporate bank connections.",
            "example": 1
          },
          "EBICSCORP.Treasurers": {
            "type": "integer",
            "title": "Treasurer Connections Allowed",
            "description": "Total allowed EBICS Corporate treasurer connections.",
            "example": 1
          },
          "EBICSG.Customers": {
            "type": "integer",
            "title": "EBICS Client Customers",
            "description": "Total allowed EBICS Client Customers.",
            "example": 1
          },
          "EBICSG.FileTransfers": {
            "type": "integer",
            "title": "EBICS Gateway File Transfers",
            "description": "EBICS Gateway File Transfers per month.",
            "example": 1
          },
          "EBICSG.Messages": {
            "type": "integer",
            "title": "EBICS Gateway Instant Payment Messages",
            "description": "EBICS Gateway Instant Payment Messages per month.",
            "example": 1
          },
          "EBICSG.Subscriptions": {
            "type": "integer",
            "title": "EBICS Gateway Subscriptions",
            "description": "Total allowed EBICS Gateway Subscriptions.",
            "example": 1
          },
          "EI.Archives": {
            "type": "integer",
            "title": "eInvoicing Archiving Transactions",
            "description": "eInvoicing Archiving Transactions per month.",
            "example": 1
          },
          "EI.Invoices": {
            "type": "integer",
            "title": "eInvoicing Transactions",
            "description": "eInvoicing Transactions per month.",
            "example": 1
          },
          "EI.OCRTransactions": {
            "type": "integer",
            "title": "OCR eInvoicing Transactions",
            "description": "OCR eInvoicing Transactions per month.",
            "example": 1
          },
          "EI.PeppolTransactions": {
            "type": "integer",
            "title": "PEPPOL Invoicing Transactions",
            "description": "PEPPOL Invoicing Transactions per month.",
            "example": 1
          },
          "EI.Transformations": {
            "type": "integer",
            "title": "eInvoicing Transformation Transactions",
            "description": "eInvoicing Transformation Transactions per month.",
            "example": 1
          },
          "EN.Environments": {
            "type": "integer",
            "title": "Connected Environments",
            "description": "Total allowed Connected Environments.",
            "example": 1
          },
          "EN.EnvironmentsNonProd": {
            "type": "integer",
            "title": "Connected Environments (Non-production)",
            "description": "Total allowed Connected Environments (Non-production).",
            "example": 1
          },
          "EN.Services": {
            "type": "integer",
            "title": "API Services",
            "description": "Total allowed API Services.",
            "example": 1
          },
          "ESUB.ClientLicense": {
            "type": "integer",
            "title": "eSubmissions Client Licenses",
            "description": "Total allowed eSubmissions Client Licenses.",
            "example": 1
          },
          "ESUB.CommunityLicense": {
            "type": "integer",
            "title": "eSubmissions Community Licenses",
            "description": "Total allowed eSubmissions Community Licenses.",
            "example": 1
          },
          "ESUB.Messages": {
            "type": "integer",
            "title": "eSubmissions Messages",
            "description": "eSubmissions Messages per month.",
            "example": 1
          },
          "ESUB.Partners": {
            "type": "integer",
            "title": "eSubmissions (Non-Regulatory) Trading Partners",
            "description": "eSubmissions (Non-Regulatory) Trading Partners per month.",
            "example": 1
          },
          "ESUB.Regulatory": {
            "type": "integer",
            "title": "eSubmissions Regulatory Trading Partners",
            "description": "eSubmissions Regulatory Trading Partners per month.",
            "example": 1
          },
          "ESUB.T1": {
            "type": "integer",
            "title": "eSubmissions Client Tier 1",
            "description": "Total allowed eSubmissions Client Tier 1.",
            "example": 1
          },
          "ESUB.T2": {
            "type": "integer",
            "title": "eSubmissions Client Tier 2",
            "description": "Total allowed eSubmissions Client Tier 2.",
            "example": 1
          },
          "ESUB.T3": {
            "type": "integer",
            "title": "eSubmissions Client Tier 3",
            "description": "Total allowed eSubmissions Client Tier 3.",
            "example": 1
          },
          "ESUB.Volume": {
            "type": "number",
            "title": "eSubmissions Volume",
            "description": "eSubmissions transferred volume per month in GB.",
            "example": 1.0
          },
          "FAH.ApplicationConnectors": {
            "type": "integer",
            "title": "Financial Accounting Hub ApplicationConnectors",
            "description": "Total allowed Financial Accounting Hub ApplicationConnectors.",
            "example": 1
          },
          "FAH.Records": {
            "type": "integer",
            "title": "Financial Accounting Hub Records",
            "description": "Financial Accounting Hub Records per month.",
            "example": 1
          },
          "FAH.Users": {
            "type": "integer",
            "title": "Financial Accounting Hub Named Users",
            "description": "Total allowed Financial Accounting Hub Named Users.",
            "example": 1
          },
          "flows": {
            "type": "integer",
            "title": "Flow Manager Unit Flows",
            "description": "Flow Manager Unit Flows per month.",
            "example": 1
          },
          "FU.MultiPatternTransactions": {
            "type": "integer",
            "title": "Multi-Pattern Transactions",
            "description": "Multi-Pattern Transactions per month.",
            "example": 1
          },
          "HBS.Messages": {
            "type": "integer",
            "title": "Shared Usage Metric",
            "description": "Hybrid B2B Solution messages per month.",
            "example": 1
          },
          "Hub.Assets": {
            "type": "integer",
            "title": "Asset Catalog Assets",
            "description": "Total allowed Asset Catalog Assets.",
            "example": 1
          },
          "Hub.Marketplaces": {
            "type": "integer",
            "title": "Marketplaces",
            "description": "Total allowed Marketplaces.",
            "example": 1
          },
          "Hub.Subscriptions": {
            "type": "integer",
            "title": "Marketplace Subscriptions",
            "description": "Total allowed Marketplace Subscriptions.",
            "example": 1
          },
          "Hub.Transactions": {
            "type": "integer",
            "title": "Analytics Transactions",
            "description": "Analytics Transactions per month.",
            "example": 1
          },
          "INTP.Designers": {
            "type": "integer",
            "title": "Interplay Designers",
            "description": "Total allowed Interplay Designers.",
            "example": 1
          },
          "INTP.Instances": {
            "type": "integer",
            "title": "Interplay Instances",
            "description": "Total allowed Interplay Instances.",
            "example": 1
          },
          "PEPPOL.Transactions": {
            "type": "integer",
            "title": "PEPPOL Service Transactions",
            "description": "PEPPOL Service Transactions per month.",
            "example": 1
          },
          "SC.Instances": {
            "type": "integer",
            "title": "Secure Client Instances",
            "description": "Secure Client Instances.",
            "example": 1
          },
          "SC.Licenses": {
            "type": "array",
            "title": "Secure Client License Activation ID",
            "items": {
              "type": "string"
            },
            "description": "License Activation ID for Secure Client instances.",
            "example": [
              "example_value"
            ]
          },
          "SFC.Banks": {
            "type": "integer",
            "title": "Secure Financial Client Banks",
            "description": "Total allowed Secure Financial Client Banks.",
            "example": 1
          },
          "SFC.Partners": {
            "type": "integer",
            "title": "Secure Financial Client Connection Partners",
            "description": "Total allowed Secure Financial Client Connection Partners.",
            "example": 1
          },
          "SFC.Treasurers": {
            "type": "integer",
            "title": "Secure Financial Client Treasurers",
            "description": "Total allowed Secure Financial Client Treasurers.",
            "example": 1
          },
          "ST.ActiveUsers": {
            "type": "integer",
            "title": "Connections",
            "description": "Total allowed Connections.",
            "example": 1
          },
          "ST.Connections": {
            "type": "integer",
            "title": "Connections",
            "description": "Total allowed Connections.",
            "example": 1
          },
          "ST.Cores": {
            "type": "integer",
            "title": "Cores",
            "description": "Total allowed Cores.",
            "example": 1
          },
          "ST.Instances": {
            "type": "integer",
            "title": "Production Instances",
            "description": "Total allowed Production Instances.",
            "example": 1
          },
          "ST.Sessions": {
            "type": "integer",
            "title": "Sessions",
            "description": "Total allowed Sessions.",
            "example": 1
          },
          "ST.Transfers": {
            "type": "integer",
            "title": "File Transfers",
            "description": "File Transfers per month.",
            "example": 1
          },
          "ST.TransfersIn": {
            "type": "integer",
            "title": "Transfers In",
            "description": "Transfers In per month.",
            "example": 1
          },
          "ST.TransfersOut": {
            "type": "integer",
            "title": "Transfers Out",
            "description": "Transfers Out per month.",
            "example": 1
          },
          "ST.Volume": {
            "type": "number",
            "title": "Incoming Data Volume",
            "description": "Transferred data volume per month in GB.",
            "example": 1.0
          },
          "STL.Applications": {
            "type": "integer",
            "title": "Monitored Applications",
            "description": "Total allowed Monitored Applications.",
            "example": 1
          },
          "STL.CPUs": {
            "type": "integer",
            "title": "CPUs",
            "description": "Total allowed CPUs.",
            "example": 1
          },
          "STL.Users": {
            "type": "integer",
            "title": "Users",
            "description": "Total allowed Users.",
            "example": 1
          },
          "Streams.Events": {
            "type": "integer",
            "title": "Streams Events",
            "description": "Streams Events per month.",
            "example": 1
          },
          "Streams.Volume": {
            "type": "number",
            "title": "Streams Volume",
            "description": "Streams transferred volume per month in GB.",
            "example": 1.0
          },
          "SV.Users": {
            "type": "integer",
            "title": "Server Validator Users",
            "description": "Total allowed Server Validator Users.",
            "example": 1
          },
          "TNT.Compliance": {
            "type": "array",
            "title": "Compliance Module",
            "items": {
              "type": "string",
              "enum": [
                "EU",
                "SA",
                "UAE"
              ]
            },
            "example": [
              "EU"
            ]
          },
          "TNT.Lines": {
            "type": "integer",
            "title": "Manufactoring/Distributor Lines",
            "description": "Total allowed Manufactoring&#x2F;Distributor Lines.",
            "example": 1
          },
          "TNT.Packs": {
            "type": "integer",
            "title": "Unit Packs",
            "description": "Total allowed Unit Packs.",
            "example": 1
          },
          "TNT.Routing": {
            "type": "boolean",
            "title": "DSCSA Routing Service",
            "example": true
          },
          "TNT.SerialNumbers": {
            "type": "integer",
            "title": "Track & Trace Serial Numbers",
            "description": "Track &amp; Trace Serial Numbers.",
            "example": 1
          },
          "Traceable.Discovery": {
            "type": "integer",
            "title": "Traceable API Discovery",
            "description": "Total allowed Traceable API Discovery.",
            "example": 1
          },
          "Traceable.SecurityTesting": {
            "type": "boolean",
            "title": "Traceable API Security Testing",
            "description": "Allow access to Traceable API Security Testing feature.",
            "example": true
          },
          "TSIM.Cores": {
            "type": "integer",
            "title": "Cores",
            "description": "Total allowed DR cores.",
            "example": 1
          },
          "TSIM.Messages": {
            "type": "integer",
            "title": "TSIM Messages",
            "description": "TSIM Messages per month.",
            "example": 1
          },
          "TSIM.Partners": {
            "type": "integer",
            "title": "TSIM Partner Relations",
            "description": "TSIM allowed partners per month.",
            "example": 1
          },
          "TSIM.Users": {
            "type": "integer",
            "title": "ENGDAT Users",
            "description": "Total allowed ENGDAT Users.",
            "example": 1
          },
          "TSIM.Volume": {
            "type": "number",
            "title": "TSIM Volume",
            "description": "TSIM transferred volume per month in GB.",
            "example": 1.0
          },
          "VA.Policies": {
            "type": "integer",
            "title": "Policies",
            "description": "Total allowed Policies.",
            "example": 1
          },
          "VA.Repeaters": {
            "type": "integer",
            "title": "Repeater Instances",
            "description": "Total allowed Repeater Instances.",
            "example": 1
          },
          "VA.Responsers": {
            "type": "integer",
            "title": "Responser Instances",
            "description": "Total allowed Responser Instances.",
            "example": 1
          },
          "VRS.Transactions": {
            "type": "integer",
            "title": "Axway VRS Solution Transactions",
            "description": "Axway VRS Solution Transactions per month.",
            "example": 1
          },
          "WebEDI.Users": {
            "type": "integer",
            "title": "WebEDI Portal Users",
            "description": "Total allowed WebEDI Portal Users.",
            "example": 1
          },
          "WebEDI.Volume": {
            "type": "number",
            "title": "WebEDI Portal Volume",
            "description": "WebEDI Portal transferred volume per month in GB.",
            "example": 1.0
          },
          "APIConnect.Transactions": {
            "type": "integer",
            "title": "IBM APIConnect Traceability Agent Transactions",
            "description": "IBM APIConnect Traceability Agent Transactions per month.",
            "example": 1
          },
          "Apigee.Transactions": {
            "type": "integer",
            "title": "Apigee Traceability Agent Transactions",
            "description": "Apigee Traceability Agent Transactions per month.",
            "example": 1
          },
          "APIMAgent.Transactions": {
            "type": "integer",
            "title": "Axway Gateway Traceability Agent Transactions",
            "description": "Axway Gateway Traceability Agent Transactions per month.",
            "example": 1
          },
          "Kafka.Transactions": {
            "type": "integer",
            "title": "Kafka Traceability Agent Transactions",
            "description": "Kafka Traceability Agent Transactions per month.",
            "example": 1
          },
          "SAPAPIPortal.Transactions": {
            "type": "integer",
            "title": "SAP API Portal Traceability Agent Transactions",
            "description": "SAP API Portal Traceability Agent Transactions per month.",
            "example": 1
          },
          "Sensedia.Transactions": {
            "type": "integer",
            "title": "Sensedia Agent Transactions",
            "description": "Sensedia Agent Transactions per month.",
            "example": 1
          },
          "Tokens": {
            "type": "integer",
            "title": "Tokens",
            "description": "Amplify API Management Platform offering tokens per month.",
            "example": 1
          },
          "Volume": {
            "type": "integer",
            "title": "Volume",
            "description": "Amplify API Management Platform offering transaction volume per month.",
            "example": 1
          },
          "WebMethods.Transactions": {
            "type": "integer",
            "title": "Software AG webMethods Agent Transactions",
            "description": "Software AG webMethods Agent Transactions per month.",
            "example": 1
          },
          "WSO2.Transactions": {
            "type": "integer",
            "title": "WSO2 Traceability Agent Transactions",
            "description": "WSO2 Traceability Agent Transactions per month.",
            "example": 1
          },
          "AIIntegration": {
            "type": "boolean",
            "title": "AI Integration",
            "description": "Allow access to AI Integration feature.",
            "example": true
          },
          "APICompliance": {
            "type": "boolean",
            "title": "API Compliance",
            "description": "Allow access to API Compliance feature.",
            "example": true
          },
          "APIMocking": {
            "type": "boolean",
            "title": "API Mocking",
            "description": "Allow access to API Mocking feature.",
            "example": true
          },
          "catalog": {
            "type": "boolean",
            "title": "Unified Catalog Access",
            "description": "Allow access to Unified Catalog.",
            "example": true
          },
          "daysDataRetained": {
            "type": "integer",
            "title": "Data Retention",
            "description": "How long analytics events are kept in days.",
            "example": 1
          },
          "FIPS": {
            "type": "boolean",
            "title": "FIPS",
            "example": true
          },
          "idp": {
            "type": "boolean",
            "title": "External Identity Provider",
            "description": "Allow configuration of an external identity provider for authentication.",
            "example": true
          },
          "partners": {
            "type": "array",
            "title": "Partners",
            "x-immutable": [
              "AEM",
              "AMP",
              "APIM",
              "APIMG",
              "AWS",
              "Azure",
              "Bundle",
              "EN",
              "Hub",
              "Streams",
              "ai",
              "ars",
              "fc",
              "ib"
            ],
            "items": {
              "type": "string",
              "enum": [
                "aca",
                "analytics",
                "api_central"
              ]
            },
            "description": "Partners the organization has access to.",
            "example": [
              "aca"
            ]
          },
          "public_provider": {
            "type": "boolean",
            "title": "Public Marketplace",
            "description": "Allow public Marketplace features including vanity URL, unauthorized access, consumer org support, homepage content, and paid plans.",
            "example": true
          },
          "retention": {
            "type": "integer",
            "title": "Analytics Event Retention",
            "description": "Length of time analytics events are kept in days.",
            "example": 1
          },
          "retentionTransactions": {
            "type": "integer",
            "title": "Transaction Event Retention",
            "description": "Length of time transaction events are kept in days.",
            "example": 1
          }
        }
      },
      "Environment": {
        "type": "object",
        "required": [
          "guid",
          "isProduction",
          "name",
          "org_guid",
          "type"
        ],
        "unevaluatedProperties": false,
        "allOf": [
          {
            "$ref": "#/components/schemas/DefaultFields"
          }
        ],
        "properties": {
          "_id": {
            "type": "string",
            "description": "Document ID of the environment.",
            "readOnly": true,
            "deprecated": true,
            "example": "507f1f77bcf86cd799439011"
          },
          "governance": {
            "type": "string",
            "description": "Governance of the environment.",
            "enum": [
              "Customer Managed",
              "Axway Managed"
            ],
            "example": "Customer Managed"
          },
          "guid": {
            "type": "string",
            "description": "GUID of the environment.",
            "example": "example_value"
          },
          "isProduction": {
            "type": "boolean",
            "description": "Whether the environment is a production environment.",
            "default": false,
            "example": true
          },
          "name": {
            "type": "string",
            "description": "Name of the environment",
            "x-no-tags": true,
            "example": "Example Name"
          },
          "org_guid": {
            "type": "string",
            "description": "`guid` of the organization the environment is associated to.",
            "example": "example_value"
          },
          "source": {
            "type": "string",
            "example": "example_value"
          },
          "type": {
            "type": "string",
            "description": "Type of environment",
            "default": "usage",
            "enum": [
              "usage",
              "integration"
            ],
            "example": "usage"
          },
          "url": {
            "type": "string",
            "format": "secure-url",
            "description": "URL of the integration environment.",
            "example": "https://example.com"
          }
        }
      },
      "Error": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/Response"
          },
          {
            "type": "object",
            "properties": {
              "code": {
                "type": "number",
                "description": "HTTP status code."
              },
              "description": {
                "type": "string",
                "description": "A message describing the error."
              },
              "internalCode": {
                "type": "number",
                "description": "Internal code."
              }
            }
          }
        ]
      },
      "Event": {
        "type": "object",
        "required": [
          "event"
        ],
        "properties": {
          "data": {
            "type": "object",
            "description": "All custom data must go here.",
            "example": {}
          },
          "event": {
            "type": "string",
            "description": "The name of the event.",
            "example": "example_value"
          },
          "id": {
            "type": "string",
            "description": "Unique event identifier.",
            "example": "507f1f77bcf86cd799439011"
          },
          "timestamp": {
            "type": "number",
            "description": "A UTC timestamp in miliseconds.",
            "example": 1.0
          },
          "version": {
            "type": "string",
            "description": "Specification version in use.",
            "enum": [
              "4"
            ],
            "example": "4"
          }
        }
      },
      "IdentityProvider": {
        "type": "object",
        "required": [
          "guid",
          "name",
          "protocol"
        ],
        "unevaluatedProperties": false,
        "allOf": [
          {
            "$ref": "#/components/schemas/DefaultFields"
          }
        ],
        "properties": {
          "_id": {
            "type": "string",
            "description": "Document ID of the Identity Provider.",
            "deprecated": true,
            "example": "507f1f77bcf86cd799439011"
          },
          "description": {
            "type": "string",
            "description": "Description of the Identity Provider.",
            "example": "An example description"
          },
          "guid": {
            "type": "string",
            "format": "uuid",
            "description": "`guid` of the Identity Provider.",
            "example": "example_value"
          },
          "name": {
            "type": "string",
            "description": "Name of Identity Provider",
            "example": "Example Name"
          },
          "orgs": {
            "type": "array",
            "description": "Organizations associated to this Identity Provider and their user associations.",
            "default": [],
            "items": {
              "type": "object",
              "required": [
                "guid",
                "default_roles",
                "default_teams",
                "mapped_roles",
                "mapped_teams"
              ],
              "additionalProperties": false,
              "properties": {
                "case_insensitive_mapped_roles": {
                  "type": "boolean",
                  "description": "Whether to match returned mapped attribute values to expected attribute values without letter case sensitivity."
                },
                "default_roles": {
                  "type": "array",
                  "description": "Array of role identifiers that are assigned to newly provisioned users in the Organization.",
                  "items": {
                    "type": "string",
                    "enum": [
                      "administrator",
                      "developer",
                      "auditor",
                      "consumer",
                      "usage_reporter",
                      "api_central_admin"
                    ]
                  }
                },
                "default_teams": {
                  "type": "array",
                  "description": "Array of teams to assign newly provisioned users in the Organization.",
                  "default": [],
                  "items": {
                    "type": "object",
                    "required": [
                      "guid",
                      "roles"
                    ],
                    "additionalProperties": false,
                    "properties": {
                      "guid": {
                        "type": "string",
                        "format": "uuid",
                        "description": "`guid` of the team within the Organization the assign newly provisioned users."
                      },
                      "roles": {
                        "type": "array",
                        "description": "Array of role identifiers that are assigned to newly provisioned users in the team.",
                        "items": {
                          "type": "string",
                          "enum": [
                            "consumer",
                            "subscription_admin",
                            "developer",
                            "catalog_manager",
                            "subscription_approver",
                            "api_access",
                            "insights",
                            "administrator",
                            "marketplace_admin"
                          ]
                        }
                      }
                    }
                  }
                },
                "enforce_mapped_roles": {
                  "type": "boolean",
                  "description": "Whether to restrict organization role management solely to mapped IdP attributes. Any organization role(s) that a user has that does not match to an associated mapper (or the Default Organization Roles) will be removed on subsequent sign in."
                },
                "enforce_mapped_teams": {
                  "type": "boolean",
                  "description": "Whether to restrict team membership and role management solely to mapped IdP attributes. Any team memberships or roles that a user has that does not match to an associated mapper will be removed on subsequent sign in."
                },
                "guid": {
                  "type": "string",
                  "format": "uuid",
                  "description": "`guid` of the Organization the Identity Provider is associated to."
                },
                "mapped_roles": {
                  "type": "array",
                  "description": "Array of role identifiers to assign users in the Organization based on attributes defined by the Identity Provider.",
                  "default": [],
                  "items": {
                    "type": "object",
                    "required": [
                      "value",
                      "roles"
                    ],
                    "additionalProperties": false,
                    "properties": {
                      "friendly": {
                        "type": "string",
                        "description": "Friendly name of the attribute provided by the SAML Identity Provider."
                      },
                      "name": {
                        "type": "string",
                        "description": "Name of the attribute provided by the Identity Provider."
                      },
                      "roles": {
                        "type": "array",
                        "description": "Array of role identifiers to be assigned to matching users in the Organization.",
                        "items": {
                          "type": "string",
                          "enum": [
                            "administrator",
                            "developer",
                            "auditor",
                            "consumer",
                            "usage_reporter",
                            "api_central_admin"
                          ]
                        }
                      },
                      "value": {
                        "type": "string",
                        "description": "Value of the named attribute to determine whether to apply the role."
                      }
                    }
                  }
                },
                "mapped_teams": {
                  "type": "array",
                  "description": "Array of teams to assign users in the Organization based on attributes defined by the Identity Provider.",
                  "default": [],
                  "items": {
                    "type": "object",
                    "required": [
                      "team_guid",
                      "value",
                      "roles"
                    ],
                    "additionalProperties": false,
                    "properties": {
                      "friendly": {
                        "type": "string",
                        "description": "Friendly name of the attribute provided by the SAML Identity Provider."
                      },
                      "name": {
                        "type": "string",
                        "description": "Name of the attribute provided by the Identity Provider."
                      },
                      "roles": {
                        "type": "array",
                        "description": "Array of role identifiers to be assigned to matching users in the team.",
                        "items": {
                          "type": "string",
                          "enum": [
                            "consumer",
                            "subscription_admin",
                            "developer",
                            "catalog_manager",
                            "subscription_approver",
                            "api_access",
                            "insights",
                            "administrator",
                            "marketplace_admin"
                          ]
                        }
                      },
                      "team_guid": {
                        "type": "string",
                        "format": "uuid",
                        "description": "`guid` of the team within the Organization the assign matching users."
                      },
                      "value": {
                        "type": "string",
                        "description": "Value of the named attribute to determine whether to apply the team association."
                      }
                    }
                  }
                },
                "provision_adhoc": {
                  "type": "boolean",
                  "description": "Whether to automatically register users who authenticate using the Identity Provider that are not on an associated claimed email domain as members of the organization.",
                  "default": false
                },
                "restrict_domain_users": {
                  "type": "boolean",
                  "description": "Whether to automatically restrict users provisioned via domain association to authenticate using the Identity Provider.",
                  "default": false
                }
              }
            },
            "example": [
              {
                "case_insensitive_mapped_roles": true,
                "default_roles": [
                  "administrator"
                ],
                "default_teams": [
                  {
                    "guid": "example_value",
                    "roles": [
                      "consumer"
                    ]
                  }
                ],
                "enforce_mapped_roles": true,
                "enforce_mapped_teams": true,
                "guid": "example_value",
                "mapped_roles": [
                  {
                    "friendly": "example_value",
                    "name": "Example Name",
                    "roles": [
                      "administrator"
                    ],
                    "value": "example_value"
                  }
                ],
                "mapped_teams": [
                  {
                    "friendly": "example_value",
                    "name": "Example Name",
                    "roles": [
                      "consumer"
                    ],
                    "team_guid": "example_value",
                    "value": "example_value"
                  }
                ],
                "provision_adhoc": true,
                "restrict_domain_users": true
              }
            ]
          },
          "protocol": {
            "type": "string",
            "description": "Protocol the Identity Provider uses.",
            "enum": [
              "oidc",
              "saml"
            ],
            "example": "oidc"
          },
          "provider_guid": {
            "type": "string",
            "example": "example_value"
          }
        }
      },
      "Org": {
        "type": "object",
        "required": [
          "active",
          "guid",
          "name",
          "org_id",
          "region",
          "subscriptions",
          "users"
        ],
        "unevaluatedProperties": false,
        "allOf": [
          {
            "$ref": "#/components/schemas/DefaultFields"
          }
        ],
        "properties": {
          "_id": {
            "type": "string",
            "description": "The id of the organization.",
            "readOnly": true,
            "deprecated": true,
            "example": "507f1f77bcf86cd799439011"
          },
          "account_id": {
            "type": "integer",
            "description": "Account ID of the organization.",
            "minimum": 10000,
            "maximum": 999999,
            "example": 1
          },
          "active": {
            "type": "boolean",
            "description": "Active state of the organization. Organizations become inactive after passing their end date.",
            "default": true,
            "example": true
          },
          "analytics": {
            "type": "object",
            "description": "Analytics details for the organization",
            "additionalProperties": false,
            "properties": {
              "token": {
                "type": "string",
                "description": "Token used to identify the organization."
              }
            },
            "example": {
              "token": "eyJhbGciOiJIUzI1NiJ9.example"
            }
          },
          "api_central": {
            "type": "object",
            "description": "Engage provision status",
            "readOnly": true,
            "example": {}
          },
          "branding": {
            "type": "object",
            "description": "Organization branding.",
            "additionalProperties": false,
            "properties": {
              "logo": {
                "type": "string",
                "description": "Logo image of the company."
              }
            },
            "example": {
              "logo": "example_value"
            }
          },
          "consumer_id": {
            "type": "string",
            "description": "Mapped ID of the consumer org from the configured Identity Provider.",
            "example": "507f1f77bcf86cd799439011"
          },
          "created_by": {
            "type": "object",
            "description": "Details of the user that created the organization.",
            "unevaluatedProperties": false,
            "properties": {
              "client_id": {
                "type": "string",
                "description": "The client_id of the client that created the organization.",
                "readOnly": true
              },
              "email": {
                "type": "string",
                "format": "email",
                "description": "Email address of the user that created the organization.",
                "readOnly": true
              },
              "name": {
                "type": "string",
                "description": "The name of the user or client that created the organization.",
                "readOnly": true
              }
            },
            "example": {
              "client_id": "507f1f77bcf86cd799439011",
              "email": "user@example.com",
              "name": "Example Name"
            }
          },
          "entitlements": {
            "type": "object",
            "readOnly": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/Entitlements"
              }
            ],
            "example": {}
          },
          "guid": {
            "type": "string",
            "format": "uuid",
            "description": "GUID identifier for the organization",
            "example": "example_value"
          },
          "help_menu": {
            "type": "object",
            "description": "Contents of the help menu displayed in the navigation bar.",
            "default": {
              "enabled": false
            },
            "additionalProperties": false,
            "properties": {
              "enabled": {
                "type": "boolean",
                "description": "Whether the custom help menu is enabled.",
                "default": false
              },
              "defaults": {
                "type": "boolean",
                "description": "Whether to include the default items."
              },
              "icon": {
                "type": "string",
                "description": "Icon displayed in the navigation bar to show the help menu."
              },
              "items": {
                "type": "array",
                "description": "Custom help menu shown in the navigation bar.",
                "items": {
                  "type": "object",
                  "required": [
                    "text",
                    "type",
                    "url"
                  ],
                  "unevaluatedProperties": false,
                  "discriminator": {
                    "propertyName": "type",
                    "mapping": {
                      "url": "#/components/schemas/Org/properties/help_menu/properties/items/items/oneOf/0",
                      "document": "#/components/schemas/Org/properties/help_menu/properties/items/items/oneOf/1"
                    }
                  },
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "url"
                          ]
                        },
                        "url": {
                          "type": "string",
                          "format": "url",
                          "description": "URL for the link."
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "document"
                          ]
                        },
                        "url": {
                          "type": "string",
                          "description": "Document resource guid"
                        }
                      }
                    }
                  ],
                  "properties": {
                    "icon": {
                      "type": "string",
                      "description": "Icon displayed in the menu for the item."
                    },
                    "new_tab": {
                      "type": "boolean",
                      "description": "Whether the link opens in a new tab."
                    },
                    "provider_guid": {
                      "type": "string",
                      "description": "The GUID of the provider a document url is for"
                    },
                    "text": {
                      "type": "string",
                      "description": "Label for the link.",
                      "x-no-tags": true
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the link.",
                      "enum": [
                        "document",
                        "url"
                      ]
                    },
                    "url": {
                      "type": "string",
                      "description": "URL, relative path, or document resource guid for the link."
                    }
                  }
                }
              }
            },
            "example": {
              "enabled": true,
              "defaults": true,
              "icon": "example_value",
              "items": [
                {
                  "icon": "example_value",
                  "new_tab": true,
                  "provider_guid": "example_value",
                  "text": "example_value",
                  "type": "document",
                  "url": "https://example.com"
                }
              ]
            }
          },
          "last_login": {
            "type": "string",
            "format": "date-time",
            "description": "When the most recent session was created in the organization.",
            "readOnly": true,
            "example": "2026-04-21T00:00:00Z"
          },
          "logged_in_count": {
            "type": "number",
            "description": "How many session are been created in the organization.",
            "readOnly": true,
            "example": 1.0
          },
          "name": {
            "type": "string",
            "description": "Name of the organization.",
            "minLength": 2,
            "maxLength": 64,
            "x-no-tags": true,
            "example": "Example Name"
          },
          "onboarding": {
            "type": "object",
            "description": "Onboarding data for consumer org.",
            "maxProperties": 50,
            "writeOnly": true,
            "patternProperties": {
              "[\\w-]{21}": {
                "type": [
                  "string",
                  "number",
                  "boolean",
                  "array"
                ],
                "description": "Onboarding data field value.",
                "items": {
                  "type": "string",
                  "description": "Onboarding data field multi-select option value."
                }
              }
            },
            "example": {}
          },
          "onboarding_required": {
            "type": "array",
            "readOnly": true,
            "items": {
              "type": "string",
              "pattern": "[\\w-]{21}"
            },
            "example": [
              "example_value"
            ]
          },
          "org_id": {
            "type": "integer",
            "description": "Identifier for the organization",
            "example": 1
          },
          "origin": {
            "type": [
              "string",
              "null"
            ],
            "description": "Source from which the organization creation originated.",
            "enum": [
              "360",
              "sfdc",
              "signup"
            ],
            "example": "360"
          },
          "pending": {
            "type": "boolean",
            "description": "Whether the organization is pending approval for a provider organization administator.",
            "example": true
          },
          "provider_guid": {
            "type": "string",
            "format": "uuid",
            "description": "GUID identifier of the owning provider if the organization is a consumer of a marketplace.",
            "example": "example_value"
          },
          "region": {
            "type": "string",
            "description": "The data residency region of the organization.",
            "default": "US",
            "enum": [
              "US",
              "EU",
              "AP"
            ],
            "example": "US"
          },
          "security": {
            "type": "object",
            "description": "Security settings for the organization.",
            "additionalProperties": false,
            "properties": {
              "access_controls": {
                "type": "object",
                "description": "Developer visibility controls.",
                "additionalProperties": false,
                "properties": {
                  "enviroments": {
                    "type": "number",
                    "description": "Developer access to environments. 0 - Developers cannot view environments, 1 - Developer may view all environemnts.",
                    "enum": [
                      0,
                      1
                    ]
                  },
                  "service_accounts": {
                    "type": "number",
                    "description": "Developer access to service accounts. 0 - Developers cannot view service accounts, 1 - Developers may view service accounts in their teams, 2 - Developer may view all service accounts.",
                    "enum": [
                      0,
                      1,
                      2
                    ]
                  },
                  "usage": {
                    "type": "number",
                    "description": "Developer access to usage. 0 - Developers cannot view usage, 1 - Developer may view all usage.",
                    "enum": [
                      0,
                      1
                    ]
                  },
                  "users": {
                    "type": "number",
                    "description": "Developer access to users.0 - Developers cannot view users, 1 - Developers may view administrators and users in their teams, 2 - Developer may view all users.",
                    "enum": [
                      0,
                      1,
                      2
                    ]
                  }
                }
              },
              "allow_tooling": {
                "type": "boolean",
                "description": "Grant access using tooling credentials"
              },
              "disable_analytics": {
                "type": "boolean",
                "description": "Opt out from third-party support services."
              },
              "password_policy": {
                "$ref": "#/components/schemas/PasswordPolicy"
              },
              "redact_personal": {
                "type": "boolean",
                "description": "Personal information like email addresses will be masked in UI.",
                "default": false
              }
            },
            "example": {
              "access_controls": {
                "enviroments": 0,
                "service_accounts": 0,
                "usage": 0,
                "users": 0
              },
              "allow_tooling": true,
              "disable_analytics": true,
              "password_policy": {
                "length": 1,
                "max_length": 1,
                "lower": 1,
                "upper": 1,
                "special": 1,
                "digit": 1,
                "lockout": 1,
                "renewal": 1,
                "history": 1
              },
              "redact_personal": true
            }
          },
          "subscriptions": {
            "type": "array",
            "default": [],
            "items": {
              "$ref": "#/components/schemas/Subscription"
            },
            "example": [
              {
                "end_date": "2026-04-21T00:00:00Z",
                "entitlements": [
                  {
                    "key": "example_value",
                    "value": "example_value"
                  }
                ],
                "governance": "SaaS",
                "id": "507f1f77bcf86cd799439011",
                "opportunity_id": 1.0,
                "plan": "example_value",
                "product": "example_value",
                "product_name": "Example Name",
                "source": "API",
                "start_date": "2026-04-21T00:00:00Z"
              }
            ]
          },
          "support_access_code": {
            "type": "integer",
            "description": "Support Access Code for the org.",
            "minimum": 10000,
            "maximum": 999999,
            "example": 1
          },
          "users": {
            "type": "array",
            "description": "List of users that are members of the organization.",
            "default": [],
            "items": {
              "type": "object",
              "required": [
                "guid",
                "roles"
              ],
              "additionalProperties": false,
              "properties": {
                "guid": {
                  "type": "string",
                  "format": "uuid",
                  "description": "GUID of the user."
                },
                "idp": {
                  "type": "string",
                  "description": "GUID of the Identity Provider the user is required to authenticate with to access the organization."
                },
                "primary": {
                  "type": "boolean",
                  "description": "Whether the user is the primary contact for the organization."
                },
                "roles": {
                  "type": "array",
                  "description": "Roles within the organization.",
                  "items": {
                    "type": "string",
                    "enum": [
                      "administrator",
                      "developer",
                      "auditor",
                      "consumer",
                      "usage_reporter",
                      "api_central_admin"
                    ]
                  }
                }
              }
            },
            "example": [
              {
                "guid": "example_value",
[...]
